﻿@model DesignatorViewModel
@{
    ViewBag.Title = "Referensi Harga Management Page | Details";
}
@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("referensiharga.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.details")</span>
    </li>
}
<h1 class="page-title">@Html.Raw(Localization.GetLocalized("referensiharga.management.text.referensiharga.management"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.details")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label asp-for="IdDesignator" class="control-label col-md-3">
                        @Localization.GetLocalized("referensiharga.management.text.detail.iddesignator")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.IdDesignator
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Deskripsi" class="control-label col-md-3">
                        @Localization.GetLocalized("referensiharga.management.text.detail.deskripsi")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Deskripsi
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Satuan" class="control-label col-md-3">
                        @Localization.GetLocalized("referensiharga.management.text.detail.satuan")
                    </label>
                    <div class="col-md-6">
                        @Model.Satuan
                    </div>
                </div>
                <div class="form-group last">
                    <label asp-for="Hargas" class="control-label col-md-3">
                        @Localization.GetLocalized("referensiharga.management.text.detail.referensi.harga")
                    </label>
                    <div class="col-md-6">
                        @Html.DisplayFor(m => m.Hargas, "HargaDisplay")
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp; @Localization.GetLocalized("common.button.edit")</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script src="~/assets/global/plugins/jquery.number.min.js"></script>
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-paramter");
        });
    </script>
}