﻿@model DesignatorForm
@{
    ViewBag.Title = "Referensi Harga Management Page | Edit";
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("referensiharga.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.edit")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("referensiharga.management.text.referensiharga.management"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.edit")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" asp-action="Edit" method="post" id="DesignatorEdit" class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
                </div>
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })
                <div class="form-group">
                    <label asp-for="IdDesignator" class="control-label col-md-3">
                        @Localization.GetLocalized("referensiharga.management.text.create.iddesignator")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="IdDesignator">
                        <span asp-validation-for="IdDesignator" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Deskripsi" class="control-label col-md-3">
                        @Localization.GetLocalized("referensiharga.management.text.create.deskripsi")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <textarea type="text" class="form-control" asp-for="Deskripsi" rows="5" required></textarea>
                        <span asp-validation-for="Deskripsi" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Satuan" class="control-label col-md-3">
                        @Localization.GetLocalized("referensiharga.management.text.create.satuan")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="Satuan" required>
                        <span asp-validation-for="Satuan" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Hargas" class="control-label col-md-3">
                        @Localization.GetLocalized("referensiharga.management.text.create.hargas")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(m => m.Hargas, "HargaForm", new { param = "Edit" })
                    </div>
                </div>
                <div class="form-group last">
                    <div class="col-md-3 col-md-offset-3">
                        <label class="text-danger">* @Localization.GetLocalized("common.text.field.required")</label>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; @Localization.GetLocalized("common.button.save")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/assets/global/plugins/typeahead/typeahead.css" />
    <link rel="stylesheet" href="~/assets/global/plugins/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" />
}

@section Scripts {
    <script src="~/assets/global/plugins/jquery.number.min.js"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js"></script>
    <script src="~/assets/global/plugins/select2/js/select2.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-paramter");

            FormValidation.init("#DesignatorEdit");
        });
    </script>
}
