﻿@{
    ViewData["Title"] = "Referensi Harga Management Page";
}
@section breadcrumb{
    <li>
        <span>@Localization.GetLocalized("referensiharga.management.text")</span>
    </li>
}
<h1 class="page-title">@Html.Raw(Localization.GetLocalized("referensiharga.management.text.referensiharga.management"))</h1>
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.list")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-success" href="@Url.Action("Create")"><i class="fa fa-plus-circle"></i> @Localization.GetLocalized("common.button.add.new")</a>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">@Localization.GetLocalized("referensiharga.text.index.paket") :</label>
            </div>
            <div class="col-md-3">
                <select id="PaketHarga" class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <table id="table-referensiharga" class="table table-striped" cellspacing="0" width="100%">
            <colgorup>
                <col width="">
                <col width="">
                <col width="">
                <col width="">
                <col width="">
                <col width="">
                <col width="">
                <col width="260">
            </colgorup>
            <thead>
                <tr>
                    <th>@Localization.GetLocalized("referensiharga.management.text.index.iddesignator")</th>
                    <th>@Localization.GetLocalized("referensiharga.management.text.index.paketharga")</th>
                    <th>@Localization.GetLocalized("referensiharga.management.text.index.deskripsi")</th>
                    <th>@Localization.GetLocalized("referensiharga.management.text.index.satuan")</th>
                    <th>@Localization.GetLocalized("referensiharga.management.text.index.matauang")</th>
                    <th>@Localization.GetLocalized("referensiharga.management.text.index.hargamaterial")</th>
                    <th>@Localization.GetLocalized("referensiharga.management.text.index.hargajasa")</th>
                    <th>@Localization.GetLocalized("common.text.action")</th>
                </tr>
            </thead>
          
        </table>
    </div>
</div>
@{
    Html.RenderPartial("_DatatablesAssets");
}

@section Styles{
    <link rel="stylesheet" href="~/assets/global/plugins/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" />
}

@section Scripts{
    <script src="~/assets/global/plugins/jquery.number.min.js"></script>
    <script src="~/assets/global/plugins/select2/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-paramter");

            $("#PaketHarga").select2({
                placeholder: 'Select an Option',
                ajax: {
                    url: '/admin/api/designators/grup',
                    dataType: 'json',
                    type: "GET",
                    quietMillis: 500,
                    data: function (term) {
                        return {
                            query: term.term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    text: item,
                                    id: item
                                }
                            })
                        };
                    }
                }
            });

            var datatableOption = {
                listUrl: "/admin/api/designators/datatablesbypaket?paket=" + $("#PaketHarga").val(),
                detailUrl: "@Url.Action("Details")/",
                editUrl: "@Url.Action("Edit")/",
                deleteUrl: "/admin/api/designators/",
                ajaxMethod: "POST",
                deleteAlertSuccess: $L.get("referensiharga.management.text.delete.success"),
                stateSave: false,
                columnDefs: [
                         {
                             "targets": -1,
                             "data": null,
                             "defaultContent": "<button class='btn btn-success detail' title='" + $L.get("referensiharga.management.button.index.detail.title") + "'><i class='fa fa-info'></i></button>" +
                                 "<button class='btn btn-primary edit' title='" + $L.get("referensiharga.management.button.index.edit.title") + "'><i class='fa fa-edit'></i></button>" +
                                 "<button class='btn btn-danger remove' title='" + $L.get("referensiharga.management.button.index.delete.title") + "'><i class='fa fa-trash'></i></button>",
                             "orderable": false
                         },
                         {
                             "targets": 0,
                             "data": "idDesignator",
                             name: "IdDesignator"
                         },
                         {
                             "targets": 1,
                             "data": "lokasi",
                             name: "Lokasi"
                         },
                         {
                             "targets": 2,
                             "data": "deskripsi",
                             name: "Deskripsi"
                         },
                         {
                             "targets": 3,
                             "data": "satuan",
                             name: "Satuan"
                         },
                         {
                             "targets": 4,
                             "data": "mataUang",
                             name: "MataUang"
                         },
                         {
                             "targets": 5,
                             "data": "hargaMaterial",
                             name: "HargaMaterial",
                             render: function (data) {
                                 return $.number(data, 2, ',', '.');
                             },
                             className: "dt-body-right"
                         },
                         {
                             "targets": 6,
                             "data": "hargaJasa",
                             name: "HargaJasa",
                             render: function (data) {
                                 return $.number(data, 2, ',', '.');
                             },
                             className: "dt-body-right"
                         }
                ]
            }

            $datatables.init("#table-referensiharga", datatableOption);

            $("#PaketHarga").on("change", function () {
                var table = $("#table-referensiharga").DataTable();
                table.ajax.url("/admin/api/designators/datatablesbypaket?paket=" + $(this).val());
                table.ajax.reload();
            });
        });
    </script>
}