/* here you can put your own css to customize and override the theme */
.img-flag{
    width: 30px !important;
}

/*login .has-error .form-control {
    border-color: #e73d4a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}*/

.page-header.navbar .page-logo .logo-default{
    width: 162px;
    padding: 4px;
    margin-top: 6px;
}

.language-select img{
    width: 30px;
}