﻿@model AkiCover
    <div class="mt-comment-body">
        <div class="chat-form">
            <div class="input-cont">
                <textarea rows="3" class="form-control" id="textcomment"></textarea>
            </div>
            <div class="input-cont">
                <label class="mt-checkbox">
                    Saya menyetujui Dokumen ini
                    <input type="checkbox" id="IsAgree" />
                    <span></span>
                </label>
            </div>
        </div>
        <div class="mt-comment-details">
            <ul class="mt-comment-actions show">
                <li>
                    <button type="button" id="Approvedakijoget" class="btn btn-success btn-akisubmit">&nbsp;Approve</button>
                </li>
                <li>
                    <button type="button" id=retunakijoget" class="btn btn-warning btn-akireturn">&nbsp;return</button>
                </li>
                <li>
                    <button type="button" id="rejectakijoget" class="btn btn-danger btn-akireject">&nbsp;Reject</button>
                </li>
            </ul>
        </div>
    </div>

<script>
    $(document).ready(function () {
        $("#Approvedakijoget").on("click", function (e) {
            var bool = false;
            if ($('#IsAgree').is(":checked")) {
                bool = true;    // it is checked
            }
            var myLength = $("#textcomment").val().length;

            if (myLength > 10) {
                $.ajax({
                    url: "/admin/api/akis/CompliteProces/" + "@Model.Akis.Id",
                    type: "POST",
                    data: {
                        comment: $("#textcomment").val(),
                        islike: bool
                    },
                    success: function (response) {
                        if (response === "DataAkiKosong") {

                            $alert.error("Dokument Aki Tidak berhasil ditemukkan");
                        }
                        if (response === "CheckWfProcess") {

                            $alert.error("ProssedId Joget Tidak ditemukan");
                        }
                        if (response === "ApprovalTidakDitemukan") {

                            $alert.error("Approval Id Joget Tidak ditemukan");
                        }
                        if (response === "errorcomplite") {

                            $alert.error("anda tidak memiliki assgigment harap periksa joget ");
                        }
                        if (response === "ApproverTidakada") {

                            $alert.error("Approver belum terdaftar di joget");
                        }
                        else {
                            $alert.success("Berhasil melakukan  submit");
                            window.location.href = "/Admin/Aki/MyTask"
                        }

                    },
                    error: function (response) {
                        console.log(response);
                        $alert.error("Error Tidak TerIdentifikasi");
                    },
                    beforeSend: function () {
                        $("#body-overlay").removeClass("hide");
                    },
                    complete: function () {
                        $("#body-overlay").addClass("hide");
                    }
                });
            } else {
                $alert.error("Isi komentar Harus Lebih dari 10 karakter");
            }

        });

        $("#rejectakijoget").on("click", function (e) {
            e.preventDefault();// used to stop its default behaviour
            bootbox.confirm("Are you sure revision this item?", function (result) {
                if (result === true) {
                    $.ajax({
                        url: "/admin/api/akis/RejectWf/" + "@Model.Akis.Id",
                        type: "POST",
                        success: function (response) {
                            if (response === "ApprovalTidakDitemukan") {

                                $alert.error("Approval Id Joget Tidak ditemukan");
                            }
                            if (response === "errorcomplite") {

                                $alert.error("anda tidak memiliki assgigment harap periksa joget ");
                            } else {
                                $alert.success("Berhasil melakukan Reject Dokumen njki");
                                window.location.href = "/Admin/Aki/MyTask"
                            }
                           
                        },
                        error: function (response) {
                            console.log(response);
                        },
                        beforeSend: function () {
                            $("#body-overlay").removeClass("hide");
                        },
                        complete: function () {
                            $("#body-overlay").addClass("hide");
                        }
                    });
                };
            });
        });
    });
</script>