﻿@using Newtonsoft.Json
@model AkiFormNJKI
@{
    ViewBag.Title = "AKi Management Page | EDIT";
    AkiCover modelaki = ViewBag.AkiCover;
}

@section breadcrumb{
    <li>
        <a href="@Url.Action(" Index")">@Localization.GetLocalized("aki.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.edit")</span>
    </li>
}
@if (ViewBag.massageexcel != null)
{

    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
        @ViewBag.massageexcel
    </div>
}
<input type="hidden" id="hai" value="@ViewBag.listuser" />
<h1 class="page-title">@Html.Raw(Localization.GetLocalized("aki.management.text.aki.management"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">

            <table class="table" border="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td style="border-top: none !important; color:red"> <strong>Nama Investasi</strong></td>
                        <td style="border-top: none !important; color:red">:<strong> @ViewBag.AkiTittle </strong></td>
                    </tr>
                    <tr>
                        <td style="border-top: none !important; color:red"><strong> Nilai Investasi </strong></td>
                        <td style="border-top: none !important; color:red">: <strong><span class="numeric">@ViewBag.AkiNilaiProgram</span></strong></td>
                    </tr>
                    <tr>
                        <td style="border-top: none !important; color:red"><strong>Penanggung Jawab </strong> </td>
                        <td style="border-top: none !important; color:red">:<strong> @ViewBag.penanggungJawab </strong></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action(" Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" asp-action="CreateValuation" method="post" id="AkiCreate" class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
                </div>
                <input type="hidden" asp-for="PeriodId" />
                <input type="hidden" asp-for="StrategiInitiativeId" />
                <input type="hidden" asp-for="ProgramId" />
                <input type="hidden" asp-for="PeriodName" />
                <input type="hidden" asp-for="StrategiInitiativeName" />
                <input type="hidden" asp-for="ProgramName" />
                <input type="hidden" asp-for="AkiCover.LevelValue" />
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="AkiCover.PenanggungJawabvalue" />
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })
                <div class="row">
                    <div class="col-md-6">
                        <div class="portlet red-sunglo box">
                            <div class="portlet-title">
                                <div class="caption">
                                    Step 3.1
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="form-group">
                                    <span class="control-label col-md-4" style="margin-left: -15px !important"><strong>Kinerja Bisnis sampai tahun ke @Model.AkiCover.PaybackPeriode </strong></span><hr style="border-top-color:#fff " />
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        @Localization.GetLocalized("aki.management.irr")
                                        <span class="text-danger"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <input type="number" asp-for="AkiCover.IRR" class="form-control" style="text-align:right;" />
                                        <span asp-validation-for="AkiCover.IRR" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        @Localization.GetLocalized("aki.management.npv")
                                        <span class="text-danger"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <input type="number" asp-for="AkiCover.NPV" class="form-control" style="text-align:right;" />
                                        <span asp-validation-for="AkiCover.NPV" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        @Localization.GetLocalized("aki.management.pbp")
                                        <span class="text-danger"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <input type="number" asp-for="AkiCover.PaybackPeriode" class="form-control" style="text-align:right;" />
                                        <span asp-validation-for="AkiCover.PaybackPeriode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        @Localization.GetLocalized("aki.management.bcr")
                                        <span class="text-danger"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <input type="number" asp-for="AkiCover.BCR" class="form-control" style="text-align:right;" />
                                        <span asp-validation-for="AkiCover.BCR" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="portlet red-sunglo box">
                            <div class="portlet-title">
                                <div class="caption">
                                    Step 3.2
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="form-group">
                                    <label class="control-label col-md-4" style="margin-left: -15px !important"><strong>Asumsi yang digunakan </strong></label><hr style="border-top-color:#fff " />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            @Localization.GetLocalized("aki.management.cagr")
                                        </label>
                                        <div class="col-md-9">
                                            <input asp-for="AkiCover.CAGR" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            @Localization.GetLocalized("aki.management.discount.rate")
                                        </label>
                                        <div class="col-md-9">
                                            <input type="number" asp-for="AkiCover.DiscountRate" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            @Localization.GetLocalized("aki.management.arpu")
                                        </label>
                                        <div class="col-md-9">
                                            <input asp-for="AkiCover.ARPU" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Pilih Approver
                                            <span class="text-danger"> * </span>
                                        </label>
                                        <div class="col-md-9">
                                            <button type="button" id="chooseApproverBtn" class="btn btn-primary">Pilih Approver</button>
                                            @*<select class="form-control" id="select-listUser" asp-for="listUser" multiple="multiple" required>
                        <option value=""></option>
                    </select>*@
                                            <input type="hidden" asp-for="listUser" />
                                            <span asp-validation-for="listUser" class="text-danger"></span>

                                            <table class="table table-striped margin-top-15" id="choosenApprover">
                                                <thead>
                                                    <tr>
                                                        <th>Approver Dipilih</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td colspan="2">Belum ada approver dipilih</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group last">
                    <div class="col-md-4 col-md-offset-2">
                        <label class="text-danger">* @Localization.GetLocalized("common.text.field.required")</label>
                    </div>
                </div>
            </div>
            <div class="portlet red-sunglo box">
                <div class="portlet-title">
                    <div class="caption">
                        Valuation
                    </div>
                </div>
                <div class="portlet-body">
                    <table id="table-role" class="table table-striped" cellspacing="0" width="100%">

                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>Revenue</th>
                                <th>Expenses</th>
                                <th>Ebitda</th>
                                <th>Depreciation</th>
                                <th>Ebit</th>
                                <th>Taxes</th>
                                <th>Net Income</th>
                                <th>Add Back Depreciation</th>
                                <th>Net Cash flow</th>
                                <th>Cumulative Net Cash flow</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in modelaki.Akis.AkiValuations)
                            {

                                <tr>
                                    <td>@x.Year</td>
                                    <td><span class='numeric'>@x.Revenue</span></td>
                                    <td><span class='numeric'>@x.Expenses</span></td>
                                    <td><span class='numeric'>@x.Ebitda</span></td>
                                    <td><span class='numeric'>@x.Depreciation</span></td>
                                    <td><span class='numeric'>@x.Ebit</span></td>
                                    <td><span class='numeric'>@x.Taxes</span></td>
                                    <td><span class='numeric'>@x.NetIncome</span></td>
                                    <td><span class='numeric'>@x.AddBackDepresiation</span></td>
                                    <td><span class='numeric'>@x.NetCashFlow</span></td>
                                    <td><span class='numeric'>@x.CumulativeNetCashFlow</span></td>
                                </tr>


                            }
                        </tbody>
                    </table>


                </div>
            </div>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-12">
                        <div class="custom" style="float:right !important;">
                            <a href="/Admin/Aki/CreateNJKI/@Model.Id" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i>&nbsp;Kembali</a>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Simpan Draft</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modalApprover" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Pilih Approver</h4>
            </div>
            <div class="modal-body">
                <table id="table-approver" class="table table-striped" cellspacing="0" width="100%">
                    <colgroup>
                        <col width="10%" />
                        <col width="15%" />
                        <col width="35%" />
                        <col width="40%" />
                    </colgroup>
                    <thead>
                        <tr>

                            <th>
                                NIK
                            </th>
                            <th>
                                Nama
                            </th>
                            <th>
                                Jabatan
                            </th>
                            <th>
                                Pilih
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="selectApproverBtn">Pilih Approver</button>
            </div>
        </div>
    </div>
</div>

@{
    Html.RenderPartial("_DatatablesAssets");
}

@section styles{
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/js/eonasdan/css/bootstrap-datetimepicker.min.css">
}

@section scripts {
    <script src="~/assets/global/plugins/jquery-repeater/jquery.repeater.js"></script>
    <script src="~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>
    <script src="~/assets/global/plugins/jquery.number.min.js"></script>
    <script src="~/js/eonasdan/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/autoNumeric.js" type="text/javascript"></script>
    <script>

        $(document).ready(function () {
            var datatableOption = {
                ajaxMethod: "POST",
                listUrl: "/admin/api/users/GetDataFromNIK",
                detailUrl: "@Url.Action("Details")/",
                editUrl: "@Url.Action("Edit")/",
                deleteUrl: "/admin/api/users/",
                deleteAlertSuccess: $L.get("user.management.text.delete.success"),
                'select': {
                    'style': 'multi'
                },
                columnDefs: [
                    {
                        "targets": -1,
                        "data": null,
                        "sortable": false,
                        render: function(){
                            return '<button type="button" class="btn btn-default btn-sm selectRowApprover"><i class="fa fa-check"></i></button>';
                        }
                    },
                         {
                             "targets": 0,
                             "data": "id",
                             name: "id"
                         },
                         {
                             "targets": 1,
                             "data": "name",
                             name: "name"
                         },
                         {
                             "targets": 2,
                             "data": "jabatan",
                             name: "jabatan"
                         }

                ]
            }

            $datatables.init("#table-approver", datatableOption);

            $('#table-approver tbody').on( 'click', '.selectRowApprover', function () {
                var current_row = $(this).parents('tr');//Get the current row
                if (current_row.hasClass('child')) {//Check if the current row is a child row
                    current_row = current_row.prev();//If it is, then point to the row before it (its 'parent')
                }
                $(current_row).toggleClass('selected');
            } );

            $("#chooseApproverBtn").on("click", function(e){
                $("#modalApprover").modal("show");
            });

            $("#selectApproverBtn").on("click", function(e){
                var selectedApprover = [];
                var selectedApproverHtml = "";

                var rows_selected = $('#table-approver').DataTable().rows('.selected').data();

                $.each(rows_selected, function(index, data){
                    selectedApprover.push(data.id);
                    selectedApproverHtml += '<tr>' +
                             '<td>' + data.name + '</td>' +
                             '<td><button type="button" class="btn btn-danger btn-sm removeApprover" data-id="'+ data.id +'"><i class="fa fa-times"></i></button></td>' +
                             '</tr>';
                });

                $("#listUser").val(selectedApprover);

                $("#choosenApprover").find("tbody").html(selectedApproverHtml);

                $("#modalApprover").modal("hide");
            });

            $(document).on("click", ".removeApprover", function(e){
                e.preventDefault();
                var self = $(this);

                var value = $("#listUser").val().split(",");
                var idx;
                for(var i = 0; i < value.length; i++){
                    if(self.data("id") == value[i]){
                        idx = value.indexOf(value[i]);

                    }
                }

                value.splice(idx, 1);
                $("#listUser").val(value);

                self.parent().parent().remove();
            });

            $(".btn-akiSubmit").on("click", function (e) {
                $.ajax({
                    url: "/admin/api/akis/SubmitAki/" + "@Model.Id",
                    type: "POST",
                    success: function (response) {
                        if (response == "DataAkiIsnull") {
                            $alert.warning("data Aki Tidak ditemukan");
                        }else if(response == "DataApprovalIsnull"){
                            $alert.warning("data Aprroval Tidak ditemukan Tidak ditemukan");
                        }
                        else{

                            window.location.href = "/Admin/Aki";
                        }

                        //
                    },
                    error: function (response) {
                        console.log(response);
                    },
                    beforeSend: function () {
                        $("#body-overlay").removeClass("hide");
                    },
                    complete: function () {
                        $("#body-overlay").addClass("hide");
                    }
                });

            });

            $("#select-listUser").select2({
                allowClear: true,
                placeholder: "Select User",
                ajax: {
                    url: "/admin/api/users/useraprovalTelkom",
                    dataType: 'json',
                    type: "GET",
                    data: function(params) {
                        return {
                            term: params.term, // search term
                        };
                    },
                    processResults: function(data) {
                        return {
                            results: data
                        };
                    }
                }
            });

            var listUserValue = @Html.Raw(ViewBag.listuser);
            if(listUserValue != "" || listUserValue != null){
                var selectedApprover = [];
                var selectedApproverHtml = "";

                for (var i = 0; i < listUserValue.length; i++){
                    //$("#select-listUser").append('<option value="' + listUserValue[i].id + '" selected="selected">' + listUserValue[i].text + '</option>');
                    selectedApprover.push(listUserValue[i].id);
                    selectedApproverHtml += '<tr>' +
                            '<td>' + listUserValue[i].text + '</td>' +
                            '<td><button type="button" class="btn btn-danger btn-sm removeApprover" data-id="'+ listUserValue[i].id +'"><i class="fa fa-times"></i></button></td>' +
                            '</tr>';
                }
                //$("#select-listUser").trigger('change');
                $("#listUser").val(selectedApprover);
                $("#choosenApprover").find("tbody").html(selectedApproverHtml);
            }

            function currencyFormat(num) {
                return "$" + num.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
            }
            $("span.numeric").autoNumeric('init', { aSep: '.', aDec: ',', mDec: 0, vMin: '-9999999999999999.99' })

            $("#AkiCover_RencanaSelesai").datetimepicker({
                format: "yyyy-mm",
                startView: "year",
                minView: "year",
                autoclose: true
            });
            $('input.number').number(true, 2);

            $common.setMenu("#menu-request");
            //GetPeriode();
            //GetStrategiInitiative();
            //GetProgram();

            var validationOptions = {
                rules: {
                    PeriodId: {
                        required: true
                    },
                    StrategyInitiativeId: {
                        required: true
                    },
                    ProgramId: {
                        required: true
                    },
                    AkiName: {
                        required: true
                    },
                    FileAki: {
                        required: true
                    },
                    NilaiProgram: {
                        required: true
                    },
                    PenanggungJawab: {
                        required: true
                    },
                    IRR: {
                        required: true
                    },
                    NPV: {
                        required: true
                    },
                    PaybackPeriod: {
                        required: true
                    },
                    BCR: {
                        required: true
                    }
                }
            }

            FormValidation.init("#AkiCreate", validationOptions);
        });





    </script>
}

<style>
    span.select2.select2-container.select2-container--bootstrap.select2-container--below.select2-container--focus {
        width: auto !important;
    }

    .form-horizontal .control-label {
        text-align: left;
        margin-bottom: 0;
        padding-top: 7px;
    }
</style>