﻿@model AkiForm
@{
    ViewBag.Title = "AKi Management Page | Create";
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("aki.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.create")</span>
    </li>
}
@if (ViewBag.massageexcel!=null)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
        @ViewBag.massageexcel
    </div>
}
<h1 class="page-title">@Html.Raw(Localization.GetLocalized("aki.management.text.aki.management"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.create")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" asp-action="Create" method="post" id="AkiCreate" class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
                </div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="PeriodName"/>
                <input type="hidden" asp-for="StrategiInitiativeName"/>
                <input type="hidden" asp-for="ProgramName" />
                <input type="hidden" asp-for="AkiCover.LevelValue" />
                <input type="hidden" asp-for="AkiCover.PenanggungJawabvalue" />
            
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.text.create.period")
                                <span class="text-danger"> * </span>
                            </label>
                            <div class="col-md-9">
                                <select class="form-control" id="select-periode" asp-for="PeriodId" required>
                                    <option value=""></option>
                                </select>
                                <span asp-validation-for="PeriodId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.text.create.strategi.name")
                                <span class="text-danger"> * </span>
                            </label>
                            <div class="col-md-9">
                                <select class="form-control" id="select-si" disabled asp-for="StrategiInitiativeId" required>
                                    <option value=""></option>
                                </select>
                                <span asp-validation-for="StrategiInitiativeId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.text.create.program.name")
                                <span class="text-danger"> * </span>
                            </label>
                            <div class="col-md-9">
                                <select class="form-control" id="select-program" disabled asp-for="ProgramId" required>
                                    <option value=""></option>
                                </select>
                                <span asp-validation-for="ProgramId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.text.index.name")
                                <span class="text-danger"> * </span>
                            </label>
                            <div class="col-md-9">
                                <input asp-for="AkiName" class="form-control" required />
                                <span asp-validation-for="AkiName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.text.file.njki")
                                <span class="text-danger"> * </span>
                            </label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.DocumentNJKI, new { required = "required" })
                                <span asp-validation-for="DocumentNJKI" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.text.file.aki")
                                <span class="text-danger"> * </span>
                            </label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Document, new { required = "required" })
                                <span asp-validation-for="Document" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.text.create.category.level")
                            </label>
                            <div class="col-md-9">
                                <select class="bs-select form-control" asp-for="AkiCover.Level" asp-items="Model.AkiCover.SourceLevelList">

                                    @if (Model.AkiCover.Level != null)
                                    {
                                        <option value="@Model.AkiCover.Level">@Model.AkiCover.Level</option>
                                    }
                                    else
                                    {
                                        <option selected disabled> Select Level</option>

                                    }
                                </select>
                                <span asp-validation-for="AkiCover.Level" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.text.create.category.invest")
                            </label>
                            <div class="col-md-9">
                                @await Component.InvokeAsync("InvestmentCategorySelector", new { name = "AkiCover.InvestmentCategory" })
                                <span asp-validation-for="AkiCover.InvestmentCategory" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.nilai.program")
                                <span class="text-danger"> * </span>
                            </label>
                            <div class="col-md-9">
                                <input type="number" asp-for="AkiCover.NilaiProgram" class="form-control" style="text-align:right;" required />
                                <span asp-validation-for="AkiCover.NilaiProgram" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.text.interest.rate")
                            </label>
                            <div class="col-md-9">
                                <input type="number" asp-for="AkiCover.InterestRate" class="form-control" style="text-align:right;" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.text.proposal.id")
                            </label>
                            <div class="col-md-9">
                                <input asp-for="AkiCover.IdProposal" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.text.jumlah.lop")
                            </label>
                            <div class="col-md-9">
                                <input type="number" asp-for="AkiCover.JumlahLop" class="form-control" style="text-align:right;" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.text.id.lop")
                            </label>
                            <div class="col-md-9">
                                <input asp-for="AkiCover.IdLop" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.text.location")
                            </label>
                            <div class="col-md-9">
                                <input asp-for="AkiCover.Lokasi" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.text.capacity")
                            </label>
                            <div class="col-md-9">
                                <input asp-for="AkiCover.Kapasitas" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.penanggung.jawab")
                                <span class="text-danger"> * </span>
                            </label>
                            <div class="col-md-9">
                                <select class="bs-select form-control" id="select-penanggungjawab" asp-for="AkiCover.PenanggungJawab" required>
                                    @if (Model.AkiCover.PenanggungJawab != null)
                                    {
                                        <option value="@Model.AkiCover.PenanggungJawab">@Model.AkiCover.PenanggungJawabvalue</option>
                                    }
                                 </select>
                                <span asp-validation-for="AkiCover.PenanggungJawab" class="text-danger"></span>
                             </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.nomor.account")
                            </label>
                            <div class="col-md-9">
                                <input asp-for="AkiCover.NomorAccount" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.capex.line")
                            </label>
                            <div class="col-md-9">
                                <input asp-for="AkiCover.CapexLine" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.text.create.taxes")
                            </label>
                            <div class="col-md-9">
                                <input type="number" asp-for="AkiCover.Taxes" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.waktu.penyelesaian")
                                <span class="text-danger"> * </span>
                            </label>
                            <div class="col-md-9">
                                <input asp-for="AkiCover.WaktuPenyelesaian" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group date date-picker" data-date="10/2012" data-date-format="mm/yyyy" data-date-viewmode="years" data-date-minviewmode="months">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.text.rencana.selesai")
                            </label>
                            <div class="col-md-9">
                                <input type="text" asp-for="AkiCover.RencanaSelesai" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.text.pemilihan.teknologi")
                            </label>
                            <div class="col-md-9">
                                <input asp-for="AkiCover.PemilihanTeknologi" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.text.pola.kemitraan")
                            </label>
                            <div class="col-md-9">
                                <input asp-for="AkiCover.Usulan" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.alasan.proyek")
                            </label>
                            <div class="col-md-9">
                                <input asp-for="AkiCover.Alasan" class="form-control" />
                            </div>
                        </div>
                        <h5><strong>Kinerja Bisnis sampai tahun ke </strong></h5> @Model.AkiCover.PaybackPeriode
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.irr")
                                <span class="text-danger"> * </span>
                            </label>
                            <div class="col-md-9">
                                <input type="number" asp-for="AkiCover.IRR" class="form-control" style="text-align:right;"/>
                                <span asp-validation-for="AkiCover.IRR" class="text-danger" ></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.npv")
                                <span class="text-danger"> * </span>
                            </label>
                            <div class="col-md-9">
                                <input type="number" asp-for="AkiCover.NPV" class="form-control" style="text-align:right;"/>
                                <span asp-validation-for="AkiCover.NPV" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.pbp")
                                <span class="text-danger"> * </span>
                            </label>
                            <div class="col-md-9">
                                <input type="number" asp-for="AkiCover.PaybackPeriode" class="form-control" style="text-align:right;" />
                                <span asp-validation-for="AkiCover.PaybackPeriode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.bcr")
                                <span class="text-danger"> * </span>
                            </label>
                            <div class="col-md-9">
                                <input type="number" asp-for="AkiCover.BCR" class="form-control" style="text-align:right;" />
                                <span asp-validation-for="AkiCover.BCR" class="text-danger"></span>
                            </div>
                        </div>
                        <h5><strong>Asumsi yang digunakan </strong></h5>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.cagr")
                            </label>
                            <div class="col-md-9">
                                <input asp-for="AkiCover.CAGR" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.discount.rate")
                            </label>
                            <div class="col-md-9">
                                <input type="number" asp-for="AkiCover.DiscountRate" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                @Localization.GetLocalized("aki.management.arpu")
                            </label>
                            <div class="col-md-9">
                                <input asp-for="AkiCover.ARPU" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                @Localization.GetLocalized("aki.management.text.create.roi")
                            </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AkiCover.Rois, new { required = "required" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group last">
                    <div class="col-md-4 col-md-offset-2">
                        <label class="text-danger">* @Localization.GetLocalized("common.text.field.required")</label>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-12">
                        <div class="custom" style="float:right !important;">
                            <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; @Localization.GetLocalized("common.button.save")</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section styles{
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/js/eonasdan/css/bootstrap-datetimepicker.min.css">
}

@section scripts {
    <script src="~/assets/global/plugins/jquery.number.min.js"></script>
    <script src="~/assets/global/plugins/jquery-repeater/jquery.repeater.js"></script>
    <script src="~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>
    <script src="~/assets/global/plugins/jquery.number.min.js"></script>
    <script src="~/js/eonasdan/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#AkiCover_RencanaSelesai").datetimepicker({
                format: "yyyy-mm",
                startView: "year",
                minView: "year",
                autoclose: true
            });
            $('input.number').number(true, ',', '.');
            $common.setMenu("#menu-request");
             $("#select-penanggungjawab").select2({
                allowClear: true,
                placeholder: "Select Penangung Jawab",
                ajax: {
                    url: "/admin/api/units/getpenangungJawab",
                    dataType: 'json',
                    type: "POST",
                    data: function (params) {
                        return {
                            term: params.term, // search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    }
                }
             }).on("change", function () {
                 var data = $("#select-penanggungjawab").select2('data')
                 $("#AkiCover_PenanggungJawabvalue").val(data[0]['text']);
             });


            $("#select-periode").select2({
                allowClear: true,
                placeholder: "Select period",
                ajax: {
                    url: "/admin/api/transformers/getperiode",
                    dataType: 'json',
                    type: "POST",
                    data: function (params) {
                        return {
                            term: params.term, // search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    }
                }
            }).on("change", function () {

                $("#select-si").val('').trigger('change');
                $("#select-program").val('').trigger('change');
                $("#StrategiInitiativeName").val('').trigger('change');
                $("#StrategiInitiativeId").val('').trigger('change');
                $("#ProgramName").val('').trigger('change');
                $("#ProgramId").val('').trigger('change');

                var data = $("#select-periode").select2('data')
                $("#PeriodName").val(data[0]['text']);
                $("#PeriodId").val(data[0]['id']);
                $("#select-si").removeAttr("disabled");
                $("#select-si").select2({
                    allowClear: true,
                    placeholder: "Select strategy initiative",
                    ajax: {
                        url: "/admin/api/transformers/getsi/?Period=" + $("#select-periode").val(),
                        dataType: 'json',
                        type: "POST",
                        data: function (params) {
                            return {
                                term: params.term, // search term
                            };
                        },
                        processResults: function (data) {
                            return {
                                results: data
                            };
                        }
                    }
                }).on("change", function () {

                    $("#select-program").val('').trigger('change');
                    $("#ProgramName").val('').trigger('change');
                    $("#ProgramId").val('').trigger('change');
                    var dataSI = $("#select-si").select2('data')
                    if (dataSI.length != 0) {
                        $("#StrategiInitiativeName").val(dataSI[0]['text']);
                        $("#StrategiInitiativeId").val(dataSI[0]['id']);
                    }
                    $("#select-program").removeAttr("disabled");
                    $("#select-program").select2({
                        allowClear: true,
                        placeholder: "Select program",
                        ajax: {
                            url: "/admin/api/transformers/getprogram/?si=" + $("#select-si").val(),
                            dataType: 'json',
                            type: "POST",
                            data: function (params) {
                                return {
                                    term: params.term, // search term
                                };
                            },
                            processResults: function (data) {
                                return {
                                    results: data
                                };
                            }
                        }
                    }).on("change", function () {
                        var dataProgram = $("#select-program").select2('data')
                        if (dataProgram.length != 0)
                        {
                            $("#ProgramName").val(dataProgram[0]['text']);
                            $("#ProgramId").val(dataProgram[0]['id']);
                        }
                       

                    });
                });

             
            });

            var validationOptions = {
                rules: {
                    PeriodId: {
                        required: true
                    },
                    StrategyInitiativeId: {
                        required: true
                    },
                    ProgramId: {
                        required: true,

                    },
                    AkiName: {
                        required: true
                    },
                    FileAki: {
                        required: true
                    },
                    NilaiProgram: {
                        required: true
                    },
                    PenanggungJawab: {
                        required: true
                    },
                    IRR: {
                        required: true
                    },
                    NPV: {
                        required: true
                    },
                    PaybackPeriode: {
                        required: true
                    },
                    BCR: {
                        required: true
                    }
                    
                }
            }

            FormValidation.init("#AkiCreate", validationOptions);
            if ($("#PeriodId").val() != "" && $("#PeriodName").val() != "") {
                $("#select-si").removeAttr("disabled");
                $("#select-si").select2({
                    allowClear: true,
                    placeholder: "Select strategy initiative",
                    ajax: {
                        url: "/admin/api/transformers/getsi/?Period=" + $("#select-periode").val(),
                        dataType: 'json',
                        type: "POST",
                        data: function (params) {
                            return {
                                term: params.term, // search term
                            };
                        },
                        processResults: function (data) {
                            return {
                                results: data
                            };
                        }
                    }
                });
            }
            if ($("#StrategiInitiativeName").val() != "" && $("#StrategiInitiativeId").val() != "") {
                $("#select-program").removeAttr("disabled");
                $("#select-program").select2({
                    allowClear: true,
                    placeholder: "Select program",
                    ajax: {
                        url: "/admin/api/transformers/getprogram/?si=" + $("#select-si").val(),
                        dataType: 'json',
                        type: "POST",
                        data: function (params) {
                            return {
                                term: params.term, // search term
                            };
                        },
                        processResults: function (data) {
                            return {
                                results: data
                            };
                        }
                    }
                })
            }


        });

    </script>
}

<style>
    span.select2.select2-container.select2-container--bootstrap.select2-container--below.select2-container--focus {
        width: auto !important;
    }

    .form-horizontal .control-label {
        text-align: left;
        margin-bottom: 0;
        padding-top: 7px;
    }
</style>