﻿@model AkiFormNJKI
@{
    ViewBag.Title = "AKi Management Page | EDIT";
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("aki.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.edit")</span>
    </li>
}
@if (ViewBag.massageexcel != null)
{

    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
        @ViewBag.massageexcel
    </div>
}
<h1 class="page-title">@Html.Raw(Localization.GetLocalized("aki.management.text.aki.management"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-red-flamingo sbold uppercase"><b>Nama Investasi : @ViewBag.AkiTittle</b></span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" asp-action="CreateNJKI" method="post" id="AkiCreate" class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
                </div>
                <input type="hidden" asp-for="PeriodId" />
                <input type="hidden" asp-for="StrategiInitiativeId" />
                <input type="hidden" asp-for="ProgramId" />
                <input type="hidden" asp-for="PeriodName" />
                <input type="hidden" asp-for="StrategiInitiativeName" />
                <input type="hidden" asp-for="ProgramName" />
                <input type="hidden" asp-for="AkiCover.LevelValue" />
                <input type="hidden" asp-for="AkiCover.PenanggungJawabvalue" />
                <input type="hidden" asp-for="AkiCover.Level" />
                <input type="hidden" asp-for="AkiName" />
                <input type="hidden" asp-for="AkiCover.NPV" />
                <input type="hidden" asp-for="AkiCover.IRR" />
                <input type="hidden" asp-for="AkiCover.PaybackPeriode" />
                <input type="hidden" asp-for="AkiCover.BCR" />
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="portlet red-sunglo box">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            Step 2.1
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <br />
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                @Localization.GetLocalized("aki.management.text.file.njki")
                                                <span class="text-danger"> * </span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.DocumentNJKI, new { required = "required" })
                                                <span asp-validation-for="DocumentNJKI" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                @Localization.GetLocalized("aki.management.text.file.aki")
                                                <span class="text-danger"> * </span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.Document, new { required = "required" })
                                                <span asp-validation-for="Document" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                @Localization.GetLocalized("aki.management.nilai.program")
                                                <span class="text-danger"> * </span>
                                            </label>
                                            <div class="col-md-9">
                                                <input type="number" asp-for="AkiCover.NilaiProgram" class="form-control number" style="text-align:right;" readonly required />
                                                <span asp-validation-for="AkiCover.NilaiProgram" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                @Localization.GetLocalized("aki.management.text.interest.rate")
                                            </label>
                                            <div class="col-md-9">
                                                <input type="number" asp-for="AkiCover.InterestRate" class="form-control" style="text-align:right;" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                @Localization.GetLocalized("aki.management.text.proposal.id")
                                            </label>
                                            <div class="col-md-9">
                                                <input asp-for="AkiCover.IdProposal" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                @Localization.GetLocalized("aki.management.text.jumlah.lop")
                                            </label>
                                            <div class="col-md-9">
                                                <input type="number" asp-for="AkiCover.JumlahLop" class="form-control" style="text-align:right;" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                @Localization.GetLocalized("aki.management.text.id.lop")
                                            </label>
                                            <div class="col-md-9">
                                                <input asp-for="AkiCover.IdLop" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                @Localization.GetLocalized("aki.management.text.location")
                                            </label>
                                            <div class="col-md-9">
                                                <input asp-for="AkiCover.Lokasi" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                @Localization.GetLocalized("aki.management.text.capacity")
                                            </label>
                                            <div class="col-md-9">
                                                <input asp-for="AkiCover.Kapasitas" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="portlet red-sunglo box">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            Step 2.2
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <br />
                                        @*<div class="form-group">
                                                <label class="control-label col-md-3">
                                                    @Localization.GetLocalized("aki.management.penanggung.jawab")
                                                    <span class="text-danger"> * </span>
                                                </label>
                                                <div class="col-md-9">

                                                    <select class="bs-select form-control" id="select-penanggungjawab" asp-for="AkiCover.PenanggungJawab" required>
                                                        @if (Model.AkiCover.PenanggungJawab != null)
                                                        {
                                                            <option value="@Model.AkiCover.PenanggungJawab">@Model.AkiCover.PenanggungJawabvalue</option>
                                                        }
                                                    </select>
                                                    <span asp-validation-for="AkiCover.PenanggungJawab" class="text-danger"></span>
                                                </div>
                                            </div>*@
                                       
                                        <div class="form-group">
                                            <label asp-for="Directorat" class="control-label col-md-3">
                                                @Localization.GetLocalized("user.management.text.create.direktorat")
                                                <span class="text-danger"> * </span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.Directorat, new { url = "/admin/api/units/getselectitem/?level=2", item = Model.Directorat, name = ViewBag.DirectoratName, required = "required" })
                                            </div>
                                            <span asp-validation-for="Directorat" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="UnitBisnis" class="control-label col-md-3">
                                                @Localization.GetLocalized("user.management.text.create.unit.bisnis")
                                                <span class="text-danger"> * </span>
                                            </label>
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.UnitBisnis, new { url = "/admin/api/units/getselectitem/?level=3", parents = 2, item = Model.UnitBisnis, name = ViewBag.UnitBisnisName, required = "required" })
                                            </div>
                                            <span asp-validation-for="UnitBisnis" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="UnitKerja" class="control-label col-md-3">
                                                @Localization.GetLocalized("user.management.text.create.unit.kerja")
                                            </label>
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.UnitKerja, new { url = "/admin/api/units/getselectitem/?level=4", parents = 3, item = Model.UnitKerja, name = ViewBag.UnitKerjaName })
                                            </div>
                                            <span asp-validation-for="UnitKerja" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                @Localization.GetLocalized("aki.management.nomor.account")
                                            </label>
                                            <div class="col-md-9">
                                                <input asp-for="AkiCover.NomorAccount" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                @Localization.GetLocalized("aki.management.capex.line")
                                            </label>
                                            <div class="col-md-9">
                                                <input asp-for="AkiCover.CapexLine" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                @Localization.GetLocalized("aki.management.text.create.taxes")
                                            </label>
                                            <div class="col-md-9">
                                                <input type="number" asp-for="AkiCover.Taxes" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                @Localization.GetLocalized("aki.management.waktu.penyelesaian")
                                                <span class="text-danger"> * </span>
                                            </label>
                                            <div class="col-md-9">
                                                <input asp-for="AkiCover.WaktuPenyelesaian" class="form-control" required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                @Localization.GetLocalized("aki.management.text.rencana.selesai")
                                            </label>
                                            <div class="col-md-9">
                                                <input type="text" asp-for="AkiCover.RencanaSelesai" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                @Localization.GetLocalized("aki.management.text.pemilihan.teknologi")
                                            </label>
                                            <div class="col-md-9">
                                                <input asp-for="AkiCover.PemilihanTeknologi" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                @Localization.GetLocalized("aki.management.text.pola.kemitraan")
                                            </label>
                                            <div class="col-md-9">
                                                <input asp-for="AkiCover.Usulan" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                @Localization.GetLocalized("aki.management.alasan.proyek")
                                            </label>
                                            <div class="col-md-9">
                                                <input asp-for="AkiCover.Alasan" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="portlet red-sunglo box">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            Step 2.3
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <label class="control-label col-md-2">
                                            <b>
                                                @Localization.GetLocalized("aki.management.text.create.roi")
                                            </b>
                                        </label>
                                        <hr style="border-top-color:red " />
                                        <div class="form-group">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.AkiCover.Rois, new { required = "required" })
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group last">
                                            <div class="col-md-4 col-md-offset-2">
                                                <label class="text-danger">* @Localization.GetLocalized("common.text.field.required")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-12">
                        <div class="custom" style="float:right !important;">
                            @*<a class="btn btn-default" name="RedirectUrl" value="@Url.Action("EditAKIHeader", new { id = Model.Id })"><i class="fa fa-arrow-circle-left"></i>&nbsp; Next</a>*@
                            <a href="/Admin/Aki/EditAKIHeader/@Model.Id" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i>&nbsp;Kembali</a>
                            <button type="submit" class="btn btn-default">Lanjutkan &nbsp;<i class="fa fa-arrow-circle-right"></i>&nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section styles{
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/js/eonasdan/css/bootstrap-datetimepicker.min.css">
}

@section scripts {
    <script src="~/assets/global/plugins/jquery-repeater/jquery.repeater.js"></script>
    <script src="~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>
    <script src="~/assets/global/plugins/jquery.number.min.js"></script>
    <script src="~/js/eonasdan/js/bootstrap-datetimepicker.min.js"></script>

    <script>

        $(document).ready(function () {
            $("#AkiCover_RencanaSelesai").datetimepicker({
                format: "yyyy-mm",
                startView: "year",
                minView: "year",
                autoclose: true
            });
            $('input.number').number(true, 2);
            //$("#select-penanggungjawab").select2({
            //    allowClear: true,
            //    placeholder: "Select Penangung Jawab",
            //    ajax: {
            //        url: "/admin/api/units/getpenangungJawab",
            //        dataType: 'json',
            //        type: "POST",
            //        data: function (params) {
            //            return {
            //                term: params.term, // search term
            //            };
            //        },
            //        processResults: function (data) {
            //            return {
            //                results: data
            //            };
            //        }
            //    }
            //}).on("change", function () {
            //    var data = $("#select-penanggungjawab").select2('data')
            //    $("#AkiCover_PenanggungJawabvalue").val(data[0]['text']);
            //});
            $common.setMenu("#menu-request");
            GetPeriode();
            GetStrategiInitiative();
            GetProgram();

            var validationOptions = {
                rules: {
                    PeriodId: {
                        required: true
                    },
                    StrategyInitiativeId: {
                        required: true
                    },
                    ProgramId: {
                        required: true
                    },
                    AkiName: {
                        required: true
                    },
                    FileAki: {
                        required: true
                    },
                    NilaiProgram: {
                        required: true
                    },
                    IRR: {
                        required: true
                    },
                    NPV: {
                        required: true
                    },
                    PaybackPeriod: {
                        required: true
                    },
                    BCR: {
                        required: true
                    }
                }
            }

            FormValidation.init("#AkiCreate", validationOptions);
        });

        function GetPeriode() {
            $("#select-periode").select2({
                allowClear: true,
                tokenSeparators: [","],
                placeholder: "Select period",
                ajax: {
                    url: "/admin/api/transformers/getperiode",
                    dataType: 'json',
                    type: "POST",
                    data: function (params) {
                        return {
                            term: params.term, // search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    }
                },
                initSelection: function (element, callback) {
                    $.ajax({
                        url: "/admin/api/transformers/getperiode",
                        dataType: 'json',
                        type: "POST",
                        data: { term: "@Model.PeriodName" }
                    }).done(function (response) {
                        callback(response);
                    });
                }
            }).on("change", function () {

                var data = $("#select-periode").select2('data')
                $("#PeriodName").val(data[0]['text']);
                $("#PeriodId").val(data[0]['id']);
                GetStrategiInitiative();
                $("#select-si").val('').trigger('change');
                $("#select-si").val('').trigger('change');
                $("#select-program").val('').trigger('change');
            });
        }

        function GetStrategiInitiative() {


            $("#select-si").select2({
                allowClear: true,
                placeholder: "Select strategy initiative",
                ajax: {
                    url: "/admin/api/transformers/getsi/?Period=" + $("#PeriodId").val(),
                    dataType: 'json',
                    type: "POST",
                    data: function (params) {
                        return {
                            term: params.term, // search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    }
                },
                initSelection: function (element, callback) {
                    var data = [];
                    data.push({ id: "@Model.StrategiInitiativeId", text: "@Model.StrategiInitiativeName" });
                    callback(data);
                }
            }).on("change", function () {
                var dataSI = $("#select-si").select2('data')
                $("#StrategiInitiativeName").val(dataSI[0]['text']);
                $("#StrategiInitiativeId").val(dataSI[0]['id']);
                GetProgram();
                $("#select-program").val('').trigger('change');
                $("#select-program").val('').trigger('change');
            });
        }

        function GetProgram() {
            $("#select-program").select2({
                allowClear: true,
                placeholder: "Select program",
                ajax: {
                    url: "/admin/api/transformers/getprogram/?si=" + $("#StrategiInitiativeId").val(),
                    dataType: 'json',
                    type: "POST",
                    data: function (params) {
                        return {
                            term: params.term, // search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    }
                },
                initSelection: function (element, callback) {
                    var data = [];
                    data.push({ id: "@Model.ProgramId", text: "@Model.ProgramName" });
                    callback(data);
                }
            }).on("change", function () {
                var dataProgram = $("#select-program").select2('data')
                $("#ProgramName").val(dataProgram[0]['text']);
                $("#ProgramId").val(dataProgram[0]['id']);
            });

        }
        //function formatRepo(repo) {
        //    if (repo.loading) return repo.text;

        //    var markup = "<div class='select2-result-repository__title'>" + repo.areaStoName + "</div>";

        //    if (repo.description) {
        //        markup += "<div class='select2-result-repository__description'>" + repo.areaRegional + "</div>";
        //    }

        //    markup += "<div class='select2-result-repository__statistics'>" +
        //        "<div> " + repo.areaRegional + "</div>" +
        //        "<div> " + repo.areaWitel + "</div>" +
        //        "<div>" + repo.areaDatel + "</div>" +
        //        "</div>" +
        //        "</div></div>";

        //    return markup;
        //}

        //function formatRepoSelection(repo) {
        //    return repo.areaStoName || repo.text;
        //}
        //$("#select-level").select2({
        //    allowClear: true,
        //    placeholder: "Select TingkaT Category",
        //    ajax: {
        //        url: "/admin/api/stos/getstos",
        //        dataType: 'json',
        //        delay: 250,
        //        data: function (params) {
        //            return {
        //                q: params.term, // search term

        //            };
        //        },
        //        processResults: function (data, page) {
        //            return {
        //                results: data.items
        //            };
        //        },
        //        cache: true
        //    },
        //    escapeMarkup: function (markup) {
        //        return markup;
        //    },
        //    minimumInputLength: 3,
        //    templateResult: formatRepo,
        //    templateSelection: formatRepoSelection
        //}).on("change", function () {

        //    var data = $("#select-level").select2('data')
        //    $("#AkiCover_LevelValue").val(data[0]['areaStoName']);
        //});

    </script>
}

<style>
    span.select2.select2-container.select2-container--bootstrap.select2-container--below.select2-container--focus {
        width: auto !important;
    }

    .form-horizontal .control-label {
        text-align: left;
        margin-bottom: 0;
        padding-top: 7px;
    }
</style>