﻿@model AkiCover
@using Newtonsoft.Json
@{
    ViewBag.Title = "AKi Management Page | Create";
    var docNJKI = Model.Akis.CustomField1.ConvertToAttachment();
    //List<WfCommantActivity> modelcomment= ViewBag.komentar;
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("aki.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span style="color:red">@Localization.GetLocalized("common.text.details")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("aki.management.text.aki.management"))</h1>

<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-red-flamingo sbold uppercase">Pengajuan Investasi</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-primary" href='javascript:history.go(-1)'><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.prev")</a>
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body tabbable-line">
        <div class="col-md-6">
            <div class="portlet red-sunglo box">
                <div class="portlet-title">
                    <div class="caption">
                        <b>General Info</b>
                    </div>
                </div>
                <div class="portlet-body">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <label asp-for="Akis.AkiName" class="control-label col-md-2">
                                @Localization.GetLocalized("aki.management.text.detail.aki.name")
                            </label>
                            <div class="col-md-8">
                                <input type="text" value="@Model.Akis.AkiName" class="form-control" readonly />

                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Akis.PeriodName" class="control-label col-md-2">
                                @Localization.GetLocalized("aki.management.text.detail.aki.periodename")
                            </label>
                            <div class="col-md-8">
                                <input type="text" value="@Model.Akis.PeriodName" class="form-control" readonly />
                                @*<p class="form-control-static">
                                        @Model.Akis.PeriodName
                                    </p>*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Akis.StrategiInitiativeName" class="control-label col-md-2">
                                @Localization.GetLocalized("aki.management.text.detail.aki.strategiinitiativename")
                            </label>
                            <div class="col-md-8">
                                <input type="text" value="@Model.Akis.StrategiInitiativeName" class="form-control" readonly />
                                @*<p class="form-control-static">
                                        @Model.Akis.StrategiInitiativeName
                                    </p>*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Akis.ProgramName" class="control-label col-md-2">
                                @Localization.GetLocalized("aki.management.text.detail.aki.programname")
                            </label>
                            <div class="col-md-8">
                                <textarea disabled class="form-control">@Model.Akis.ProgramName</textarea>
                                @*<p class="form-control-static">
                                        @Model.Akis.ProgramName
                                    </p>*@
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label asp-for="Akis.CustomField2" class="control-label col-md-3">
                                    Approver
                                </label>
                                <div class="col-md-8">
                                    @foreach (var x in ViewBag.ListAproval)
                                    {
                                    <p class="form-control-static">
                                        @x
                                    </p>
                                    <br>
                                    }

                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Akis.CustomField2" class="control-label col-md-3">
                                    Status
                                </label>
                                <div class="col-md-8">
                                    <p class="form-control-static">
                                        @Model.Akis.CustomField2
                                    </p>
                                </div>
                            </div>*@

                    </form>
                </div>
            </div>
            <div class="portlet red-sunglo box">
                <div class="portlet-title">
                    <div class="caption">
                        <b> Finance Info</b>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <form role="form" class="form-horizontal">

                                <div class="form-body">
                                    <div class="form-group">
                                        <label asp-for="Level" class="control-label col-md-4 ">
                                            @Localization.GetLocalized("aki.management.text.detail.akicover.level")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.Level" class="form-control" readonly />
                                            @*<p class="form-control-static">
                                                    @Model.Level
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="KategoriInvestasi" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.text.detail.akicover.investmentcategory")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.KategoriInvestasi" class="form-control" readonly />
                                            @*<p class="form-control-static">
                                                    @Model.KategoriInvestasi
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="NilaiProgram" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.text.detail.akicover.valueprogram")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.NilaiProgram" class="form-control numeric" readonly />
                                            @*<p class="form-control-static">
                                                    <span class='numeric'>@Model.NilaiProgram</span>
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="InterestRate" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.text.detail.akicover.interestrate")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.InterestRate" class="form-control" readonly />
                                            @*<p class="form-control-static">
                                                    @Model.InterestRate
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ProposalId" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.text.detail.akicover.proposalid")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.ProposalId" class="form-control" readonly />
                                            @*<p class="form-control-static">
                                                    @Model.ProposalId
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="LopId" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.text.detail.akicover.lopid")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.LopId" class="form-control" readonly />
                                            @*<p class="form-control-static">
                                                    @Model.LopId
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="JumlahLop" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.text.detail.akicover.jumlahlop")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.JumlahLop" class="form-control" readonly />
                                            @*<p class="form-control-static">
                                                    @Model.JumlahLop
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Location" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.text.detail.akicover.location")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.Location" class="form-control" readonly />
                                            @*<p class="form-control-static">
                                                    @Model.Location
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Kapasitas" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.text.detail.akicover.capacity")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.Kapasitas" class="form-control" readonly />
                                            @*<p class="form-control-static">
                                                    @Model.Kapasitas
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="PenanggungJawab" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.text.detail.akicover.penanggungjawab")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.CustomField1" class="form-control" readonly />
                                            @*<p class="form-control-static">
                                                    @Model.CustomField1
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="NomorAkun" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.text.detail.akicover.accountnumber")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.NomorAkun" class="form-control" readonly />
                                            @*<p class="form-control-static">
                                                    @Model.NomorAkun
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CapexLine" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.text.detail.akicover.capex")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.CapexLine" class="form-control" readonly />
                                            @*<p class="form-control-static">
                                                    @Model.CapexLine
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Taxes" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.text.detail.akicover.taxes")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.Taxes" class="form-control" readonly />
                                            @*<p class="form-control-static">
                                                    @Model.Taxes
                                                </p>*@
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <form role="form" class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label asp-for="WaktuPenyelesaian" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.text.detail.akicover.timefinish")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.WaktuPenyelesaian" class="form-control" readonly />
                                            @*<p class="form-control-static">
                                                    @Model.WaktuPenyelesaian
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="RencanaSelesai" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.text.detail.akicover.finishplaning")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.RencanaSelesai" class="form-control" readonly />
                                            @*<p class="form-control-static">
                                                    @Model.RencanaSelesai
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="PemilihanTeknologi" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.text.detail.akicover.technology")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.PemilihanTeknologi" class="form-control" readonly />
                                            @*<p class="form-control-static">
                                                    @Model.PemilihanTeknologi
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Usulan" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.text.detail.akicover.usulan")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.Usulan" class="form-control" readonly />
                                            @*<p class="form-control-static">
                                                    @Model.Usulan
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Alasan" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.alasan.proyek")
                                        </label>
                                        <div class="col-md-8">
                                            <textarea class="form-control" disabled> @Model.Alasan  </textarea>
                                            @*<p class="form-control-static">
                                                    @Model.Alasan
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="IRR" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.irr")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.IRR" class="form-control" readonly />
                                            @*<p class="form-control-static">
                                                    @Model.IRR
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="NPV" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.npv")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.NPV" class="form-control numeric" readonly />
                                            @*<p class="form-control-static">
                                                    <span class='numeric'>@Model.NPV</span>
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="PayBackPeriode" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.pbp")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.PayBackPeriode" class="form-control" readonly />
                                            @*<p class="form-control-static">
                                                    @Model.PayBackPeriode
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="BCR" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.bcr")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.BCR" class="form-control" readonly />
                                            @*<p class="form-control-static">
                                                    @Model.BCR
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CAGR" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.cagr")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.CAGR" class="form-control" readonly />
                                            @*<p class="form-control-static">
                                                    </span>  @Model.CAGR
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DiscountRate" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.discount.rate")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.DiscountRate" class="form-control" readonly />
                                            @*<p class="form-control-static">
                                                    @Model.DiscountRate
                                                </p>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ARPU" class="control-label col-md-4">
                                            @Localization.GetLocalized("aki.management.arpu")
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" value="@Model.ARPU" class="form-control" readonly />
                                            @*<p class="form-control-static">
                                                    @Model.ARPU
                                                </p>*@
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">

            <div class="portlet red-sunglo box">
                <div class="portlet-title">
                    <div class="caption">
                        <b>Dokumen NJKI</b>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="panel-body" id="docNJKI">

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="portlet red-sunglo box">
                <div class="portlet-title">
                    <div class="caption">
                        <b>Valuation</b>
                    </div>
                </div>
                <div class="portlet-body">
                    <table id="table-role" class="table table-striped" cellspacing="0" width="100%">
                        <colgorup>
                            <col width="">
                            <col width="">
                            <col width="">
                            <col width="">
                            <col width="">
                            <col width="">
                            <col width="">
                            <col width="">
                            <col width="">
                            <col width="">
                            <col width="">
                        </colgorup>
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>Revenue</th>
                                <th>Expenses</th>
                                <th>Ebitda</th>
                                <th>Depreciation</th>
                                <th>Ebit</th>
                                <th>Taxes</th>
                                <th>Net Income</th>
                                <th>Add Back Depreciation</th>
                                <th>Net Cash flow</th>
                                <th>Cumulative Net Cash flow</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model.Akis.AkiValuations)
                            {

                                <tr>
                                    <td>@x.Year</td>
                                    <td><span class='numeric'>@x.Revenue</span></td>
                                    <td><span class='numeric'>@x.Expenses</span></td>
                                    <td><span class='numeric'>@x.Ebitda</span></td>
                                    <td><span class='numeric'>@x.Depreciation</span></td>
                                    <td><span class='numeric'>@x.Ebit</span></td>
                                    <td><span class='numeric'>@x.Taxes</span></td>
                                    <td><span class='numeric'>@x.NetIncome</span></td>
                                    <td><span class='numeric'>@x.AddBackDepresiation</span></td>
                                    <td><span class='numeric'>@x.NetCashFlow</span></td>
                                    <td><span class='numeric'>@x.CumulativeNetCashFlow</span></td>
                                </tr>


                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet red-sunglo box">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold uppercase"> Komentar</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="mt-comments">
                        <div class="mt-comment">
                            @if (ViewBag.komentar != null)
                            {
                                foreach (var datax in ViewBag.komentar)
                                {


                                    <div class="mt-comment-body">
                                        <div class="mt-comment-info">
                                            <span class="mt-comment-author"> @datax.Name (@datax.NIK)</span>
                                            <span class="mt-comment-date">  @datax.CreatedAt </span>

                                        </div>
                                        <div class="mt-comment-text">
                                            @datax.Comment
                                            <span class="mt-comment-text"> (Action : @datax.Status) </span>
                                        </div>
                                        <div class="mt-comment-details">
                                            @if (datax.IsAggree == true)
                                            {
                                                <span class="mt-comment-status mt-comment-status-rejected"> <i class="fa fa-check icon-white"></i> Disetujui</span>
                                            }
                                            else
                                            {

                                                <span class="mt-comment-status mt-comment-status-rejected"> <i class="fa fa-times icon-white"></i> Tidak Disetujui</span>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                            @if (Model.Akis.CustomField2 == Aki.STATUS_SUBMITTED || Model.Akis.CustomField2 == Aki.STATUS_ApproveUnitBisnis)
                            {
                                @Html.Partial("_ApprovalAction", Model)
                            }
                        </div>

                    </div>

                    <!-- END: Comments -->
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>




</div>
<script src="~/js/autoNumeric.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $common.setMenu("#menu-request");

        function currencyFormat(num) {
            return "$" + num.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
        }

        $("span.numeric").autoNumeric('init', { aSep: '.', aDec: ',', mDec: 0, vMin: '-9999999999999999.99' });

        $.get('/@docNJKI.Path').
            done(function (data) {
                $('#docNJKI').html('<object style="width: 100%; height: 680px" type="application/pdf" data="/@docNJKI.Path"></object>');
            }).
            fail(function () {
                $('#docNJKI').html("<p class='text-center'>Document not found.</p>");
            });
    });



</script>
<style>
    table {
        width: 100%;
    }

    thead, tbody, tr, td, th {
        display: block;
    }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        thead th {
            height: 30px;
            /*text-align: left;*/
        }

    tbody {
        height: 180px;
        overflow-y: auto;
    }

    thead {
        /* fallback */
    }

    label {
        font-size: 85%;
    }

    tbody td, thead th {
        width: 9%;
        float: left;
    }
</style>
