﻿@{
    ViewData["Title"] = "Aki Management Page";
    bool isRead = ClaimHelper.IsRead(User, "claim.aki-management");
    bool isCreate = ClaimHelper.IsCreate(User, "claim.aki-management");
    bool isDelete = ClaimHelper.IsDelete(User, "claim.aki-management");
    bool isEdit = ClaimHelper.IsEdit(User, "claim.aki-management");
}
@section breadcrumb{
    <li>
        <span>@Localization.GetLocalized("aki.management.text")</span>
    </li>
}
<h1 class="page-title">@Html.Raw(Localization.GetLocalized("aki.management.text.aki.management"))</h1>
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.list")</span>
        </div>
        @if (isCreate)
        {
            <div class="pull-right">
                <a class="btn btn-success" href="@Url.Action("Create")"><i class="fa fa-plus-circle"></i> @Localization.GetLocalized("common.button.add.new")</a>
            </div>
            <div class="clearfix"></div>
        }
    </div>
    <div class="portlet-body">
        <table id="table-aki" class="table table-striped" cellspacing="0" width="100%">
            <colgorup>
                <col width="">
                <col width="">
                <col width="">
                <col width="260">
            </colgorup>
            <thead>
                <tr>

                    <th>@Localization.GetLocalized("aki.management.dokument")</th>
                    <th>@Localization.GetLocalized("aki.management.requster")</th>
                    <th>@Localization.GetLocalized("aki.management.aktivitas")</th>
                    <th>@Localization.GetLocalized("common.text.action")</th>
                </tr>
            </thead>

        </table>
    </div>
</div>
@{
    Html.RenderPartial("_DatatablesAssets");
}
<script src="~/js/autoNumeric.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery.number.min.js"></script>
@section scripts{
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-request");
            var btnRead = "<button class='btn btn-success detail' title='" + $L.get("aki.button.index.detail.title") + "'><i class='fa fa-info'></i></button>";
            var btnPDF = "<button class='btn btn white-meadow viewpdf' title='" + $L.get("aki.button.index.pdf.title") + "'><i class='fa fa-file-pdf-o'></i></button>";
            var btnExcel = "<button class='btn btn green-meadow viewexcel' title='" + $L.get("aki.button.index.excel.title") + "'><i class='fa fa-file-excel-o'></i></button>";
            var btnEdit = "<button class='btn btn-primary edit' title='" + $L.get("aki.button.index.edit.title") + "'><i class='fa fa-edit'></i></button>";
            var btnDelete = "<button class='btn btn-danger remove' title='" + $L.get("aki.button.index.delete.title") + "'><i class='fa fa-trash'></i></button>";
            var content = "";
            @*if ("@isRead" == "True") {
                content = content + btnRead + btnExcel + btnPDF;
            }
            if ("@isEdit" == "True") {
                content = content + btnEdit;
            }
            if ("@isDelete" == "True") {
                content = content + btnDelete;
            }*@

            var datatableOption = {
                listUrl: "/admin/api/akis/DataTablesMyTask",
                detailUrl: "@Url.Action("DetailsDocumentApprover")/",
                columnDefs: [
                         {
                             "targets": -1,
                             "data": null,
                             "defaultContent": "",
                             "orderable": false,
                             "render": function (data, type, full, row) {
                                 content = btnRead;
                                 @*content = content + btnRead; //+ btnExcel + btnPDF;
                                 if (data.isAction == true) {
                                     if ("@isEdit" == "True") {
                                         content = content + btnEdit;
                                     }
                                     if ("@isDelete" == "True") {
                                         content = content + btnDelete;
                                     }
                                 }*@


                                 return content
                             }
                         },
                         {
                              "targets": 0,
                              "data": "akiName",
                              name: "akiName"
                          },

                        {
                            "targets": 1,
                            "data": "requsterName",
                            name: "requsterName",

                        },
                          {
                              "targets": 2,
                              "data": "actwf.name",
                              name: "actwf.name",

                          }



                ]
            }

            $datatables.init("#table-aki", datatableOption);
            $("span.numeric").autoNumeric('init', { aSep: '.', aDec: ',', mDec: 0, vMin: '-9999999999999999.99' })

        });
    </script>
}