﻿@model AkiForm

@{
    ViewBag.Title = "AKi Management Page | View Pdf";
    var documentPath = ViewBag.Attachment;
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("aki.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("aki.excel.preview")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("aki.management.text.aki.management"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("aki.excel.preview")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <iframe src="https://docs.google.com/viewer?url=http://pmu-telkom.sangkuriang.co.id/@documentPath&embedded=true" style="width:100%; height:500px;" frameborder="0"></iframe>
</div>

@section scripts{
    <script type="text/javascript">
        $common.setMenu("#menu-request");
    </script>
}