﻿@model AkiForm

@{
    ViewBag.Title = "AKi Management Page | View Excel";
    var documentPath = ViewBag.Attachment;
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("aki.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("aki.excel.preview")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("aki.management.text.aki.management"))</h1>

<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("aki.excel.preview")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <iframe src='https://view.officeapps.live.com/op/view.aspx?src=http://pmu-telkom.sangkuriang.co.id/@documentPath' width='100%' min-height='700px' height="700px" frameborder='0'></iframe>
</div>

@section scripts{
    <script type="text/javascript">
        $common.setMenu("#menu-request");
    </script>
}