﻿@model Dictionary<string, string>

<form asp-action="Approval" asp-route-id="@Model["Id"]" id="approval" method="post" role="form" class="form-approval-button">
    <div class="row">
        <div class="col-md-3 col-md-offset-3">
            <input type="hidden" id="Note" name="Note" value="" />
            <input type="hidden" id="Status" name="Status" value="" />
            <button type="button" class="btn btn-primary btn-approve" value="@Model["ApproveFlag"]" data-title="@Localization.GetLocalized("workflow.approval.confirmation.approve")">
                @Localization.GetLocalized("workflow.approval.button.approve")
            </button>
            <button type="button" class="btn btn-danger btn-reject" value="@Model["RejectFlag"]" data-title="@Localization.GetLocalized("workflow.approval.confirmation.reject")">
                @Localization.GetLocalized("workflow.approval.button.reject")
            </button>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $(".btn-approve, .btn-reject").on("click", function (e) {
            e.preventDefault();
            var btn = $(this);
            bootbox.prompt({
                title: btn.data("title"),
                inputType: "textarea",
                callback: function (result) {
                    if (result != null) {
                        $("#Note").val(result);
                        $("#Status").val(btn.val());
                        $("form#approval").submit();
                    }
                }
            });
        });
    });
</script>