﻿@model RoleViewModel
@{
    ViewBag.Title = "Role Management Page | Details";
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("role.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.details")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("role.management.text.role.management"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.details")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body tabbable-line">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#role-info" data-toggle="tab">@Localization.GetLocalized("role.management.text.tab.role.information")</a>
            </li>
            <li>
                <a href="#manage-claims" data-toggle="tab">@Localization.GetLocalized("role.management.text.tab.manage.claims")</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="role-info" class="tab-pane active">
                <form role="form" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label col-md-3">
                                @Localization.GetLocalized("role.management.text.detail.role.name")
                            </label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                    @Model.Name
                                </p>
                            </div>
                        </div>
                        <div class="form-group last">
                            <label asp-for="Description" class="control-label col-md-3">
                                @Localization.GetLocalized("role.management.text.detail.role.description")
                            </label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                    @Html.Raw(Model.Description)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-3">
                                <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp; @Localization.GetLocalized("common.button.edit")</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="manage-claims" class="tab-pane">
                @Html.Partial("_ManageClaims")
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-parents");
        });
    </script>
}