@model ChangePasswordForm

<form asp-action="ChangePassword" asp-controller="Profile" role="form" method="post" id="ChangePassword">
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
    </div>
    @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey("passwordError"))
    {
        <div class="alert alert-danger">
            <button class="close" data-close="alert"></button>
            @Html.ValidationMessage("passwordError")
        </div>
    }
    <div class="form-group">
        <label asp-for="OldPassword" class="control-label">
            @Localization.GetLocalized("my.profile.text.current.password")
            <span class="text-danger"> * </span>
        </label>
        <input asp-for="OldPassword" type="password" class="form-control" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">
            @Localization.GetLocalized("my.profile.text.new.password")
            <span class="text-danger"> * </span>
        </label>
        <input asp-for="NewPassword" type="password" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewConfirmPassword" class="control-label">
            @Localization.GetLocalized("my.profile.text.retype.password")
            <span class="text-danger"> * </span>
        </label>
        <input asp-for="NewConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="NewConfirmPassword" class="text-danger"></span>
    </div>
    <div class="margin-top-10">
        <button type="submit" class="btn green">@Localization.GetLocalized("my.profile.button.change.password")</button>
        <button type="reset" class="btn default">@Localization.GetLocalized("common.button.cancel")</button>
    </div>
</form>