@model UpdateProfileForm
<form asp-action="UpdateProfile" asp-controller="Profile" method="post" role="form" id="ProfileEdit">
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
    </div>
    @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey("updateError"))
    {
        <div class="alert alert-danger">
            <button class="close" data-close="alert"></button>
            @Html.ValidationMessage("updateError")
        </div>
    }
    <div class="form-group">
        <label asp-for="Photo" class="control-label col-md-12 row">
            @Localization.GetLocalized("my.profile.text.avatar")
        </label>
        <div class="col-md-4 row">
            @Html.EditorFor(model => model.Photo, new { @preview = true, @class = "form-control", @accept = "image/*", @extension = ".jpg,.jpeg,.png,.gif", @Ratio = 120.0 / 120.0, required = "required" })
            <span asp-validation-for="Photo" class="text-danger"></span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label">
            @Localization.GetLocalized("my.profile.text.name")
            <span class="text-danger"> * </span>
        </label>
        <input type="text" class="form-control" asp-for="Name" required>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Birthplace" class="control-label">
            @Localization.GetLocalized("my.profile.text.birthplace")
        </label>
        <input type="text" class="form-control" asp-for="Birthplace">
        <span asp-validation-for="Birthplace" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Birthdate" class="control-label">
            @Localization.GetLocalized("my.profile.text.birthdate")
        </label>
        @Html.EditorFor(m => m.Birthdate, "DateTimeShort")
        <span asp-validation-for="Birthdate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label">
            @Localization.GetLocalized("my.profile.text.address")
        </label>
        <textarea asp-for="Address" rows="5" class="form-control"></textarea>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="control-label">
            @Localization.GetLocalized("my.profile.text.phone")
        </label>
        <input type="text" class="form-control" asp-for="Phone">
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="margiv-top-10">
        <button type="submit" class="btn green">@Localization.GetLocalized("common.button.save.changes")</button>
        <button type="reset" class="btn default">@Localization.GetLocalized("common.button.cancel")</button>
    </div>
</form>