﻿@model ApplicationUserViewModel
@{
    ViewData["Title"] = "My Profile";
    ViewBag.ContentBg = "bg-default";
    var modelForm = (UpdateProfileForm)ViewBag.ModelForm;
}

@section breadcrumb{
    <li>
        <span>@Localization.GetLocalized("my.profile.text")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("my.profile.text.my.profile"))</h1>
<div class="row">
    <div class="col-md-12">
        <div class="profile-sidebar">
            <div class="portlet profile-sidebar-portlet light">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="@UserHelper.GetAvatar(User)" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">@Model.UserProfile.Name</div>
                    <div class="profile-usertitle-username"> @Model.Username </div>
                </div>
                <div class="profile-userdetail">
                    <div class="profile-userdetail-item">
                        <i class="fa fa-home"></i>
                        @Model.UserProfile.Address
                    </div>
                    <div class="profile-userdetail-item">
                        <i class="fa fa-birthday-cake"></i>
                        @Model.UserProfile.Birthplace, @CommonHelper.ToShortString(Model.UserProfile.Birthdate)
                    </div>
                    <div class="profile-userdetail-item">
                        <i class="fa fa-envelope"></i>
                        @Model.Email
                    </div>
                    <div class="profile-userdetail-item">
                        <i class="fa fa-phone"></i>
                        @Model.Phone
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">@Localization.GetLocalized("my.profile.text.account")</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#personal-info" data-toggle="tab">@Localization.GetLocalized("my.profile.text.tab.personal.information")</a>
                                </li>
                                <li>
                                    <a href="#change-password" data-toggle="tab">@Localization.GetLocalized("my.profile.text.tab.change.password")</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <div id="personal-info" class="tab-pane active">
                                    @Html.Partial("_ProfileEdit", modelForm)
                                </div>
                                <div id="change-password" class="tab-pane">
                                    @Html.Partial("_ChangePassword", new ChangePasswordForm())
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles{
    <link href="~/assets/pages/css/profile.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.standalone.min.css" />
}

@section scripts {
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>
    <script>
        $(document).ready(function () {
            FormValidation.init("#ProfileEdit");

            var changePasswordOption = {
                rules: {
                    OldPassword: {
                        required: true,
                        minlength: 8
                    },
                    NewPassword: {
                        required: true,
                        minlength: 8
                    },
                    NewConfirmPassword: {
                        required: true,
                        minlength: 8,
                        equalTo: "#NewPassword"
                    }
                },
                messages: {
                    NewConfirmPassword: {
                        equalTo: $L.get("my.profile.validation.message.confirm.password")
                    }
                }
            }

            FormValidation.init("#ChangePassword", changePasswordOption);
        });

        $('#Form.Birthdate').each(function () {
            var a = $(this).datepicker({
                Format: "MM/dd/yyyy"
            });
        });

        @if(TempData["Success"] != null && TempData["Success"].ToString() == bool.TrueString)
        {
            @:$alert.success($L.get("my.profile.text.update.profile.success"));
        }

        @if(TempData["PasswordSuccess"] != null && TempData["PasswordSuccess"].ToString() == bool.TrueString)
        {
            @:$alert.success($L.get("my.profile.text.change.password.success"));
        }

        @if (TempData["PasswordSuccess"] != null && TempData["PasswordSuccess"].ToString() == bool.FalseString)
        {
            @:$alert.error($L.get("my.profile.text.change.password.failed"));
        }
    </script>
}
