﻿@model LocaleResourceForm

@{
    Layout = null;
}

<form id="ResourceCreate" role="form" action="/admin/api/localeresources" method="post">
    <div class="role-body">
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
        </div>
        <div class="alert alert-success display-hide">
            <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger" id="validation-summary"></div>
        <div class="form-group">
            <label asp-for="ResourceName" class="control-label">
                @Localization.GetLocalized("resource.text.create.name")
                <span class="text-danger"> * </span>
            </label>
            <div>
                <input asp-for="ResourceName" class="form-control" required/>
                <span asp-validation-for="ResourceName" class="text-danger" />
            </div>
        </div>
        <div>
            @Html.EditorFor(m => m.ResourceValues, "ResourceValues")
        </div>
        <hr />
        <div class="form-actions pull-right">
            <input type="submit" value="@Localization.GetLocalized("common.button.save")" class="btn blue" />
            <button type="button" class="btn default bootbox-close-button">@Localization.GetLocalized("common.button.cancel")</button>
        </div>
        <div class="clearfix"></div>
    </div>
</form>