﻿@{
    ViewData["Title"] = "Locale Page";
}

@section breadcrumb{
    <li>
        <span>@Localization.GetLocalized("resource.text")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("resource.text.resource.management"))</h1>
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.list")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-success btn-add" href="#"><i class="fa fa-plus-circle"></i> @Localization.GetLocalized("common.button.add.new")</a>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">@Localization.GetLocalized("resource.text.index.language") :</label>
            </div>
            <div class="col-md-3">
                <select asp-items="ViewBag.Languages" id="Languages" class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <table id="table-language" class="table table-striped" cellspacing="0" width="100%">
            <colgorup>
                <col width="45%" />
                <col width="45%" />
                <col width="150" />
            </colgorup>
            <thead>
                <tr>
                    <th>@Localization.GetLocalized("resource.text.index.name")</th>
                    <th>@Localization.GetLocalized("resource.text.index.value")</th>
                    <th>@Localization.GetLocalized("common.text.action")</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>@Localization.GetLocalized("resource.text.index.name")</th>
                    <th>@Localization.GetLocalized("resource.text.index.value")</th>
                    <th>@Localization.GetLocalized("common.text.action")</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@{
    Html.RenderPartial("_DatatablesAssets");
}

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>
    <script src="~/assets/pages/scripts/locale-resource/app.js"></script>
    <script>
        $(document).ready(function () {
          
        
            LocaleResources.init("@Url.Action("Details")/", "@Url.Action("EditByName")/", "@Url.Action("Create")");
            $common.setMenu("#menu-websetting", "#menu-locale-resource");
        });
    </script>
}