﻿@model MasterClaimForm
@{
    ViewBag.Title = "Master Claim Management Page | Create";
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("master.claim.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.create")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("master.claim.text.master.claim.management"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.edit")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" asp-action="Edit" method="post" id="MasterClaimEdit" class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
                </div>
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })
                <div class="form-group">
                    <label asp-for="Type" class="control-label col-md-3">
                        @Localization.GetLocalized("master.claim.management.text.edit.master.claim.type")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="Type" required>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ClaimValues" class="control-label col-md-3">
                        @Localization.GetLocalized("master.claim.management.text.edit.master.claim.values")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="ClaimValues" required>
                        <p class="help-block"> 
                            @Localization.GetLocalized("master.claim.management.text.edit.master.claim.values.help") </p>
                        <span asp-validation-for="ClaimValues" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group last">
                    <div class="col-md-3 col-md-offset-3">
                        <label class="text-danger">* @Localization.GetLocalized("common.text.field.required")</label>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; @Localization.GetLocalized("common.button.save")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-parents");
            FormValidation.init("#MasterClaimEdit");
        });
    </script>
}
