﻿@model IList<MasterClaimViewModel>
@{
    ViewData["Title"] = "Master Claim";
}

@section breadcrumb{
    <li>
        <span>@Localization.GetLocalized("master.claim.text")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("master.claim.text.master.claim.management"))</h1>
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.list")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-success" href="@Url.Action("Create")"><i class="fa fa-plus-circle"></i> @Localization.GetLocalized("common.button.add.new")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <table id="table-master-claim" class="table table-striped" cellspacing="0" width="100%">
            <colgorup>
                <col width="">
                <col width="">
                <col width="">
                <col width="150">
            </colgorup>
            <thead>
                <tr>
                    <th data-sortable="false">@Localization.GetLocalized("master.claim.text.name")</th>
                    <th data-sortable="false">@Localization.GetLocalized("master.claim.text.type")</th>
                    <th data-sortable="false">@Localization.GetLocalized("master.claim.text.values")</th>
                    <th data-sortable="false">@Localization.GetLocalized("common.text.action")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Type
                        </td>
                        <td>
                            @item.ClaimValues
                        </td>
                        <td>
                            <a href="@Url.Action("Edit")/@item.Id" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                            <a href="#" class="btn btn-danger btn-delete remove" data-id="@item.Id"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
            
        </table>
    </div>
</div>

@{
    Html.RenderPartial("_DatatablesAssets");
}

@section styles{
    <link href="~/assets/global/plugins/jquery-nestable/jquery.nestable.css" rel="stylesheet" type="text/css" />
    <link href="~/Slider/css/style.css" rel="stylesheet" type="text/css" />
}

@section scripts{
    <script src="~/assets/global/plugins/jquery-nestable/jquery.nestable.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-parents");
            var table = $("#table-master-claim").DataTable({
                order: [[1, 'asc']]
            });

            table.on('click', 'td > .remove', function (e) {
                var id = $(this).data("id");
                e.preventDefault();// used to stop its default behaviour
                bootbox.confirm($L.get("common.text.remove.item.confirmation"), function (result) {
                    if (result === true) {
                        $.ajax({
                            url: "/admin/api/websettings/" + id,
                            type: "DELETE",
                            timeout: 60000,
                            dataType: "json",
                            contentType: "application/json",
                            success: function (response) {
                                $alert.success($L.get("master.claim.text.remove.success"));
                                location.reload();
                            },
                            error: function (response) {
                                console.log(response);
                            },
                            beforeSend: function () {
                                $("#body-overlay").removeClass("hide");
                            },
                            complete: function () {
                                $("#body-overlay").addClass("hide");
                            }
                        });
                    };
                });
            });
        });
    </script>
}