﻿@using App.Web.Models.ViewModels.App
@model AreaStoAutocomplete
@{
    ViewData["Title"] = "STO Management Page";
}

@section breadcrumb{
    <li>
        <span>@Localization.GetLocalized("backadmin.menu.sto.management")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("sto.management.text"))</h1>
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.list")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-success" href="@Url.Action("Create")"><i class="fa fa-plus-circle"></i> @Localization.GetLocalized("common.button.edit")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    @*<div class="form-group">
        <label class="col-sm-2 control-label">Custom Template</label>
        <div class="col-sm-5">
            @Html.EditorFor(model => model.AreaCode, new { url = "/admin/api/sto/autocomplete", displayKey = "areaKode" })
        </div>
    </div>*@
    <div class="portlet-body">
        <table id="table-sto" class="table table-striped" cellspacing="0" width="100%">
            <colgorup>
                <col width="">
                <col width="">
                <col width="">
                <col width="260">
            </colgorup>
            <thead>
                <tr>
                    <th>@Localization.GetLocalized("sto.management.text.index.regional")</th>
                    <th>@Localization.GetLocalized("sto.management.text.index.witel")</th>
                    <th>@Localization.GetLocalized("sto.management.text.index.datel")</th>
                    <th>@Localization.GetLocalized("sto.management.text.index.stoname")</th>
                    <th>@Localization.GetLocalized("sto.management.text.index.areasto")</th>
                    <th>@Localization.GetLocalized("sto.management.text.index.areacode")</th>
                </tr>
            </thead>

          
        </table>
    </div>
</div>


@{
    Html.RenderPartial("_DatatablesAssets");
}

@section scripts{
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-paramter");
            var datatableOption = {
                ajaxMethod: "POST",
                listUrl: "/admin/api/stos/postdatatables",
                columnDefs: [
                          {
                              "targets": 0,
                              "data": "areaRegional",
                              name: "AreaRegional"
                          },
                         {
                             "targets": 1,
                             "data": "areaWitel",
                             name: "AreaWitel"
                         },
                         {
                             "targets": 2,
                             "data": "areaDatel",
                             name: "AreaDatel"
                         },
                         {
                             "targets": 3,
                             "data": "areaStoName",
                             name: "AreaStoName"
                         },
                         {
                             "targets": 4,
                             "data": "areaSto",
                             name: "AreaSto"
                         },
                         {
                             "targets": 5,
                             "data": "areaKode",
                             name: "AreaKode"
                         },
                ]
            }

            $datatables.init("#table-sto", datatableOption);

        });
    </script>
}