﻿@model WBSTree

@{
    var currencies = (List<Currency>)ViewBag.Currencies;
}
<div id="messageBoqline" class="hidden">
    <div class="alert alert-danger alert-dismissable">
        <strong> Anda Menggunakan Mata-Uang asing Harap Set Terlebih Dahulu Nilai Tukar <a href="/Admin/WBS/Edit/@Model.WBS.Id"> Disini</a> </strong>
    </div>
</div>
<form action="/admin/api/wbsboqs/PostBoQLine" method="post" class="form-horizontal" id="new-line-create">
 
    <fieldset>
        <a href="#" class="btn btn-danger pull-right btn-hideBoqline"><i class="fa fa-times"></i>&nbsp; @Localization.GetLocalized("common.button.close")</a>
        <legend>Tambah BOQ Manual</legend>
       
        <div class="form-body">
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
            </div>
            <div class="alert alert-success display-hide">
                <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
            </div>
            <div class="form-group">
                <label for="IdDesignator" class="control-label col-md-3">
                    @Localization.GetLocalized("referensiharga.management.text.create.iddesignator")
                </label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="IdDesignator" id="IdDesignator">
                </div>
            </div>
            <div class="form-group">
                <label for="Deskripsi" class="control-label col-md-3">
                    @Localization.GetLocalized("referensiharga.management.text.create.deskripsi")
                    <span class="text-danger"> * </span>
                </label>
                <div class="col-md-4">
                    <textarea type="text" class="form-control" name="Deskripsi" id="Deskripsi" rows="5" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="Satuan" class="control-label col-md-3">
                    @Localization.GetLocalized("referensiharga.management.text.create.satuan")
                    <span class="text-danger"> * </span>
                </label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="Satuan" id="Satuan" required>
                </div>
            </div>
            <div class="form-group">
                <label for="GrupHarga" class="control-label col-md-3">
                    @Localization.GetLocalized("referensiharga.management.text")
                    <span class="text-danger"> * </span>
                </label>
                <div class="col-md-4">
                    <input type="text" value="" name="GrupHarga" id="GrupHarga" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <label for="MataUang" class="control-label col-md-3">
                    @Localization.GetLocalized("referensiharga.management.text.create.matauang")
                    <span class="text-danger"> * </span>
                </label>
                <div class="col-md-4">
                    <select class="form-control" name="MataUang" id="MataUang" required>
                        @foreach (var item in currencies)
                        {
                            <option value="@item.CurrencyValue">@item.CurrencyValue</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="HargaMaterial" class="control-label col-md-3">
                    @Localization.GetLocalized("referensiharga.management.text.create.hargamaterial")
                    <span class="text-danger"> * </span>
                </label>
                <div class="col-md-4">
                    <input type="hidden" id="HargaMaterial" name="HargaMaterial" value="" />
                    <input type="text" value="" name="HargaMaterialForm" id="HargaMaterialForm" class="form-control numeric" required />
                </div>
            </div>
            <div class="form-group">
                <label for="HargaJasaForm" class="control-label col-md-3">
                    @Localization.GetLocalized("referensiharga.management.text.create.hargajasa")
                    <span class="text-danger"> * </span>
                </label>
                <div class="col-md-4">
                    <input type="hidden" id="HargaJasa" name="HargaJasa" value="" />
                    <input type="text" value="" name="HargaJasaForm" id="HargaJasaForm" class="form-control numeric" required />
                </div>
            </div>
            <div class="form-group">
                <label for="Qty" class="control-label col-md-3">
                    @Localization.GetLocalized("referensiharga.management.text.create.qty")
                    <span class="text-danger"> * </span>
                </label>
                <div class="col-md-4">
                    <input type="hidden" name="Qty" value="" />
                    <input type="text" value="" name="QtyForm" id="QtyForm" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-3 col-md-offset-3">
                    <button type="reset" class="btn btn-default"><i class="fa fa-refresh"></i>&nbsp; @Localization.GetLocalized("common.button.reset")</button>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; @Localization.GetLocalized("common.button.save")</button>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<script>
    function generateGrandTotal(id) {
        $.ajax({
            url: "/admin/api/WBSGrantTotals/getTotalWbstree?IdWbstree=" + id,
            method: "GET",
            success: function (resp) {
                populateGrandTotal(resp);
            }
        });
    }
    //  $("#inputBOQTambahan").removeClass("hidden");
    $(document).ready(function () {
        $(".numeric").number(true, 2, ',', '.');
        $("#QtyForm").number(true, 0, ',', '.');

        $(".btn-hideBoqline").on("click", function (e) {
            $("#inputBOQTambahan").addClass("hidden");
        });

        $(".numeric, #QtyForm").on("input", function () {
            $(this).prev("input").val($(this).val());
        });

        Handlebars.registerHelper("printNumeric", function (item) {
            var html = $.number(item, 2, ',', '.');
            return html;
        });

        var getterDesignator = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/admin/api/designators/designator?query=%QUERY',
                wildcard: '%QUERY'
            }
        });

        getterDesignator.initialize();

        $('#IdDesignator').typeahead({ hint: false }, {
            name: 'IdDesignator',
            source: getterDesignator,
            display: "idDesignator",
            templates: {
                suggestion: Handlebars.compile('<div><strong>{{idDesignator}}</strong><br/>{{deskripsi}}</div>')
            },
            limit: 20
        }).on("typeahead:select", function (e, obj) {
            $("#Deskripsi").val(obj.deskripsi);
            $("#Satuan").val(obj.satuan);
            getterGrup.initialize();
        });

        var getterGrup = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/admin/api/designators/grupdesignator?idDesignator=%DESIGNATOR&query=%QUERY',
                prepare: function (query, setting) {
                    setting.url = setting.url.replace('%QUERY', query).replace('%DESIGNATOR', $("#IdDesignator").val());
                    return setting;
                }
            }
        });

        getterGrup.initialize();

        $('#GrupHarga').typeahead({ hint: false }, {
            name: 'GrupHarga',
            source: getterGrup,
            display: "lokasi",
            templates: {
                suggestion: Handlebars.compile('<div>' +
                    '<strong>{{lokasi}}</strong><br/>' +
                    'Harga Material: {{mataUang}} {{printNumeric hargaMaterial}}<br/>' +
                    'Harga Jasa: {{mataUang}} {{printNumeric hargaJasa}}' +
                    '</div>')
            },
            limit: 20
        }).on("typeahead:select", function (e, obj) {
            $("#MataUang").val(obj.mataUang);
            $("#HargaMaterialForm").val(obj.hargaMaterial);
            $("#HargaMaterial").val(obj.hargaMaterial);
            $("#HargaJasaForm").val(obj.hargaJasa);
            $("#HargaJasa").val(obj.hargaJasa);
        });

        var ajaxCall = function (form, text) {
            var $this = $(form);

            var validationContainer = $this.find('#validation-summary');
            var data = {
                IdWBSTree: "@Model.Id",
            };

            $.each($this.serializeArray(), function (index, item) {
                data[item.name] = item.value;
            });

            $.ajax({
                url: $this.attr("action"),
                method: $this.attr("method"),
                data: data,
                success: function (resp) {
                    if (resp === "BoqCurrencies") {
                        alert("ok")
                       
                        
                        $('#new-line-create').each(function () {
                            this.reset();
                        });
                        $("#messageBoqline").removeClass("hidden");
                    } else {
                        var tblData = $("#table-tambahan").DataTable();
                        validationContainer.hide();
                        tblData.ajax.reload();
                        $alert.success("Berhasil menambahkan Line Baru");
                        $('#new-line-create').each(function () {
                            this.reset();
                        });
                        generateGrandTotal("@Model.Id")
                    }
                },
                error: function (resp) {
                    validationContainer.html("");
                    validationContainer.addClass("alert alert-danger");
                    if (resp.responseJSON) {
                        var obj = resp.responseJSON;
                        var html = "";

                        $.each(obj, function (i, item) {
                            $.each(item, function (index, text) {
                                html += text + "<br/>";
                            });
                        });

                        validationContainer.html(html);
                    } else {
                        validationContainer.html(resp.responseText);
                    }
                }
            });
        }

        var options = {
            success: function (form) {
                ajaxCall(form, $L.get("resource.text.edit.success"));
            }
        }

        FormValidation.init("#new-line-create", options);
    });
</script>