﻿@model WBSBoQViewModel

<div class="boqinput hidden" id="gridInput">
    <div id="MessageBoq" class="hidden">
        <div class="alert alert-danger alert-dismissable">
            <strong> Anda Menggunakan Mata-Uang asing Harap Set Terlebih Dahulu Nilai Tukar <a href="/Admin/WBS/Edit/@Model.WBS.Id"> Disini</a> </strong>
        </div>
    </div>
    <h4>
        Referensi Harga: <strong>@Model.Lokasi.GrupHarga</strong>
    </h4>
    <br />
    <table id="table-paket" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th rowspan="2" style="width: 150px;">Designator</th>
                <th rowspan="2">Uraian</th>
                <th rowspan="2" style="width: 150px;">Satuan</th>
                <th rowspan="2" style="width: 150px;">Mata Uang</th>
                <th colspan="2"><center>Harga</center></th>
                <th rowspan="2" style="width: 100px;">Jumlah item</th>
            </tr>
            <tr>
                <th style="width: 125px;">Material</th>
                <th style="width: 125px;">Jasa</th>
            </tr>
        </thead>
    </table>
    <br />
</div>


<div id="BoQPreview" class="hidden">
    <h4>
        BOQ Preview
    </h4>
    <br />

    <table id="table-preview" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th rowspan="2" style="width: 150px;">Designator</th>
                <th rowspan="2" style="width: 150px;">Paket</th>
                <th rowspan="2">Uraian</th>
                <th rowspan="2" style="width: 150px;">Satuan</th>
                <th rowspan="2" style="width: 150px;">Mata Uang</th>
                <th colspan="2"><center>Harga</center></th>
                <th rowspan="2" style="width: 100px;">Jumlah item</th>
                <th rowspan="2" style="width: 100px;">Total Per Item</th>
            </tr>
            <tr>
                <th style="width: 125px;">Material</th>
                <th style="width: 125px;">Jasa</th>
            </tr>

        </thead>
    </table>
    <br />
</div>

<div id="inputBOQTambahanGrid">
    <a href="#" class="btn btn-success" id="otherBOQ"><i class="fa fa-plus-circle"></i> Tambahkan Referensi Harga Lain</a>
    <div class="clearfix"></div>
    <br />

    <h4>
        BOQ Manual
    </h4>
    <br />
    <table id="table-tambahan" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th rowspan="2" style="width: 150px;">Designator</th>
                <th rowspan="2" style="width: 150px;">Paket</th>
                <th rowspan="2">Uraian</th>
                <th rowspan="2" style="width: 150px;">Satuan</th>
                <th rowspan="2" style="width: 150px;">Mata Uang</th>
                <th colspan="2"><center>Harga</center></th>
                <th rowspan="2" style="width: 100px;">Jumlah item</th>
                <th rowspan="2" style="width: 100px;">Total Per Item</th>
            </tr>
            <tr>
                <th style="width: 125px;">Material</th>
                <th style="width: 125px;">Jasa</th>
            </tr>
        </thead>
    </table>
</div>



<script>


    function generateGrandTotal(id) {
        $.ajax({
            url: "/admin/api/WBSGrantTotals/getTotalWbstree?IdWbstree=" + id,
            method: "GET",
            success: function (resp) {
                populateGrandTotal(resp);
            }
        });
    }
    var paketharga = null;
    function getPaketHarga(id) {
        $.ajax({
            url: "/admin/api/wbstrees/getkelomokharga/" + id,
            method: "GET",
            success: function (resp) {
                console.log(resp);
                if (resp != null) {

                    $("#gridInput").removeClass("hidden");
                    $("#BoQPreview").removeClass("hidden");

                }

            }
        });
    }
    $(document).ready(function () {

        $(".number").number(true, 2, ',', '.');
        getPaketHarga("@Model.Lokasi.Id")
        generateGrandTotal("@Model.Lokasi.Id")


        var datatableOption = {
            listUrl: "/admin/api/wbsboqs/GetWBSBoQ?id=@Model.Lokasi.Id",
            ajaxMethod: "POST",
            stateSave: true,
            columnDefs: [
                     {
                         "targets": 0,
                         "data": "idDesignator",
                         name: "IdDesignator"
                     },
                     {
                         "targets": 1,
                         "data": "deskripsi",
                         name: "Deskripsi"
                     },
                     {
                         "targets": 2,
                         "data": "satuan",
                         name: "Satuan"
                     },
                      {
                          "targets": 3,
                          "data": "mataUang",
                          name: "MataUang",

                      },
                     {
                         "targets": 4,
                         "data": "hargaMaterial",
                         name: "HargaMaterial",
                         render: function (data) {
                             return $.number(data, 2, ',', '.');
                         },
                         className: "dt-body-right"
                     },
                     {
                         "targets": 5,
                         "data": "hargaJasa",
                         name: "HargaJasa",
                         render: function (data) {
                             return $.number(data, 2, ',', '.');
                         },
                         className: "dt-body-right"
                     },
                     {
                         "targets": 6,
                         "data": "qty",
                         name: "Qty",
                         render: function (data, e, row) {
                             data = data || "";
                             var html = '<input type="hidden" value="' + data + '"' +
                                 'data--grup-harga="' + row.grupHarga + '"' +
                                 'data--designator="' + row.idDesignator + '"' +
                                 'data--harga-material="' + row.hargaMaterial + '"' +
                                 'data--harga-jasa="' + row.hargaJasa + '"' +
                                 'data--mata-uang="' + row.mataUang + '" />' +
                                 '<input type="text" class="input-jumlah form-control text-right" value="' + data + '"/>';
                             return html;
                         },
                         className: "dt-body-right"
                     }
            ]
        }

        var datatableTambahanOption = {
            listUrl: "/admin/api/wbsboqs/GetWBSBoQOther?id=@Model.Lokasi.Id",
            ajaxMethod: "POST",
            stateSave: true,
            columnDefs: [
                     {
                         "targets": 0,
                         "data": "idDesignator",
                         name: "IdDesignator"
                     },
                     {
                         "targets": 1,
                         "data": "grupHarga",
                         name: "GrupHarga"
                     },
                     {
                         "targets": 2,
                         "data": "deskripsi",
                         name: "Deskripsi"
                     },
                     {
                         "targets": 3,
                         "data": "satuan",
                         name: "Satuan"
                     },
                     {
                         "targets": 4,
                         "data": "mataUang",
                         name: "MataUang",

                     },
                     {
                         "targets": 5,
                         "data": "hargaMaterial",
                         name: "HargaMaterial",
                         render: function (data) {
                             return $.number(data, 2, ',', '.');
                         },
                         className: "dt-body-right"
                     },
                     {
                         "targets": 6,
                         "data": "hargaJasa",
                         name: "HargaJasa",
                         render: function (data) {
                             return $.number(data, 2, ',', '.');
                         },
                         className: "dt-body-right"
                     },
                     {
                         "targets": 7,
                         "data": "qty",
                         name: "Qty",
                         render: function (data, e, row) {
                             data = data || "";
                             var html = '<input type="hidden" value="' + data + '"' +
                                 'data--grup-harga="' + row.grupHarga + '"' +
                                 'data--designator="' + row.idDesignator + '"' +
                                 'data--harga-material="' + row.hargaMaterial + '"' +
                                 'data--harga-jasa="' + row.hargaJasa + '"' +
                                   'data--mata-uang="' + row.mataUang + '" />' +
                                 '<input type="text" class="input-jumlah form-control text-right" value="' + data + '" />';
                             return html;
                         },
                         className: "dt-body-right"
                     },
                     {
                         "targets": 8,
                         "data": "totalItemBoq",
                         render: function (data) {
                             return $.number(data, 2, ',', '.');
                         },
                         className: "dt-body-right"
                     }
            ]
        }

        var datatablePreviewOption = {
            listUrl: "/admin/api/wbsboqs/GetWBSBoQPreview?id=@Model.Lokasi.Id",
            ajaxMethod: "POST",
            stateSave: true,
            columnDefs: [
                     {
                         "targets": 0,
                         "data": "idDesignator",
                         name: "IdDesignator"
                     },
                     {
                         "targets": 1,
                         "data": "grupHarga",
                         name: "GrupHarga"
                     },
                     {
                         "targets": 2,
                         "data": "deskripsi",
                         name: "Deskripsi"
                     },
                     {
                         "targets": 3,
                         "data": "satuan",
                         name: "Satuan"
                     },
                     {
                         "targets": 4,
                         "data": "mataUang",
                         name: "MataUang",

                     },
                     {
                         "targets": 5,
                         "data": "hargaMaterial",
                         name: "HargaMaterial",
                         render: function (data) {
                             return $.number(data, 2, ',', '.');
                         },
                         className: "dt-body-right"
                     },
                     {
                         "targets": 6,
                         "data": "hargaJasa",
                         name: "HargaJasa",
                         render: function (data) {
                             return $.number(data, 2, ',', '.');
                         },
                         className: "dt-body-right"
                     },

                     {
                         "targets": 7,
                         "data": "qty",
                         name: "Qty",
                         render: function (data, e, row) {
                             data = data || "";
                             var html = '<input type="hidden" value="' + data + '"' +
                                 'data--grup-harga="' + row.grupHarga + '"' +
                                 'data--designator="' + row.idDesignator + '"' +
                                 'data--harga-material="' + row.hargaMaterial + '"' +
                                 'data--harga-jasa="' + row.hargaJasa + '" ' +
                                 'data--mata-uang="' + row.mataUang + '" />' +
                                 '<input type="text" class="input-jumlah form-control text-right" value="' + data + '" readonly/>';
                             return html;
                         },
                         className: "dt-body-right"
                     },
                     {
                         "targets": 8,
                         "data": "totalItemBoq",
                         render: function (data) {
                             return $.number(data, 2, ',', '.');
                         },
                         className: "dt-body-right"
                     }
            ]
        }

        $datatables.init("#table-paket", datatableOption);
        $datatables.init("#table-tambahan", datatableTambahanOption);
        $datatables.init("#table-preview", datatablePreviewOption);

        var dataTable = $("#table-paket").DataTable();
        var dataTableTambahan = $("#table-tambahan").DataTable();
        var dataTablePreview = $("#table-preview").DataTable();

        var inputJumlah = function () {
            $(".input-jumlah")
                .number(true, 0, ',', '.')
                .unbind()
                .on("change", function () {
                    var $this = $(this);
                    updateData($this);
                })
                .on("keyup", $.debounce(500, function () {
                    var $this = $(this);
                    updateData($this);
                }));
        }

        var updateData = function ($this) {
            var prev = $this.prev("input");
            prev.val($this.val());

            var data = prev.data();
            data.IdWBSTree = "@Model.Lokasi.Id";
            data.Qty = prev.val();
            dataTablePreview.ajax.reload();

            if (prev.val().length == 0) {
                $.ajax({
                    url: "/admin/api/wbses/deleteboq",
                    data: data,
                    method: "DELETE",
                    success: function (resp) {
                        $alert.success("Berhasil menghapus line BoQ");
                        generateGrandTotal("@Model.Lokasi.Id")
                    }
                });
            }
            else {
                $.ajax({
                    url: "/admin/api/wbses/postboq",
                    data: data,
                    method: "POST",
                    success: function (resp) {
                        if (resp === "BoqCurrencies") {
                            $("#MessageBoq").removeClass("hidden");
                        } else {
                            $alert.success("Berhasil menambahkan line BoQ");
                            generateGrandTotal("@Model.Lokasi.Id")
                        }

                    }
                });
            }
        }
        dataTable.on("draw", inputJumlah);
        dataTableTambahan.on("draw", inputJumlah);
    });

    function populateGrandTotal(data) {

        var total = 0;

        var grandtotal = 0

        if (data.length != 0) {

            $("tbody#data-total").empty();
            var htmlToAdd = "";

            $.each(data, function (i, e) {
                var divContent = "";
                divContent = $("#grandTotal-list-template").html();

                divContent = divContent.replace(/{{currency}}/ig, e.currencyName);
                divContent = divContent.replace(/{{before}}/ig, $.number(e.beforeConvertion, 2, ',', '.'));
                divContent = divContent.replace(/{{rate}}/ig, $.number(e.rate, 2, ',', '.'));
                divContent = divContent.replace(/{{after}}/ig, $.number(e.afterConvertion, 2, ',', '.'));
                htmlToAdd += divContent;

                total = e.afterConvertion;

                grandtotal += total;
            });

            $("span#grandTotal").text("Rp " + $.number(grandtotal, 2, ',', '.'))

            $("tbody#data-total").append(htmlToAdd);
        }
    }
</script>

<script type="my-template" id="grandTotal-list-template">
    <tr>
        <td>{{currency}}</td>
        <td>{{before}}</td>
        <td>{{rate}}</td>
        <td>{{after}}</td>
    </tr>
</script>


<style>
    li.list-group-item {
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
        background-color: #fff;
        border: none !important;
    }
</style>
