﻿@model WBSBoQViewModel
@{
    ViewBag.Title = "WBS Management Page | Create";
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("wbs.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.edit")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("wbs.management.text.wbs.management"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.edit")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
                </div>
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })
                @(await Component.InvokeAsync("UnitHeader", new { unitId = Model.WBS.Unit }))

                <div class="form-group">
                    <label asp-for="WBS.NamaKegiatan" class="control-label col-md-3">
                        @Localization.GetLocalized("wbs.management.text.create.namakegiatan")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="WBS.NamaKegiatan" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lokasi.AreaMapping.AreaRegional" class="control-label col-md-3">
                        @Localization.GetLocalized("sto.management.text.index.regional")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Lokasi.AreaMapping.AreaRegional" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lokasi.AreaMapping.AreaWitel" class="control-label col-md-3">
                        @Localization.GetLocalized("sto.management.text.index.witel")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Lokasi.AreaMapping.AreaWitel" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lokasi.AreaMapping.AreaDatel" class="control-label col-md-3">
                        @Localization.GetLocalized("sto.management.text.index.datel")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Lokasi.AreaMapping.AreaDatel" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lokasi.AreaMapping.AreaStoName" class="control-label col-md-3">
                        @Localization.GetLocalized("sto.management.text.index.stoname")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Lokasi.AreaMapping.AreaStoName" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lokasi.Name" class="control-label col-md-3">
                        @Localization.GetLocalized("resource.text.create.wbs.name")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Lokasi.Name" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="WBSCategory" class="control-label col-md-3">
                        @Localization.GetLocalized("wbs.management.text.create.category")
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.WBSCategory, new { WBSId = Model.Lokasi.Id })
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("wbs.wbs.boq")</span>
        </div>
        @if (ViewBag.HasBoQ)
        {
            <div class="pull-right">
                <a class="btn btn-danger" href="#" id="deleteBoQ"><i class="fa fa-trash"></i> @Localization.GetLocalized("button.delete.boq")</a>
            </div>
        }
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <div id="MessageBoqfile" class="hidden">
            <div class="alert alert-danger alert-dismissable">
                <strong> <div id="demo"></div>   Harap set terlebih dahulu nilai tukar <a href="/Admin/WBS/Edit/@Model.WBS.Id"> Disini</a> </strong>
            </div>
        </div>
        <form class="form-horizontal" method="post" id="CreateUpload">
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
            </div>
            <div class="alert alert-success display-hide">
                <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
            </div>
            @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })
            <div class="form-group">
                <label class="control-label col-md-3">
                    Sumber BOQ
                </label>
                <div class="col-md-4">
                    <select class="form-control" id="sourceBOQ" name="sourceBOQ">
                        <option value="" selected disabled>Select source ....</option>
                        <option value="0">Input Manual</option>
                        <option value="1">Upload Dokumen</option>
                    </select>
                </div>
            </div>
            <div class="form-group hidden" id="uploadBOQ">
                <label class="control-label col-md-3">
                    File BoQ
                    <span class="text-danger"> * </span>
                </label>
                <div class="col-md-4">
                    <input type="hidden" name="path" id="path" />
                    @Html.EditorFor(model => model.FileBoQ, new { required = "required" })
                    <span asp-validation-for="FileBoQ" class="text-danger"></span>
                </div>
                <div class="clearfix"></div>
                <p></p>
                <div class="col-md-8 col-md-offset-3">
                    <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-save"></i>&nbsp; @Localization.GetLocalized("common.button.save")</button>
                </div>
            </div>
        </form>
       
        <div class="col-md-12 hidden" id="inputBOQ">
            @Html.Partial("_RenderTable", Model)
        </div>
        <div class="col-md-12 hidden" id="inputBOQTambahan">
            @Html.Partial("_NewLineForm", Model.Lokasi)
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <h4>Jumlah Grand Total BoQ</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Mata Uang</th>
                        <th>Jumlah</th>
                        <th>Nilai Tukar Terhadap Rupiah</th>
                        <th>Jumlah Setelah Di Konversi</th>
                    </tr>
                </thead>
                <tbody id="data-total"></tbody>
            </table>
            <h4 class="text-right"> Grand Total : <span id="grandTotal" class="number grandTotal caption-subject font-red uppercase bold" style="font-size:20px;"></span></h4>
            <br />
        </div>
        <div class="clearfix"></div>
    </div>
</div>
@{
    Html.RenderPartial("_DatatablesAssets");
}

@section styles{
    <link href="~/assets/global/plugins/jstree/dist/themes/default/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/global/plugins/typeahead/typeahead.css" />
    <link href="~/assets/global/plugins/jstree/dist/themes/default/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/global/plugins/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" />
    <style>
        .tt-input {
            color: #555;
        }
    </style>
}

@section Scripts {
    <script src="~/assets/global/plugins/typeahead/handlebars.min.js"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js"></script>
    <script src="~/assets/global/plugins/jquery.number.min.js"></script>
    <script src="~/assets/global/plugins/select2/js/select2.min.js"></script>
    <script src="~/assets/global/plugins/jstree/dist/jstree.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>
}

<script>
    $(document).ready(function () {

        $common.setMenu("#menu-request");

        var validationOptions = {
            ignore: '*:not([name])', //Fixes your name issue
            rules: {
                FileBoQ: {
                    required: true
                }
            }
        }

        FormValidation.init("#CreateUpload", validationOptions);

        $("form#CreateUpload").on("submit", function (e) {
            e.preventDefault();

            if ($("#FileBoQ").val() != "") {
                $.ajax({
                    url: "/Admin/Api/WBSBoQs/PostTemplateExcel/?source=" + $("#path").val(),
                    method: "POST",
                    success: function (resp) {
                        var res = resp.substring(0, 9);
                        if (res === "Mata-uang") {
                            $("#demo").text("Anda menggunakan "+resp);
                            $("#MessageBoqfile").removeClass("hidden");
                        } else if (resp === "DownloadTemplate") {
                            $alert.error("Harap download ulang template");
                        } else {

                            window.location.href = "/Admin/WBS/DetailsBoQ/" + "@Model.Lokasi.Id"
                        }
                        console.log(res)
                        //
                    },
                    error: function (resp) {
                        $alert.error(resp);
                    }
                })
            }
        });

        $("#sourceBOQ").change(function () {
            var result = $(this).val();
            if (result == 0) {
                $("#inputBOQ").removeClass("hidden");
                $("#uploadBOQ").addClass("hidden");
            } else {
                $("#inputBOQ").addClass("hidden");
                $("#inputBOQTambahan").addClass("hidden");
                $("#uploadBOQ").removeClass("hidden");
            }
        });

        $("#otherBOQ").click(function (e) {
            e.preventDefault();
            $("#inputBOQTambahan").removeClass("hidden");
        });

        if ("@ViewBag.HasBoQ" == "True") {
            $("#inputBOQ").removeClass("hidden");
        }

        $("#deleteBoQ").click(function (e) {
            e.preventDefault();// used to stop its default behaviour
            bootbox.confirm($L.get("common.text.remove.item.confirmation"), function (result) {
                if (result === true) {
                    $.ajax({
                        url: "/admin/api/wbsboqs/DeleteBoQByIdWBS?id=" + "@Model.Lokasi.Id",
                        type: "DELETE",
                        timeout: 60000,
                        dataType: "json",
                        contentType: "application/json",
                        success: function (response) {
                            window.location.href = "/Admin/WBS/Boq?Id=" + "@Model.Lokasi.Id";
                        },
                        error: function (response) {
                            console.log(response);
                        },
                        beforeSend: function () {
                            $("#body-overlay").removeClass("hide");
                        },
                        complete: function () {
                            $("#body-overlay").addClass("hide");
                        }
                    });
                };
            });
        })
    });

</script>