﻿@model WBSForm
@{
    ViewBag.Title = "WBS Management Page | Create";

    var message = TempData["Alert"];
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("wbs.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.create")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("wbs.management.text.wbs.management"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.create")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" asp-action="Create" method="post" id="WBSCreate" class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
                    @message
                </div>
                    @if (message != null)
                    {
                        <div class="alert alert-danger">
                            @message
                        </div>
                    }
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
                </div>
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })
                @(await Component.InvokeAsync("UserUnitHeader", new { userId = UserHelper.GetUserId(User) }))

                <div class="form-group">
                    <label asp-for="NamaKegiatan" class="control-label col-md-3">
                        @Localization.GetLocalized("wbs.management.text.create.namakegiatan")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <input asp-for="NamaKegiatan" class="form-control" required />
                        <span asp-validation-for="NamaKegiatan" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="WBSCurrencies" class="control-label col-md-3">
                        @Localization.GetLocalized("wbs.management.text.create.availablecurrency")
                    </label>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.WBSCurrencies, new { required = "required" })
                    </div>
                </div>
                <div class="form-group last">
                    <div class="col-md-3 col-md-offset-3">
                        <label class="text-danger">* @Localization.GetLocalized("common.text.field.required")</label>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; @Localization.GetLocalized("common.button.save")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-request");

            var validationOptions = {
                rules: {
                    CurrencyValue: {
                        required: true,
                    }
                }
            }

            FormValidation.init("#WBSCreate", validationOptions);
        });
    </script>
}
