﻿@model WBSBoQViewModel
@{
    ViewBag.Title = "WBS Management Page | Details";
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("wbs.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.details")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("wbs.management.text.wbs.management"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.details")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" asp-action="Edit" method="post" id="WBSCreate" class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
                </div>
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })
                @(await Component.InvokeAsync("UnitHeader", new { unitId = Model.WBS.Unit }))

                <div class="form-group">
                    <label asp-for="WBS.NamaKegiatan" class="control-label col-md-3">
                        @Localization.GetLocalized("wbs.management.text.create.namakegiatan")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="WBS.NamaKegiatan" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lokasi.AreaMapping.AreaRegional" class="control-label col-md-3">
                        @Localization.GetLocalized("sto.management.text.index.regional")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Lokasi.AreaMapping.AreaRegional" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lokasi.AreaMapping.AreaWitel" class="control-label col-md-3">
                        @Localization.GetLocalized("sto.management.text.index.witel")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Lokasi.AreaMapping.AreaWitel" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lokasi.AreaMapping.AreaDatel" class="control-label col-md-3">
                        @Localization.GetLocalized("sto.management.text.index.datel")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Lokasi.AreaMapping.AreaDatel" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lokasi.AreaMapping.AreaStoName" class="control-label col-md-3">
                        @Localization.GetLocalized("sto.management.text.index.stoname")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Lokasi.AreaMapping.AreaStoName" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lokasi.Name" class="control-label col-md-3">
                        @Localization.GetLocalized("resource.text.create.wbs.name")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Lokasi.Name" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="WBSCategory" class="control-label col-md-3">
                        @Localization.GetLocalized("wbs.management.text.create.category")
                    </label>
                    <div class="col-md-4">
                        <p class="form-control-static">@ViewBag.Category</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("wbs.wbs.boq")</span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <div class="col-md-12">
            @Html.Partial("_RenderTableDetails", Model)
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <h4>Jumlah Grand Total BoQ</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Mata Uang</th>
                        <th>Jumlah</th>
                        <th>Nilai Tukar Terhadap Rupiah</th>
                        <th>Jumlah Setelah Di Konversi</th>
                    </tr>
                </thead>
                <tbody id="data-total"></tbody>
            </table>
            <h4 class="text-right"> Grand Total : <span id="grandTotal" class="number grandTotal caption-subject font-red uppercase bold" style="font-size:20px;"></span></h4>
            <br />
        </div>
        <div class="clearfix"></div>
    </div>
</div>
@{
    Html.RenderPartial("_DatatablesAssets");
}

@section styles{
    <link href="~/assets/global/plugins/jstree/dist/themes/default/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/global/plugins/typeahead/typeahead.css" />
    <link href="~/assets/global/plugins/jstree/dist/themes/default/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/global/plugins/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" />
    <style>
        .tt-input {
            color: #555;
        }
    </style>
}

@section Scripts {
    <script src="~/assets/global/plugins/typeahead/handlebars.min.js"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js"></script>
    <script src="~/assets/global/plugins/jquery.number.min.js"></script>
    <script src="~/assets/global/plugins/select2/js/select2.min.js"></script>
    <script src="~/assets/global/plugins/jstree/dist/jstree.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>

    <script>
        $common.setMenu("#menu-request");
        $("#gridInput").addClass("hidden");
        $("#otherBOQ").addClass("hidden");
    </script>
}

