﻿@model WBSForm
@{
    ViewBag.Title = "WBS Management Page | Details";
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("wbs.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.details")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("wbs.management.text.wbs.management"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.details")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
                </div>
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })
                @(await Component.InvokeAsync("UnitHeader", new { unitId = Model.KodeUnit }))

                <div class="form-group">
                    <label asp-for="NamaKegiatan" class="control-label col-md-3">
                        @Localization.GetLocalized("wbs.management.text.create.namakegiatan")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="NamaKegiatan" class="form-control" required readonly />
                        <span asp-validation-for="NamaKegiatan" class="text-danger"></span>
                    </div>
                </div>
                @*<div class="form-group">
                        <label for="wbs" class="control-label col-md-3">
                            @Localization.GetLocalized("wbs.management.text.create.namawbs")
                        </label>
                        <div class="col-md-4">
                            <select name="WBS" id="WBS" class="form-control" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lokasi" class="control-label col-md-3">
                            @Localization.GetLocalized("wbs.management.text.create.namalokasi")
                        </label>
                        <div class="col-md-6">
                            <select name="Lokasi" id="Lokasi" class="form-control">
                                <option selected disabled> Select Lokasi</option>
                            </select>
                        </div>
                    </div>*@
            </div>
            @*<div class="form-actions">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-3">
                            <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                            <a href="#" id="btn-search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp; @Localization.GetLocalized("common.button.search")</a>
                        </div>
                    </div>
                </div>*@
        </form>
    </div>
</div>

<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">Detail Information</span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <div id="wbs-treeview" class="tree-demo"> </div>
    </div>
</div>


@{
    Html.RenderPartial("_DatatablesAssets");
}

@section styles{
    <link rel="stylesheet" href="~/assets/global/plugins/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" />
    <link href="~/assets/global/plugins/jstree/dist/themes/default/style.css" rel="stylesheet" />
}

@section scripts{

    <script src="~/assets/global/plugins/jquery.number.min.js"></script>
    <script src="~/assets/global/plugins/jstree/dist/jstree.js"></script>

}


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<script>

    $(document).ready(function () {
        $common.setMenu("#menu-request");
        $(".number").number(true, 2, ',', '.');
        getChild();
    });

    function customMenu(node) {
        var items = {
            dataBoq: {
                label: "Details BoQ",
                action: function (data) {
                    var ref = $.jstree.reference(data.reference);
                    sel = ref.get_selected();
                    var uri = "/Admin/WBS/DetailsBoQ/" + sel;
                    var win = window.open(uri, '_blank');
                    win.focus();
                }
            },
            dataSchedule: {
                label: "Details Schedule",
                action: function (data) {
                    var ref = $.jstree.reference(data.reference);
                    sel = ref.get_selected();
                    var uri = "/Admin/WBS/DetailsSchedule/" + sel;
                    var win = window.open(uri, '_blank');
                    win.focus();
                }
            }
        };

        var status = node.original.type;

        switch (status) {
            case "unitkerja":
                delete items.dataBoq;
                delete items.dataSchedule;
                break;
            case "WBS":
                delete items.dataBoq;
                delete items.dataSchedule;
                break;
            case "WBSHasWBS":
            case "WBSLocation":
                break;
            case "WP":
                delete items.dataBoq;
                delete items.dataSchedule;
                break;
            case "Location":
                break;
            default:
                items = {};
        }


        return items;
    }

    function getChild() {
        $("#wbs-treeview").jstree({
            "core": {
                "themes": {
                    "responsive": false
                },
                // so that create works
                "check_callback": true,
                'data': function (obj, cb) {
                    if (obj.id == "#") {
                        cb.call(this, [{
                            "id": "tree-kegiatan",
                            "text": "@Model.NamaKegiatan",
                            "type": "default",
                            "children": [{
                                "id": "tree-unitbisnis",
                                "text": $("#UnitBisnis").val(),
                                "type": "default",
                                "children": [{
                                    "id": "tree-unitkerja",
                                    "text": $("#UnitKerja").val(),
                                    "type": "unitkerja",
                                    "children": true
                                }]
                            }]
                        }]);
                    } else if (obj.id == "tree-unitkerja") {
                        $.ajax({
                            url: "/admin/api/wbstrees/getwbstrees/" + "@ViewBag.IdWBS",
                            type: "GET",
                            success: function (resp) {
                                cb.call(this, resp);
                            }
                        });
                    } else {
                        $.ajax({
                            url: "/admin/api/wbstrees/getchildwbstrees/" + obj.id,
                            type: "GET",
                            success: function (resp) {
                                cb.call(this, resp);
                            }
                        });
                    }
                }
            },
            "types": {
                "default": {
                    "icon": "fa fa-square icon-state-warning icon-lg"
                },
                "file": {
                    "icon": "fa fa-file icon-state-warning icon-lg"
                }
            },
            "state": { "key": "WBSTree-@ViewBag.IdWBS" },
            "plugins": ["contextmenu", "dnd", "types", "state"],
            "contextmenu": { items: customMenu }
        }).bind("select_node.jstree", function (event, data) {

        });
    }

</script>


<script type="my-template" id="grandTotal-list-template">
    <li class="list-group-item">
        <span class="number grandTotal caption-subject font-red uppercase" style="font-size:20px;">{{currency}} {{value}}</span>
    </li>
</script>
