﻿@model WBSBoQViewModel
@{
    ViewBag.Title = "WBS Management Page | Details";
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("wbs.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.details")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("wbs.management.text.wbs.management"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.details")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" asp-action="Edit" method="post" id="WBSCreate" class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
                </div>
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })
                @(await Component.InvokeAsync("UnitHeader", new { unitId = Model.WBS.Unit }))

                <div class="form-group">
                    <label asp-for="WBS.NamaKegiatan" class="control-label col-md-3">
                        @Localization.GetLocalized("wbs.management.text.create.namakegiatan")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="WBS.NamaKegiatan" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lokasi.AreaMapping.AreaRegional" class="control-label col-md-3">
                        @Localization.GetLocalized("sto.management.text.index.regional")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Lokasi.AreaMapping.AreaRegional" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lokasi.AreaMapping.AreaWitel" class="control-label col-md-3">
                        @Localization.GetLocalized("sto.management.text.index.witel")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Lokasi.AreaMapping.AreaWitel" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lokasi.AreaMapping.AreaDatel" class="control-label col-md-3">
                        @Localization.GetLocalized("sto.management.text.index.datel")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Lokasi.AreaMapping.AreaDatel" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lokasi.AreaMapping.AreaStoName" class="control-label col-md-3">
                        @Localization.GetLocalized("sto.management.text.index.stoname")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Lokasi.AreaMapping.AreaStoName" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lokasi.Name" class="control-label col-md-3">
                        @Localization.GetLocalized("resource.text.create.wbs.name")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Lokasi.Name" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="WBSCategory" class="control-label col-md-3">
                        @Localization.GetLocalized("wbs.management.text.create.category")
                    </label>
                    <div class="col-md-4">
                        <p class="form-control-static">@ViewBag.Category</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("wbs.wbs.schedule")</span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <div class="col-md-12">
            <table id="table-activity-template" class="table table-striped" cellspacing="0" width="100%">
                <colgorup>
                    <col width="">
                    <col width="">
                    <col width="">
                    <col width="">
                    <col width="">
                    <col width="">
                    <col width="">
                    <col width="">
                </colgorup>
                <thead>
                    <tr>
                        <th>@Localization.GetLocalized("activity.template.management.text.index.name")</th>
                        <th>@Localization.GetLocalized("activity.template.management.text.index.parent.name")</th>
                        <th>@Localization.GetLocalized("activity.template.management.text.index.bobot")</th>
                        <th>@Localization.GetLocalized("activity.template.management.text.index.predecessor")</th>
                        <th>Durasi (Hari)</th>
                        <th>@Localization.GetLocalized("activity.template.management.text.index.start.actual")</th>
                        <th>@Localization.GetLocalized("activity.template.management.text.index.finish.actual")</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>@Localization.GetLocalized("activity.template.management.text.index.name")</th>
                        <th>@Localization.GetLocalized("activity.template.management.text.index.parent.name")</th>
                        <th>@Localization.GetLocalized("activity.template.management.text.index.bobot")</th>
                        <th>@Localization.GetLocalized("activity.template.management.text.index.predecessor")</th>
                        <th>Durasi (Hari)</th>
                        <th>@Localization.GetLocalized("activity.template.management.text.index.start.actual")</th>
                        <th>@Localization.GetLocalized("activity.template.management.text.index.finish.actual")</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-12">
            <div class="min-h-300 h-400 m-0" id="container"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
@{
    Html.RenderPartial("_DatatablesAssets");
}

@section styles{
    <style>
        .tt-input {
            color: #555;
        }

        tr.group-parent {
            font-weight: 800 !important;
        }
    </style>
}

@section Scripts {
    <script src="~/assets/global/plugins/select2/js/select2.min.js"></script>
    <script src="~/assets/global/plugins/jquery.number.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

    <script>
        var $tblData = $('#table-activity-template'),
        dtTblData;
        $common.setMenu("#menu-request");
        $("#gridInput").addClass("hidden");
        $("#inputBOQTambahanGrid").addClass("hidden");

        function showSCurve(id) {
            $.ajax({
                type: "GET",
                url: "/admin/api/wbsscheduleplanning/getvaluecurvasplanning/" + id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                cache: false,
                success: function (data) {
                    Highcharts.stockChart('container', {
                        rangeSelector: {
                            selected: 1
                        },

                        title: {
                            text: 'Curva S' + " " + "@Model.Lokasi.Name"
                        },

                        series: [{
                            data: data,
                            marker: {
                                enabled: true,
                                radius: 3
                            },
                            tooltip: {
                                valueDecimals: 2
                            }
                        }]
                    });
                }
            });
        };

        function GenerateDataTable(id) {
            dtTblData = $tblData.DataTable({
                "rowReorder": true,
                "processing": true,
                "serverSide": true,
                "destroy": true,
                "ajax": {
                    url: "/admin/api/WBSSchedule/getschedulebyid/" + id,
                    type: "post",
                },
                "order": [[1, 'desc']],
                "columns": [
                             {
                                 "targets": 0,
                                 "data": "namaAct",
                                 name: "NamaAct",
                             },
                             {
                                 "visible": false,
                                 "targets": 1,
                                 "data": "otherInfo",
                                 name: "OtherInfo",
                             },
                             {
                                 "targets": 2,
                                 "data": "bobot",
                                 name: "Bobot"
                             },
                             {
                                 "targets": 3,
                                 "data": "predecessor",
                                 name: "Predecessor"
                             },
                              {
                                  "targets": 4,
                                  "data": "durasiReal",
                                  name: "DurasiReal"
                              },

                             {
                                 "targets": 5,
                                 "data": "start",
                                 name: "Start",
                                 render: function (data, type, dataObj) {
                                     if (data) {
                                         var date = moment(data);
                                         return date.format("DD/MMMM/YYYY");
                                     }
                                     return "";
                                 }
                             },
                             {
                                 "targets": 6,
                                 "data": "finish",
                                 name: "Finish",
                                 render: function (data, type, dataObj) {
                                     if (data) {
                                         var date = moment(data);
                                         return date.format("DD/MMMM/YYYY");
                                     }
                                     return "";
                                 }
                             },
                ],
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(1, { page: 'current' }).data().each(function (group, i) {
                        var row = $('<tr/>', { class: 'group-parent' });
                        if (last !== group) {

                            row.append('<td colspan="6">' + group + '</td>');

                            $(rows).eq(i).before(
                                row
                            );
                            last = group;
                        }
                    });
                },
                "stateSave": false
            });
        }

        $(document).ready(function () {
            showSCurve("@Model.Lokasi.Id")
            GenerateDataTable("@Model.Lokasi.Id");
        });
    </script>
}

