﻿@model WBSForm
@{
    ViewBag.Title = "WBS Management Page | Create";
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("wbs.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.edit")</span>
    </li>
}
<h1 class="page-title">@Html.Raw(Localization.GetLocalized("wbs.management.text.wbs.management"))</h1>
@if (TempData["Alert"] != null)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
        @TempData["Alert"]
    </div>
}
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.edit")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" asp-action="Edit" method="post" id="WBSCreate" class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
                </div>
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })
                @(await Component.InvokeAsync("UnitHeader", new { unitId = Model.KodeUnit }))

                <div class="form-group">
                    <label asp-for="NamaKegiatan" class="control-label col-md-3">
                        @Localization.GetLocalized("wbs.management.text.create.namakegiatan")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <input asp-for="NamaKegiatan" class="form-control" required />
                        <span asp-validation-for="NamaKegiatan" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="WBSCurrencies" class="control-label col-md-3">
                        @Localization.GetLocalized("wbs.management.text.create.availablecurrency")
                    </label>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.WBSCurrencies, new { required = "required" })
                    </div>
                </div>
                <div class="form-group last">
                    <div class="col-md-3 col-md-offset-3">
                        <label class="text-danger">* @Localization.GetLocalized("common.text.field.required")</label>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; @Localization.GetLocalized("common.button.save")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("wbs.management.text")</span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <div id="wbs-treeview" class="tree-demo"> </div>
    </div>
</div>

@section styles{
    <link href="~/assets/global/plugins/jstree/dist/themes/default/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/global/plugins/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/global/plugins/typeahead/typeahead.css" />
}


@section Scripts {
    <script src="~/assets/global/plugins/select2/js/select2.min.js"></script>
    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js"></script>
    <script src="~/assets/global/plugins/jstree/dist/jstree.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>
    <script src="~/assets/global/plugins/jquery.number.min.js"></script>
    <script>
        function customMenu(node) {
            var items = {
                createWBS: {
                    label: "Create WBS",
                    action: function (data) {
                        var ref = $.jstree.reference(data.reference);
                        sel = ref.get_selected();
                        var uri = "/Admin/WBSTree/CreateWBS?idWbs=@ViewBag.IdWBS";
                        var pattern = /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i;
                        if (pattern.test(sel)) {
                            uri += "&parent=" + sel;
                        }
                        var modal = bootbox.dialog({
                            title: $L.get("wbstree.text.create.name"),
                            message: '<p><i class="fa fa-spin fa-spinner"></i> ' + $L.get("common.text.loading") + '</p>'
                        });

                        modal.init(function () {
                            $.ajax({
                                url: uri,
                                success: function (resp) {
                                    modal.find('.bootbox-body').html(resp);
                                    modal.find('.bootbox-body').closest(".bootbox").removeAttr("tabindex");

                                    var options = {
                                        success: function (form) {
                                            ajaxCall(form, $L.get("category.text.create.success"), "#wbs-treeview");
                                        }
                                    }
                                    FormValidation.init("#WBSTreeCreate", options);
                                }
                            })
                        });
                    }
                },
                createLocation: {
                    label: "Create Location",
                    action: function (data) {
                        var ref = $.jstree.reference(data.reference);
                        sel = ref.get_selected();
                        var uri = "/Admin/WBSTree/CreateLokasi?idWbs=@(ViewBag.IdWBS)&parent=" + sel;
                        var modal = bootbox.dialog({
                            title: $L.get("wbstree.text.create"),
                            message: '<p><i class="fa fa-spin fa-spinner"></i> ' + $L.get("common.text.loading") + '</p>'
                        });

                        modal.init(function () {
                            $.ajax({
                                url: uri,
                                success: function (resp) {
                                    modal.find('.bootbox-body').html(resp);
                                    modal.find('.bootbox-body').closest(".bootbox").removeAttr("tabindex");

                                    var options = {
                                        success: function (form) {
                                            ajaxCall(form, $L.get("category.text.create.success"), "#wbs-treeview");
                                        }
                                    }
                                    FormValidation.init("#WBSTreeCreate", options);
                                }
                            })
                        });
                    }
                },
                generateBOQ: {
                    label: "Download BOQ Template",
                    action: function (data) {
                        var ref = $.jstree.reference(data.reference);
                        sel = ref.get_selected();
                        var uri = "/admin/api/wbsboqs/GetTemplateExcel/" + sel;

                        $.ajax({
                            url: uri,
                            type: "POST",
                            success: function (resp) {
                                window.location.href = resp;
                            }
                        })
                    }
                },
                editLocation: {
                    label: "Edit Location",
                    action: function (data) {
                        var ref = $.jstree.reference(data.reference);
                        sel = ref.get_selected();
                        var uri = "/Admin/WBSTree/EditLokasi?id=" + sel;
                        var modal = bootbox.dialog({
                            title: $L.get("wbstree.text.edit"),
                            message: '<p><i class="fa fa-spin fa-spinner"></i> ' + $L.get("common.text.loading") + '</p>'
                        });

                        modal.init(function () {
                            $.ajax({
                                url: uri,
                                success: function (resp) {
                                    modal.find('.bootbox-body').html(resp);
                                    modal.find('.bootbox-body').closest(".bootbox").removeAttr("tabindex");

                                    var options = {
                                        success: function (form) {
                                            ajaxCall(form, $L.get("category.text.edit.success"), "#wbs-treeview");
                                        }
                                    }
                                    FormValidation.init("#WBSTreeEdit", options);
                                }
                            })
                        });
                    }
                },
                editWBS: {
                    label: "Edit WBS",
                    action: function (data) {
                        var ref = $.jstree.reference(data.reference);
                        sel = ref.get_selected();
                        var uri = "/Admin/WBSTree/EditWBS?id=" + sel;
                        var modal = bootbox.dialog({
                            title: $L.get("wbstree.text.edit"),
                            message: '<p><i class="fa fa-spin fa-spinner"></i> ' + $L.get("common.text.loading") + '</p>'
                        });

                        modal.init(function () {
                            $.ajax({
                                url: uri,
                                success: function (resp) {
                                    modal.find('.bootbox-body').html(resp);
                                    modal.find('.bootbox-body').closest(".bootbox").removeAttr("tabindex");

                                    var options = {
                                        success: function (form) {
                                            ajaxCall(form, $L.get("category.text.edit.success"), "#wbs-treeview");
                                        }
                                    }
                                    FormValidation.init("#WBSTreeEdit", options);
                                }
                            })
                        });
                    }
                },
                dataBoq: {
                    label: "Data BoQ",
                    action: function (data) {
                        var ref = $.jstree.reference(data.reference);
                        sel = ref.get_selected();
                        var uri = "/Admin/WBS/BoQ?id=" + sel;
                        var win = window.open(uri, '_blank');
                        win.focus();
                    }
                },
                dataSchedule: {
                    label: "Create Schedule",
                    action: function (data) {
                        var ref = $.jstree.reference(data.reference);
                        sel = ref.get_selected();
                        var uri = "/Admin/WBS/Schedule?id=" + sel;
                        var win = window.open(uri, '_blank');
                        win.focus();
                    }
                },
                deleteLocation: {
                    label: "Delete Location",
                    action: function (data) {
                        var ref = $.jstree.reference(data.reference);
                        sel = ref.get_selected();
                        bootbox.confirm($L.get("common.text.remove.item.confirmation"), function (result) {
                            var uri = "/Admin/Api/WBSTrees/Delete/" + sel[0];
                            if (result === true) {
                                $.ajax({
                                    url: uri,
                                    type: "DELETE",
                                    timeout: 60000,
                                    dataType: "json",
                                    contentType: "application/json",
                                    success: function (response) {
                                        $("#wbs-treeview").jstree(true).refresh();
                                        $alert.success($L.get("Lokasi Berhasil DiHapus"))
                                    },
                                    error: function (response) {
                                        console.log(response);
                                    },
                                    beforeSend: function () {
                                        $("#body-overlay").removeClass("hide");
                                    },
                                    complete: function () {
                                        $("#body-overlay").addClass("hide");
                                    }
                                });
                            };
                        });
                    }

                }
            };

            var status = node.original.type;

            switch (status) {
                case "unitkerja":
                    delete items.createLocation;
                    delete items.editLocation;
                    delete items.editWBS;
                    delete items.deleteItem;
                    delete items.dataBoq;
                    delete items.generateBOQ;
                    delete items.dataSchedule;
                    delete items.deleteLocation;
                    break;
                case "WBS":
                    delete items.deleteItem;
                    delete items.editLocation;
                    delete items.dataBoq;
                    delete items.generateBOQ;
                    delete items.dataSchedule;
                    delete items.deleteLocation;
                    break;
                case "WBSHasWBS":
                case "WBSLocation":
                    delete items.createLocation;
                    delete items.editLocation;
                    delete items.deleteItem;
                    delete items.dataBoq;
                    delete items.dataSchedule;
                    delete items.deleteLocation;
                    break;
                case "WP":
                    delete items.deleteItem;
                    delete items.createWBS;
                    delete items.editLocation;
                    delete items.dataBoq;
                    delete items.dataSchedule;
                    delete items.deleteLocation;
                    break;
                case "Location":
                    delete items.deleteItem;
                    delete items.createWBS;
                    delete items.createLocation;
                    delete items.editWBS;
                    delete items.generateBOQ;
                    break;
                default:
                    items = {};
            }


            return items;
        }

        var ajaxCall = function (form, text, elementId) {
            var $this = $(form);

            var validationContainer = $this.find('#validation-summary');
            var data = {};

            $.each($this.serializeArray(), function (index, item) {
                data[item.name] = item.value;
            });

            $.ajax({
                url: $this.attr("action"),
                method: $this.attr("method"),
                data: data,
                success: function (resp) {
                    validationContainer.hide();
                    $this.closest(".bootbox.modal").find(".bootbox-close-button").trigger("click");
                    $alert.success($L.getFormated("category.text.form.success", [data.Name, text]));
                    $("#wbs-treeview").jstree(true).refresh();
                },
                error: function (resp) {
                    validationContainer.html("");
                    validationContainer.addClass("alert alert-danger");
                    if (resp.responseJSON) {
                        var obj = resp.responseJSON;
                        var html = "";

                        $.each(obj, function (i, item) {
                            $.each(item, function (index, text) {
                                html += text + "<br/>";
                            });
                        });

                        validationContainer.html(html);
                    } else {
                        validationContainer.html(resp.responseText);
                    }
                }
            });
        }

        function getChild() {
            $("#wbs-treeview").jstree({
                "core": {
                    "themes": {
                        "responsive": false
                    },
                    // so that create works
                    "check_callback": true,
                    'data': function (obj, cb) {
                        if (obj.id == "#") {
                            cb.call(this, [{
                                "id": "tree-kegiatan",
                                "text": "@Model.NamaKegiatan",
                                "type": "default",
                                "children": [{
                                    "id": "tree-unitbisnis",
                                    "text": $("#UnitBisnis").val(),
                                    "type": "default",
                                    "children": [{
                                        "id": "tree-unitkerja",
                                        "text": $("#UnitKerja").val(),
                                        "type": "unitkerja",
                                        "children": true
                                    }]
                                }]
                            }]);
                        } else if (obj.id == "tree-unitkerja") {
                            $.ajax({
                                url: "/admin/api/wbstrees/getwbstrees/" + "@ViewBag.IdWBS",
                                type: "GET",
                                success: function (resp) {
                                    cb.call(this, resp);
                                }
                            });
                        } else {
                            $.ajax({
                                url: "/admin/api/wbstrees/getchildwbstrees/" + obj.id,
                                type: "GET",
                                success: function (resp) {
                                    cb.call(this, resp);
                                }
                            });
                        }
                    }
                },
                "types": {
                    "default": {
                        "icon": "fa fa-square icon-state-warning icon-lg"
                    },
                    "file": {
                        "icon": "fa fa-file icon-state-warning icon-lg"
                    }
                },
                "state": { "key": "WBSTree-@ViewBag.IdWBS" },
                "plugins": ["contextmenu", "dnd", "types", "state"],
                "contextmenu": { items: customMenu }
            }).bind("select_node.jstree", function (event, data) {

            });
        }

        $(document).ready(function () {
            getChild();

            $common.setMenu("#menu-request");

            var validationOptions = {
                rules: {
                    CurrencyValue: {
                        required: true,
                    }
                }
            }

            FormValidation.init("#WBSCreate", validationOptions);
        });
    </script>
}
