﻿@using App.Helper
@{
    ViewData["Title"] = "WBS Management Page";
    bool isRead = ClaimHelper.IsRead(User, "claim.wbs-management");
    bool isCreate = ClaimHelper.IsCreate(User, "claim.wbs-management");
    bool isDelete = ClaimHelper.IsDelete(User, "claim.wbs-management");
    bool isEdit = ClaimHelper.IsEdit(User, "claim.wbs-management");
}
@section breadcrumb{
    <li>
        <span>@Localization.GetLocalized("wbs.management.text")</span>
    </li>
}
<h1 class="page-title">@Html.Raw(Localization.GetLocalized("wbs.management.text.wbs.management"))</h1>
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <p>@isRead</p>
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.list")</span>
        </div>
        @if (isCreate)
            {
            <div class="pull-right">
                <a class="btn btn-success" href="@Url.Action("Create")"><i class="fa fa-plus-circle"></i> @Localization.GetLocalized("common.button.add.new")</a>
            </div>
            <div class="clearfix"></div>
        }
    </div>
    <div class="portlet-body">
        <table id="table-wbs" class="table table-striped" cellspacing="0" width="100%">
            <colgorup>
                <col width="">
                <col width="">
                <col width="">
                <col width="260">
            </colgorup>
            <thead>
                <tr>
                    <th>@Localization.GetLocalized("wbs.management.text.index.namakegiatan")</th>
                    <th>@Localization.GetLocalized("wbs.management.text.index.unit")</th>
                    <th>@Localization.GetLocalized("wbs.management.text.index.crateat")</th>
                    <th>@Localization.GetLocalized("common.text.action")</th>
                </tr>
            </thead>
           
        </table>
    </div>
</div>
@{
    Html.RenderPartial("_DatatablesAssets");
}
@section scripts{
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-request");
            var btnRead = "<button class='btn btn-success detail' title='" + $L.get("wbs.management.button.index.detail.title") + "'><i class='fa fa-info'></i></button>";
            var btnEdit = "<button class='btn btn-primary edit' title='" + $L.get("wbs.management.button.index.edit.title") + "'><i class='fa fa-edit'></i></button>";
            var btnDelete = "<button class='btn btn-danger remove' title='" + $L.get("wbs.management.button.index.delete.title") + "'><i class='fa fa-trash'></i></button>";
            var content = "";

            if ("@isRead" == "True") {
                content = content + btnRead;
            }
            if ("@isEdit" == "True") {
                content = content + btnEdit;
            }
            if ("@isDelete" == "True") {
                content = content + btnDelete;
            }

            var datatableOption = {
                listUrl: "/admin/api/wbses/datatables",
                detailUrl: "@Url.Action("Details")/",
                editUrl: "@Url.Action("Edit")/",
                deleteUrl: "/admin/api/wbses/",
                deleteAlertSuccess: $L.get("wbs.management.text.delete.success"),
                columnDefs: [
                         {
                             "targets": -1,
                             "data": null,
                             "defaultContent": content,
                             "orderable": false
                         },
                         {
                             "targets": 0,
                             "data": "namaKegiatan",
                             name: "NamaKegiatan"
                         },
                         {
                             "targets": 1,
                             "data": "namaUnit",
                             name: "namaUnit"
                         },
                         {
                             "targets": 2,
                             "data": "createdAt",
                             name: "CreatedAt",
                             //render: function (data, type, dataObj) {
                             //    if (data) {
                             //        var date = moment(data);
                             //        return date.format("DD-MMMM-YYYY");
                             //    }
                             //    return "";
                             //}

                         }
                ]
            }

            $datatables.init("#table-wbs", datatableOption);
        });
    </script>
}