﻿@model WBSBoQViewModel
@{
    ViewBag.Title = "WBS Management Page | Create";
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("wbs.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.edit")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("wbs.management.text.wbs.management"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.edit")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
                </div>
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })
                @(await Component.InvokeAsync("UnitHeader", new { unitId = Model.WBS.Unit }))

                <div class="form-group">
                    <label asp-for="WBS.NamaKegiatan" class="control-label col-md-3">
                        @Localization.GetLocalized("wbs.management.text.create.namakegiatan")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="WBS.NamaKegiatan" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lokasi.AreaMapping.AreaRegional" class="control-label col-md-3">
                        @Localization.GetLocalized("sto.management.text.index.regional")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Lokasi.AreaMapping.AreaRegional" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lokasi.AreaMapping.AreaWitel" class="control-label col-md-3">
                        @Localization.GetLocalized("sto.management.text.index.witel")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Lokasi.AreaMapping.AreaWitel" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lokasi.AreaMapping.AreaDatel" class="control-label col-md-3">
                        @Localization.GetLocalized("sto.management.text.index.datel")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Lokasi.AreaMapping.AreaDatel" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lokasi.AreaMapping.AreaStoName" class="control-label col-md-3">
                        @Localization.GetLocalized("sto.management.text.index.stoname")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Lokasi.AreaMapping.AreaStoName" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lokasi.Name" class="control-label col-md-3">
                        @Localization.GetLocalized("resource.text.create.wbs.name")
                    </label>
                    <div class="col-md-4">
                        <input asp-for="Lokasi.Name" class="form-control" readonly />
                    </div>
                </div>
                @*<div class="form-group">
                        <label asp-for="WBSCategory" class="control-label col-md-3">
                            @Localization.GetLocalized("wbs.management.text.create.category")
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.WBSCategory, new { WBSId = Model.Lokasi.Id })
                        </div>
                    </div>*@
            </div>
        </form>
    </div>
</div>

<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("wbs.wbs.schedule")</span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form class="form-horizontal">
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
            </div>
            <div class="alert alert-success display-hide">
                <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
            </div>
            @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Event Template
                        </label>
                        <div class="col-md-6">
                            <select class="form-control" id="eventtemplates" name="eventtemplates">
                                @if (ViewBag.TemplateId != null)
                                {
                                    <option value="@ViewBag.TemplateId">@ViewBag.NamaAct</option>

                                }
                                else
                                {

                                    <option value="" selected disabled>Select template ....</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Show All
                        </label>
                        <div class="col-md-6">
                            <div class="mt-checkbox-inline">
                                <label class="mt-checkbox">
                                    <input type="checkbox" id="CheckAll"><span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row hidden" id="date-planning">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        Start Planning Date
                    </label>
                    <div class="col-md-5">
                        <input type="text" class="form-control date-picker" id="start_date" />
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        Finish Planning Date
                    </label>
                    <div class="col-md-5">
                        <input type="text" class="form-control date-picker" readonly id="end_date" />
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-2 col-md-offset-10">
                        <button class="btn btn-primary save-schedule-planning" disabled><i class="fa fa-save"></i>&nbsp; @Localization.GetLocalized("common.button.save")</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <br />
        <table id="table-activity-template" class="table table-striped" cellspacing="0" width="100%">
            <colgorup>
                <col width="">
                <col width="">
                <col width="">
                <col width="">
                <col width="">
                <col width="">
                <col width="">
                <col width="">
                <col width="">
            </colgorup>
            <thead>
                <tr>
                    <th>@Localization.GetLocalized("activity.template.management.text.index.name")</th>
                    <th>@Localization.GetLocalized("activity.template.management.text.index.parent.name")</th>
                    <th>@Localization.GetLocalized("activity.template.management.text.index.bobot")</th>
                    <th>@Localization.GetLocalized("activity.template.management.text.index.durationstemplate")</th>
                    <th>@Localization.GetLocalized("activity.template.management.text.index.predecessor")</th>
                    <th>@Localization.GetLocalized("activity.template.management.text.index.start.durasiplanning")</th>
                    <th>@Localization.GetLocalized("activity.template.management.text.index.start.actual")</th>
                    <th>@Localization.GetLocalized("activity.template.management.text.index.finish.actual")</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>@Localization.GetLocalized("activity.template.management.text.index.name")</th>
                    <th>@Localization.GetLocalized("activity.template.management.text.index.parent.name")</th>
                    <th>@Localization.GetLocalized("activity.template.management.text.index.bobot")</th>
                    <th>@Localization.GetLocalized("activity.template.management.text.index.durationstemplate")</th>
                    <th>@Localization.GetLocalized("activity.template.management.text.index.predecessor")</th>
                    <th>@Localization.GetLocalized("activity.template.management.text.index.start.durasiplanning")</th>
                    <th>@Localization.GetLocalized("activity.template.management.text.index.start.actual")</th>
                    <th>@Localization.GetLocalized("activity.template.management.text.index.finish.actual")</th>
                </tr>
            </tfoot>
        </table>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-2 col-md-offset-10">
                    <button class="btn btn-primary save-schedule" disabled><i class="fa fa-save"></i>&nbsp; @Localization.GetLocalized("common.button.save")</button>
                </div>
            </div>
        </div>
    </div>
</div>
@{
    Html.RenderPartial("_DatatablesAssets");
}

@section styles{
    <link href="~/assets/global/plugins/jstree/dist/themes/default/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/global/plugins/typeahead/typeahead.css" />
    <link href="~/assets/global/plugins/jstree/dist/themes/default/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/global/plugins/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.standalone.min.css" />

    <style>
        .tt-input {
            color: #555;
        }
    </style>
}

@section Scripts {
    <script src="~/assets/global/plugins/typeahead/handlebars.min.js"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js"></script>
    <script src="~/assets/global/plugins/jquery.number.min.js"></script>
    <script src="~/assets/global/plugins/select2/js/select2.min.js"></script>
    <script src="~/assets/global/plugins/jstree/dist/jstree.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
}

<script>

    var jumlah = 0;

    var bobotTemplate = 0;

    var datalistmodel = [];

    var dataFromTemplate = [];

    function GetAllTemplateChild(id) {

        $.ajax({
            url: '/admin/api/eventtemplates/getctemplatebyId?id=' + id,
            type: 'GET',
            success: function (data) {
                console.log($("#start_date").val());
                for (var i = 0; i < data.length; i++) {
                    var objTmp = {};
                    if ($("#start_date").val() != "") {
                        objTmp.Start = $("#start_date").val();
                        objTmp.IdActTmpChild = data[i].id;
                        objTmp.IdWBSTree = "@ViewBag.Id";
                        objTmp.DurasiReal = data[i].durasi;
                        dataFromTemplate.push(objTmp);
                    }
                }
            },
            beforeSend: function () {
                $("#body-overlay").removeClass("hide");
            },
            complete: function () {
                $("#body-overlay").addClass("hide");
            },
            error: function (result) {
                console.log(result);
            }
        });
    }


    (function ($, window, document, undefined) {
        $("#start_date").on("change", function () {
            if ($("#start_date").val() != "") {
                var date = new Date($("#start_date").val()),
                    days = parseInt(bobotTemplate, 10);
                if (!isNaN(date.getTime())) {
                    date.setDate(date.getDate() + days);
                    $("#end_date").val(date.toInputFormat());
                } else {
                    alert("Invalid Date");
                }
            }
        });


        Date.prototype.toInputFormat = function () {
            var yyyy = this.getFullYear().toString();
            var mm = (this.getMonth() + 1).toString(); // getMonth() is zero-based
            var dd = this.getDate().toString();
            return (mm[1] ? mm : "0" + mm[0]) + "/" + (dd[1] ? dd : "0" + dd[0]) + "/" + yyyy; // padding
        };
    })(jQuery, this, document);


    var $tblData = $('#table-activity-template'),
        dtTblData;

    function getBobotById(id) {
        $.ajax({
            url: '/admin/api/eventtemplates/getBobot?id=' + id,
            type: 'GET',
            success: function (data) {
                bobotTemplate = data;
            },
            beforeSend: function () {
                $("#body-overlay").removeClass("hide");
            },
            complete: function () {
                $("#body-overlay").addClass("hide");
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function GenerateDataTable(id) {
        dtTblData = $tblData.DataTable({
            "rowReorder": true,
            "processing": true,
            "serverSide": true,
            "destroy": true,
            "ajax": {
                url: "/admin/api/eventtemplates/PostDatatablesvalue/" + id,
                type: "post",
                data: {
                    Idwbs: "@ViewBag.Id"
                },
            },
            "order": [[1, 'desc']],
            "columns": [
                         {
                             "targets": 0,
                             "data": "namaAct",
                             name: "NamaAct",
                         },
                         {
                             "visible": false,
                             "targets": 1,
                             "data": "otherInfo",
                             name: "OtherInfo",
                         },
                         {
                             "targets": 2,
                             "data": "bobot",
                             name: "Bobot"
                         },
                         {
                             "targets": 3,
                             "data": "durasi",
                             name: "Durasi"
                         },
                         {
                             "targets": 4,
                             "data": "predecessor",
                             name: "Predecessor"
                         },
                         {
                             "targets": 5,
                             render: function (data, e, row) {

                                 var html = "";
                                 data = data || "";
                                 html = '<input type="text" class="input-start form-control"  value="' + row.durasiReal + '"/>';
                                 return html;
                             },
                             className: "dt-body-right"

                         },
                         {
                             "targets": 6,
                             render: function (data, e, row) {

                                 console.log(data, e, row)

                                 var html = "";
                                 data = data || "";
                                 html = '<input type="text" class="input-start-aktual form-control date-picker urutan_' + row.urutan + '" data-id="' + row.urutan + '" value="' + row.start + '" />';
                                 return html;


                             },
                             className: "dt-body-right"
                         },
                         {
                             "targets": 7,
                             render: function (data, e, row) {

                                 var html = "";
                                 data = data || "";
                                 html = '<input type="text" class="input-finish-aktual form-control date-picker urutan_' + row.urutan + '" data-id="' + row.urutan + '" value="' + row.finish + '"/>';
                                 return html;
                             },
                             className: "dt-body-right"
                         },
            ],
            "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();
                var last = null;

                api.column(1, { page: 'current' }).data().each(function (group, i) {
                    var row = $('<tr/>', { class: 'group-parent' });
                    if (last !== group) {

                        row.append('<td colspan="6">' + group + '</td>');

                        $(rows).eq(i).before(
                            row
                        );
                        last = group;
                    }
                });

                $('.date-picker').datepicker({
                    Format: "dd/mm/yyyy"
                })
            },
            "stateSave": false
        });
    }

    $(document).ready(function () {
        $common.setMenu("#menu-request");
        var showAllTemplates = false;

       

        $("#CheckAll").change(function () {
            if (this.checked) {
                showAllTemplates = true;
            } else {
                showAllTemplates = false;
            }
        });

        @if (ViewBag.HasSchedule)
        {
        <text>
        GenerateDataTable("@ViewBag.TemplateId")
        </text>
        }

        $("#eventtemplates").select2({
            placeholder: 'Select an Option',
            ajax: {
                url: '/admin/api/eventtemplates/gettemplates',
                dataType: 'json',
                type: "GET",
                quietMillis: 500,
                data: function (term) {
                    return {
                        query: term.term,
                        showAll: showAllTemplates
                    };
                },
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {
                                text: item.name,
                                id: item.id
                            }
                        })
                    };
                }
            }
        }).on("change", function () {
            var id = $(this).val();
            $("#date-planning").removeClass("hidden");
            getBobotById(id);
            GenerateDataTable($("#eventtemplates").val());
            var jumlah = 0;
            $(".save-schedule").attr('disabled', 'disabled');
        });

        var start;


        $(document).on("change", "input.input-start-aktual.form-control", function () {
            start = $(this).val();
        });


        $(document).on("change", "input#start_date", function () {
            if ($(this).val() != "") {
                $(".save-schedule-planning").removeAttr("disabled");
                GetAllTemplateChild($("#eventtemplates").val());
            }
        });

        $(document).on("change", "input.input-finish-aktual.form-control", function (e) {
            if ($(this).val() != "") {
                var id = $(this).attr("data-id");
                var data = dtTblData.row($(this).parents('tr')).data();
                var obj = {}
                obj.Start = $(".input-start-aktual.form-control.date-picker.urutan_" + id + "").val();
                obj.Finish = $(".input-finish-aktual.form-control.date-picker.urutan_" + id + "").val();
                obj.IdActTmpChild = data.id;
                obj.IdWBSTree = "@ViewBag.Id"
                obj.IdActTmpChild = data.id;
                obj.durasiReal = data.durasiReal;
                jumlah = jumlah + data.bobot;
                var startdate = new Date($(".input-start-aktual.form-control.date-picker.urutan_" + id + "").val());
                var finsihdate = new Date($(".input-finish-aktual.form-control.date-picker.urutan_" + id + "").val());
                if (!isNaN(startdate.getTime())) {
                    if (!isNaN(finsihdate.getTime())) {
                        if (startdate.getTime() < finsihdate.getTime()) {
                            if (datalistmodel.length === 0) {
                                datalistmodel.push(obj);
                            } else {
                                var countobjectsama = 0;
                                for (i = 0; i < datalistmodel.length; i++) {

                                    if (datalistmodel[i].IdActTmpChild == obj.IdActTmpChild) {
                                        datalistmodel[i].Start = obj.Start
                                        datalistmodel[i].Finish = obj.Finish
                                        countobjectsama++;
                                    }
                                }
                                if (countobjectsama == 0) {
                                    datalistmodel.push(obj);
                                }

                            }
                        } else {

                            alert("Tanggal Finish Harus Lebih Besar Dari Tanggal Mulai");
                            $(".input-finish-aktual.form-control.date-picker.urutan_" + id + "").datepicker('update', new Date(data.finish));
                        }

                    }
                }
                console.log(datalistmodel);

                if (jumlah >= 100) {
                    $(".save-schedule").removeAttr("disabled");
                }
            }

        });

        $(".save-schedule").click(function (e) {
            $.ajax({
                url: '/admin/api/WBSSchedule/postschedule',
                type: 'POST',
                data: {
                    listmodel: datalistmodel
                },
                success: function (data) {
                    window.location.reload();
                },
                beforeSend: function () {
                    $("#body-overlay").removeClass("hide");
                },
                complete: function () {
                    $("#body-overlay").addClass("hide");
                },
                error: function (result) {
                    console.log(result);
                }
            });
        });

        $(".save-schedule-planning").click(function (e) {

            $.ajax({
                url: '/admin/api/WBSSchedule/postschedulefromtamplate',
                type: 'POST',
                data: {
                    listmodel: dataFromTemplate
                },
                success: function (data) {
                    GenerateDataTable($("#eventtemplates").val());
                    $alert.success("Berhasil menyimpan data schedule planning");
                    window.location.reload();
                },
                beforeSend: function () {
                    $("#body-overlay").removeClass("hide");
                },
                complete: function () {
                    $("#body-overlay").addClass("hide");
                },
                error: function (result) {
                    console.log(result);
                }
            });
        })
    });

</script>


<style>
    tr.group-parent {
        font-weight: 800 !important;
    }

    .dataTables_wrapper {
        position: relative;
        clear: both;
        zoom: 1;
        padding: 10px;
    }
</style>