﻿﻿@using App.Web.Models
@using App.Web.Helper
@model string

@{
    dynamic data = new System.Dynamic.ExpandoObject();
    data.id = ViewData["id"];
    data.value = ViewData["value"];
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
}

@section styles{
    <link href="~/assets/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
}

@if (User.IsPurchaseRequisition())
{
    <a href="javascript:;" id="@fieldName" class="btn btn-default">
        <i class="fa fa-comment"></i> Comment
    </a>
    <p></p>
    <div class="clearfix"></div>
    <div class="@fieldName note" data-pk="@data.id" data-type="wysihtml5" data-name="@fieldName" data-toggle="manual" data-original-title="Enter notes">
        @data.value
    </div>
}
else
{
    <div class="@fieldName note" data-pk="@data.id" data-type="wysihtml5" data-name="@fieldName" data-toggle="manual" data-original-title="Enter notes">
        @data.value
    </div>
}



<script src="~/assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/bootstrap-editable/inputs-ext/wysihtml5/wysihtml5.js" type="text/javascript"></script>

<script>
    $(document).ready(function () {

        $(".@fieldName").editable({
            placement: "left",
            url: '/admin/api/justifications/AddNotes',
            params: {
                Id: $(this).attr("data-pk"),
                Name: $(this).attr("data-name"),
            },
            validate: function (value) {
                if (value == '') return 'Note is required!';
            },
            success: function (data) {
                console.log(data);
            },
        });

        $("#@fieldName").click(function (e) {
            e.stopPropagation();
            e.preventDefault();
            $(".@fieldName").editable('toggle');
        });

        $.each($(".note"), function (i) {
            if ($(this).text()=="Empty") {
                $(this).text("Tidak ada catatan");
            }
        })
    });

</script>
