﻿﻿@using App.Web.Models
@model string

@{
    dynamic data = new System.Dynamic.ExpandoObject();
    data.url = ViewData["url"];
    data.displayKey = ViewData["displayKey"];
    data.value = ViewData["value"];
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
}

<input type="text" id="@fieldName" name="@fieldName" class="form-control" data-value="@data.value" />

<script type="text/javascript">
    $(document).ready(function () {
        var custom = new Bloodhound({
            datumTokenizer: function (d) { return d.tokens; },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: "@data.url" + "?query=%QUERY",
                wildcard: '%QUERY'
            }
        });
        custom.initialize();

        $("#@fieldName").typeahead({
            hint: true,
            highlight: true,
            minLength: 3,
        },
        {
            name: "@data.displayKey",
            displayKey: "@data.displayKey",
            source: custom.ttAdapter(),
            templates: {
                suggestion: Handlebars.compile([
                  '<div class="media">',
                        '<div class="media-body">',
                            '<h4 class="media-heading"><strong>{{areaStoName}}</strong></h4>',
                            '<p>{{areaRegional}} - {{areaWitel}} - {{areaDatel}} - {{areaKode}} - {{areaSto}}</p>',
                        '</div>',
                  '</div>',
                ].join(''))
            }
        });

        if ($("#@fieldName").attr("data-value") != null) {
            var myVal = $("#@fieldName").attr("data-value");
            $("#@fieldName").typeahead('val', myVal);
        }

        $("#@fieldName").bind('typeahead:select', function (ev, suggestion) {
            var value = suggestion.areaSto + "|" + suggestion.areaKode;
            $("#Lokasi").val(value);
            console.log(value);
        });
    });
</script>
