﻿@using Newtonsoft.Json
@model string

@{
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    var idDiv = $"{fieldName}_Dictionary";
    var adderClass = $"{fieldName}_AddDictionary";
    var templateClass = $"{fieldName}_TemplateDictionary";
    var keyClass = $"{fieldName}_KeyDictionary";
    var valueClass = $"{fieldName}_ValueDictionary";
    var deleteClass = $"{fieldName}_DeleteDictionary";
    Dictionary<string,string> dictionary = null;

    if (!string.IsNullOrWhiteSpace(Model))
    {
        dictionary = JsonConvert.DeserializeObject<Dictionary<string,string>>(Model);
    }
}

@Html.Hidden("", Model)

<div>
    <div id="@idDiv">
        @if (dictionary != null && dictionary.Any())
        {
            @foreach (var item in dictionary)
            {
                <div class="row form-group">
                    <div class="col-md-5">
                        <input type="text" value="@item.Key" class="@keyClass form-control" placeholder="Key" />
                    </div>
                    <div class="col-md-5">
                        <input type="text" value="@item.Value" class="@valueClass form-control" placeholder="Value" />
                    </div>
                    <div class="col-md-2">
                        <a href="#" class="@deleteClass"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            }
        }
    </div>
    <div>
        <a href="#" class="@adderClass"><i class="fa fa-plus"></i> Add variables</a>
    </div>
</div>

<div class="@templateClass hidden">
    <div class="row form-group">
        <div class="col-md-5">
            <input type="text" value="" class="@keyClass form-control" placeholder="Key" />
        </div>
        <div class="col-md-5">
            <input type="text" value="" class="@valueClass form-control" placeholder="Value" />
        </div>
        <div class="col-md-2">
            <a href="#" class="@deleteClass"><i class="fa fa-times"></i></a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var idForm = "#@fieldName";
        var idDiv = "#@idDiv"
        var adderClass = ".@adderClass";
        var templateClass = ".@templateClass";
        var deleteClass = ".@deleteClass";
        var keyClass = ".@keyClass";
        var valueClass = ".@valueClass";

        $(adderClass).on("click", function (e) {
            e.preventDefault();
            console.log(e);

            var html = $(templateClass).html();
            $(idDiv).append(html);

            initDeleteClick();
            initFieldChanged();
        });

        var initDeleteClick = function () {
            $(deleteClass).unbind().on("click", function (e) {
                e.preventDefault();

                $(this).parent().parent().remove();
                serializeResult();
            });
        }

        var initFieldChanged = function () {
            $(keyClass + "," + valueClass).on("keyup", function () {
                serializeResult();
            });
        }

        var serializeResult = function () {
            var data = {};

            $.each($(idDiv + " .row"), function (i) {
                var key = $(this).find(keyClass).val();
                var value = $(this).find(valueClass).val();
                if(key)
                    data[key] = value;
            });

            $(idForm).val(JSON.stringify(data));
        }

        initDeleteClick();
        initFieldChanged();
    });
</script>
