﻿﻿@model List<HargaForm>
@{
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    dynamic data = new System.Dynamic.ExpandoObject();
    data.flags = ViewData["param"];
    var idDiv = $"{fieldName}_Harga";
    var adderClass = $"{fieldName}_AddHarga";
    var templateClass = $"{fieldName}_TemplateHarga";
    var deleteClass = $"{fieldName}_DeleteHarga";
}
<style>
    .tt-input {
        color: #555;
    }
</style>
<div>
    <table id="@idDiv" class="table table-bordered table-stripped">
        <thead>
            <tr>
                <th>Mata Uang</th>
                <th>Harga Material</th>
                <th>Harga Jasa</th>
                <th>Lokasi</th>
                <th></th>
            </tr>
        </thead>
        @if (Model != null)
        {
            var counter = 0;
            foreach (var item in Model.OrderBy(x => x.Lokasi))
            {
                <tbody>
                    <tr>
                        <td>
                            <select name="@(fieldName)[@counter].MataUang" data-value="@item.MataUang" class="form-control mata-uang"></select>
                        </td>
                        <td>
                            <input type="hidden" name="@(fieldName)[@counter].HargaMaterial" value="@item.HargaMaterial" class="harga-material" />
                            <input type="text" value="@item.HargaMaterial" class="form-control numeric" />
                        </td>
                        <td>
                            <input type="hidden" name="@(fieldName)[@counter].HargaJasa" value="@item.HargaJasa" class="harga-jasa" />
                            <input type="text" value="@item.HargaJasa" class="form-control numeric" />
                        </td>
                        <td>
                            <input type="text" name="@(fieldName)[@counter].Lokasi" value="@item.Lokasi" class="form-control lokasi" />
                        </td>
                        <td>
                            <input type="hidden" name="@(fieldName)[@counter].Id" class="id" value="@item.Id" />
                            <a href="#" class="@deleteClass"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                </tbody>
                counter++;
            }
        }
    </table>
    <div>
        <a href="#" class="@adderClass"><i class="fa fa-plus"></i> Tambah harga</a>
    </div>
</div>
<table class="@templateClass hidden">
    <tr>
        <td>
            <select name="" value="" class="form-control mata-uang">
                <option></option>
            </select>
        </td>
        <td>
            <input type="text" name="" value="" class="harga-material hidden" />
            <input type="text" value="" class="form-control numeric" />
        </td>
        <td>
            <input type="text" name="" value="" class="harga-jasa hidden" />
            <input type="text" value="" class="form-control numeric" />
        </td>
        <td><input type="text" name="" value="" class="form-control lokasi" /></td>
        <td>
            <input type="hidden" name="" class="id" value="" />
            <a href="#" class="@deleteClass"><i class="fa fa-times"></i></a>
        </td>
    </tr>
</table>
<script>
    $(document).ready(function () {
        var idForm = "#@fieldName";
        var idDiv = "#@idDiv"
        var adderClass = ".@adderClass";
        var templateClass = ".@templateClass";
        var deleteClass = ".@deleteClass";
        var getterGrup = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/admin/api/designators/grup?query=%QUERY',
                wildcard: '%QUERY'
            }
        });
        getterGrup.initialize();
        $(adderClass).on("click", function (e) {
            e.preventDefault();
            var html = $(templateClass).html();
            $(idDiv).append(html);
            initDeleteClick();
            initDynamicForm();
            initGrup();
            initMataUang();
            initHarga();
        });

        var initMataUang = function () {
            $.ajax({
                url: '/admin/api/currencies/code',
                dataType: 'json',
                success: function (data) {
                    $(idDiv + ' select.mata-uang').each(function (i, item) {
                        $(item).select2({
                            data: data,
                            minimumResultsForSearch: -1,
                            width: '100%'
                        });
                        if ("@data.flags" == "Create") {
                            $(item).select2("val", ($(item).data("value")));
                        }else {
                            $(item).val($(item).data("value"));
                        }
                        $(item).trigger("change");
                    });
                }
            });
        }
        var initGrup = function () {
            $(idDiv + ' input.lokasi').typeahead('destroy');
            $(idDiv + ' input.lokasi').typeahead({ hint: false }, {
                name: '@(fieldName)',
                source: getterGrup,
                limit: 20
            });
        }
        var initHarga = function () {
            $(idDiv + ' input.numeric').unbind().on("keyup", function () {
                $(this).prev("input").val($(this).val());
            }).number(true, 2, ',', '.');
        }
        var initDynamicForm = function () {
            $(idDiv + " tbody tr").each(function (i, item) {
                $(item).find(".mata-uang").attr("name", "@(fieldName)[" + i + "].MataUang");
                $(item).find(".harga-material").attr("name", "@(fieldName)[" + i + "].HargaMaterial");
                $(item).find(".harga-jasa").attr("name", "@(fieldName)[" + i + "].HargaJasa");
                $(item).find(".lokasi").attr("name", "@(fieldName)[" + i + "].Lokasi");
                $(item).find(".id").attr("name", "@(fieldName)[" + i + "].Id");
            });
        }
        var initDeleteClick = function () {
            $(deleteClass).unbind().on("click", function (e) {
                e.preventDefault();
                $(this).parent().parent().remove();
                initDynamicForm();
            });
        }
        initDeleteClick();
        initGrup();
        initMataUang();
        initHarga();
    });
</script>