﻿@model List<RoiViewModel>



<div id="choice-creator" class="m-b-20">
    @if (Model != null)
    {
        for (int i = 0; i < Model.Count(); i++)
        {
            <fieldset>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Sumber Revenue</label>
                        <p></p>
                        @Html.DropDownListFor(model => model[i].RoiType, new SelectList(ViewBag.Items, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Persen (%)</label>
                        <p></p>
                        @Html.TextBoxFor(model => model[i].Persentase, new { @class = "form-control persentase", data_id = i, @required = "required" })
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Total</label>
                        <p></p>
                        @Html.TextBoxFor(model => model[i].Total, new { @class = "form-control", @required = "required", @readonly = "readonly" })
                    </div>
                    <div class="col-md-1">
                        <p></p>
                        <br />
                        <a href="javascript:void(0);" class="btn btn-danger mt-repeater-delete delete-menu-creator no-margin" style="margin:7px;">
                            <i class="fa fa-close"></i>
                        </a>
                    </div>
                </div>
            </fieldset>
        }
    }
</div>

<a href="javascript:void(0);" id="btn-create-menu" class="btn btn-success"><span class="fa fa-plus"></span> @Localization.GetLocalized("common.text.create") ROI</a>

<script>
    function bindingDeleteMenu() {
        $(".delete-menu-creator").unbind().click(function (e) {
            $(this).parent().parent().parent().remove();

            $.each($("#choice-creator fieldset"), function (i) {
                $.each($(this).find("input"), function () {
                    var id = $(this).attr("id");
                    var name = $(this).attr("name");
                    id = id.replace(/AkiCover_Rois_\d/g, "AkiCover_Rois_" + i);
                    name = name.replace(/AkiCover.Rois\[\d/g, "AkiCover.Rois[" + i);

                    $(this).attr("id", id);
                    $(this).attr("name", name);
                });

                $.each($(this).find("select"), function () {
                    var id = $(this).attr("id");
                    var name = $(this).attr("name");
                    id = id.replace(/AkiCover_Rois_\d/g, "AkiCover_Rois_" + i);
                    name = name.replace(/AkiCover.Rois\[\d/g, "AkiCover.Rois[" + i);

                    $(this).attr("id", id);
                    $(this).attr("name", name);
                });
            });
        });
    }

    $("#btn-create-menu").unbind().click(function (e) {
        e.preventDefault();

        var template = $("#create-roi-template").html();

        var count = $("#choice-creator fieldset").length;

        template = template.replace(/{{counter}}/g, count);

        if (count < 5) {
            $("#choice-creator").append(template);
        } else {
            alert("Maximum Return of Investment")
        }

        bindingDeleteMenu();
    });

    bindingDeleteMenu();

    $(document).on("input", ".persentase", function () {
        var id = $(this).attr("data-id");
        var grandTotal = $("#AkiCover_NilaiProgram").val();
        var result = (grandTotal * $(this).val()) / 100;
        $("#AkiCover_Rois_" + id + "__Total").val(result);
    });

    $(document).on("input", "input#AkiCover_NilaiProgram", function () {
        var count = $("#choice-creator fieldset").length;
        if (count > 0) {
            $.each($("#choice-creator fieldset"), function (i) {
                $.each($(this).find("input"), function () {
                    var persentase = $("#AkiCover_Rois_" + i + "__Persentase").val();
                    var grandTotal = $("#AkiCover_NilaiProgram").val();
                    var result = (grandTotal * persentase) / 100;
                    $("#AkiCover_Rois_" + i + "__Total").val(result);
                });               
            });
        }
    });
</script>


<script type="text/my-template" id="create-roi-template">
    <fieldset>
        <div class="form-group">
            <div class="col-md-3">
                <label class="control-label">Proyeksi ROI</label>
                <p></p>
                <select class="bs-select form-control" id="AkiCover_Rois_{{counter}}__RoiType" name="AkiCover.Rois[{{counter}}].RoiType">
                    <option selected disable>Select type</option>
                    @foreach (var item in ViewBag.Items)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>

            </div>
            <div class="col-md-2">
                <label class="control-label">Persen (%)</label>
                <p></p>
                <input type="number" class="form-control persentase" id="AkiCover_Rois_{{counter}}__Persentase" name="AkiCover.Rois[{{counter}}].Persentase" required data-id="{{counter}}" />
            </div>
            <div class="col-md-4">
                <label class="control-label">Total</label>
                <p></p>
                <input type="number" class="form-control" id="AkiCover_Rois_{{counter}}__Total" name="AkiCover.Rois[{{counter}}].Total" data-id="{{counter}}" required readonly />
            </div>
            <div class="col-md-1">
                <p></p>
                <br />
                <a href="javascript:void(0);" class="btn btn-danger mt-repeater-delete delete-menu-creator no-margin" style="margin:7px;">
                    <i class="fa fa-close"></i>
                </a>
            </div>
        </div>
    </fieldset>
</script>
