﻿@using Newtonsoft.Json
@model string

@{
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    double? ratio = ViewBag.Ratio;
    var hidden = "hidden";
    var preview = ViewData["Preview"]?.ToString().ToLower();
    var attachment = Model.ConvertToAttachment();
}
<link href="~/css/uploadify/uploadify.css" rel="stylesheet" />
<link href="~/css/cropper.min.css" rel="stylesheet" />
@*<script src="~/css/coco/assets/libs/jquery/jquery-1.11.1.min.js"></script>*@
<script src="~/css/uploadify/jquery.uploadify.js"></script>
<script src="~/js/cropper.min.js"></script>

@Html.Hidden("", Model)
@if (!string.IsNullOrWhiteSpace(Model))
{
    var file = Model;
    hidden = "";
}


<input type="file" name="upload-@fieldName" id="upload-@fieldName" class="singleFileUpload" />
@*<span class="text-danger img-avatar-validation"><em>@Localization.GetLocalized("common.text.max.file.size") 2MB (*.xlsx, *.xlx)</em></span>*@
<p></p>
<a href="/uploads/template/aki/FormatAKI.xlsx" class="btn btn-primary" download><i class="fa fa-download"></i> @Localization.GetLocalized("aki.download.template")</a>

<div class="clearfix"></div>
<div class="col-md-9 row">
    <div id="img-wrapper-@fieldName" class="p-b-20 @hidden">
        @*@if (hidden == "")
        {
            if (attachment == null)
            {
                <img id='img-upload-@fieldName' class='img-upload img-responsive' src="/images/xls-icon-3379.png" width='100px' />
            }
            else
            {
                <img id='img-upload-@fieldName' class='img-upload img-responsive' src="/images/xls-icon-3379.png" width='100px' />
            }
        }*@
    </div>
</div>
<div class="clearfix"></div>

<script>
    $(function () {
        var $imgPreview = $('#img-preview');
        var $btnRemoveImage = $('#btn-remove-image');
        function onCropperChange(e) {
            var data = {
                X1: parseInt(e.x),
                Y1: parseInt(e.y),
                X2: parseInt(e.x) + parseInt(e.width),
                Y2: parseInt(e.y) + parseInt(e.height),
                Width: parseInt(e.width),
                Height: parseInt(e.height)
            }
            files.Crop = data;
            var $upload = $("#img-wrapper-@fieldName").parent().parent().find("input[type=hidden]");
            $upload.val(JSON.stringify(files));
        }
        $("#upload-@(fieldName)").uploadify({
            buttonText: '<i class="fa fa-upload"></i>&nbsp; Upload',
            width: 200,
            height: 34,
            fileSizeLimit: '2MB',
            swf: '/css/uploadify/uploadify.swf',
            uploader: '/file/upload',
            fileTypeExts: '*.xlsx; *.xls;',
            onUploadSuccess: function (results, data, response) {
                result = JSON.parse(data);
                console.log(result);
                var $upload = $("#img-wrapper-@fieldName").parent().parent().find("input[type=hidden]");
                var file = {};

                if (!result.data.path.startsWith("/")) {
                    result.data.path = "/" + result.data.path;
                }

                file.Name = result.data.name;
                file.Path = result.data.path;
                file.Size = result.data.size;
                file.FileType = result.data.fileType;
                file.Type = "@Attachment.FILE_TYPE_UPLOAD";

                $upload.val(JSON.stringify(file));

                $("#img-wrapper-@fieldName").empty();
                var $image = $("#img-upload-@fieldName");
                $("#img-wrapper-@fieldName").removeClass("hidden");
                if (result != null) {
                  //  $("#img-wrapper-@fieldName").append("<center><img id='img-upload-@fieldName' class='img-upload img-responsive' width='100px' src='/images/xls-icon-3379.png'/></center>");
                }
                var $image = $("#img-upload-@fieldName");
                if ($imgPreview.length > 0 && $btnRemoveImage.length > 0) {
                    $imgPreview.attr('src', result.data.path);
                    $btnRemoveImage.removeClass('hidden');
                }

                files = file;

                PopulateDataFromExcel(result.data.path);
            }
        });

        function PopulateDataFromExcel(source) {
            $.ajax({
                url: "/admin/api/akis/getdatafromexcel?source=" + source,
                type: "GET",
                success: function (response) {
                    $("#AkiCover_NilaiProgram").val(response.nilaiProgram);
                    $("#AkiCover_NPV").val(response.npv.toString().replace("-", ""));
                    $("#AkiCover_IRR").val(response.irr);
                    $("#AkiCover_PaybackPeriode").val(response.payBackPeriode);
                    $("#AkiCover_BCR").val(response.bcr);
                },
                error: function (response) {

                },
            });
        }
    });
</script>
