﻿﻿@using App.Web.Models
@model string

@{
    dynamic data = new System.Dynamic.ExpandoObject();
    data.id = ViewData["id"] ?? "editor";
    data.dataErrorContainer = ViewData["dataErrorContainer"];
}

@Html.TextArea("", Model, new { id = data.id, data_error_container = data.dataErrorContainer })


<script src="~/js/ckeditor/ckeditor.js"></script>
<script src="~/js/ckeditor/config.js"></script>
<script src="~/js/ckeditor/samples/js/sample.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        initSample("@data.id");
    });
</script>
