﻿﻿@using App.Web.Models
@model string

@{
    dynamic data = new System.Dynamic.ExpandoObject();
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    data.WBSId = ViewData["WBSId"];
}

<div id="@fieldName" name="@fieldName" class="tree-demo" data-id="@data.WBSId"> </div>

<script src="~/assets/global/plugins/jstree/dist/jstree.js"></script>

<script>
    var datacount = null;
    var getCategoryId = function (WBSId) {
        $.ajax({
            url: "/admin/api/wbscategories/getcategoriesId?WBSId=" + WBSId + "",
            method: "GET",
            success: function (resp) {
                datacount = resp;
                $("#@fieldName").jstree('open_node', "@data", function (e, d) {
                    for (var i = 0; i < e.parents.length; i++) {
                        $("#@fieldName").jstree('disable_node', e.parents[i]);
                    };
                });
            },
            error: function (resp) {

            }
        });
    }

    var postdata = function (WBSId, categoryId) {
        $.ajax({
            url: "/admin/api/wbscategories/postwbscategory?WBSId=" + WBSId + "&categoryId=" + categoryId + "",
            method: "POST",
            success: function (resp) {
                $alert.success("Berhasil menambahkan kategori");
                window.location.reload();
            },
            error: function (resp) {

            }
        });
    }

    var deletedata = function (WBSId, categoryId) {
        $.ajax({
            url: "/admin/api/wbscategories/deletewbscategory?WBSId=" + WBSId + "&categoryId=" + categoryId + "",
            method: "DELETE",
            success: function (resp) {
                $("#@fieldName").jstree(true).refresh();
                $alert.success("Berhasil menghapus kategori");
                datacount = null;
            },
            error: function (resp) {

            }
        });
    }

    var url = "/admin/api/categories/gettall/" + $("#@fieldName").data("id") + "";

    $("#@fieldName").jstree({
        "core": {
            "themes": {
                "responsive": false
            },
            // so that create works
            "check_callback": true,
            'data': {
                'url': function (node) {
                    return url;
                },
                'data': function (node) {
                    return { 'parentid': node.id };
                }
            }
        },
        "types": {
            "default": {
                "icon": "fa fa-folder icon-state-warning icon-lg"
            },
            "file": {
                "icon": "fa fa-file icon-state-warning icon-lg"
            }
        },
        "plugins": ["types", "checkbox"],
    }).on("select_node.jstree", function (e, data) {
        getCategoryId($("#@fieldName").data("id"));

        if (datacount == null || datacount == "") {
            postdata($(this).data("id"), data.node.id);
        } else {
            $alert.warning("Hanya bisa memilih satu kategori");
            var instance = $('#@fieldName').jstree(true);
            instance.uncheck_node(data.node.id);
            e.preventDefault();
        }
    }).on("deselect_node.jstree", function (e, data) {
        deletedata($(this).data("id"), data.node.id)
    }).bind('ready.jstree', function (event, data) {
        getCategoryId($("#@fieldName").data("id"));
    });

</script>