﻿﻿@using App.Web.Models
@model string

@{
    dynamic data = new System.Dynamic.ExpandoObject();
    data.url = ViewData["url"];
    data.parents = ViewData["parents"];
    data.item = ViewData["item"];
    data.name = ViewData["name"];
    data.required = ViewData["required"];
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
}

<select class="form-control" id="@fieldName" name="@fieldName" @data.required data-id="@data.parents">
    <option value="@data.item" selected>@data.name</option>
</select>
<span asp-validation-for="@fieldName" class="text-danger"></span>


<script type="text/javascript">
    $(document).ready(function () {
        var parents = $("#@fieldName").attr("data-id");

        $("#@fieldName").select2({
            allowClear: true,
            placeholder: "Select " + "@fieldName" + " ",
            ajax: {
                url: "@data.url",
                dataType: 'json',
                type: "GET",
                data: function (params) {
                    if (parents == "") {
                        return {
                            term: params.term, // search term
                            parents: "01",
                        };
                    }
                    else if (parents == 2) {
                        return {
                            term: params.term, // search term
                            parents: $("#Directorat").val(),
                        };
                    }
                    else if (parents == 3) {
                        return {
                            term: params.term, // search term
                            parents: $("#UnitBisnis").val(),
                        };
                    }
                    else if (parents == 4) {
                        return {
                            term: params.term, // search term
                            parents: $("#UnitKerja").val(),
                        };
                    }
                    return {
                        term: params.term, // search term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                }
            },
        }).on("change", function () {
            var id = $(this).attr("id");
            switch (id) {
                case "Directorat":
                    $("#UnitBisnis").val('').trigger('change');
                    $("#UnitKerja").val('').trigger('change');
                    $("#Bagian").val('').trigger('change');
                    break;
                case "UnitBisnis":
                    $("#UnitKerja").val('').trigger('change');
                    $("#Bagian").val('').trigger('change');
                    break;
                case "UnitKerja":
                    $("#Bagian").val('').trigger('change');
                    break;
                default:
            }
        })
    });
</script>
