@model List<WBSCurrencyForm>

<div id="choice-creator" class="m-b-20">
    @if (Model != null)
    {
        for (int i = 0; i < Model.Count(); i++)
        {
            <fieldset>
                @Html.HiddenFor(model => model[i].WBSId)
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label">Mata-uang yang tersedia</label>
                        <p></p>
                        @Html.DropDownListFor(model => model[i].CurrencyId, new SelectList(ViewBag.Items, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Rate</label>
                        <p></p>
                        @Html.TextBoxFor(model => model[i].Rate, new { @class = "form-control numeric", @required = "required" })
                     @*   @Html.HiddenFor(model => model[i].Rate,)*@
                    </div>
                    <div class="col-md-1">
                        <p></p>
                        <br />
                        <a href="javascript:void(0);" class="btn btn-danger mt-repeater-delete delete-menu-creator no-margin" style="margin:7px;">
                            <i class="fa fa-close"></i>
                        </a>
                    </div>
                </div>
            </fieldset>
        }
    }
</div>

<a href="javascript:void(0);" id="btn-create-menu" class="btn btn-success"><span class="fa fa-plus"></span> @Localization.GetLocalized("common.text.currenciescreate") </a>

<script>
    var initHarga = function () {
        $("input.numeric").unbind().on("keyup", function () {
            $(this).prev("input").val($(this).val());
        }).number(true, 2, ',', '.');;
    }

    function bindingDeleteMenu() {
        $(".delete-menu-creator").unbind().click(function (e) {
            $(this).parent().parent().parent().remove();

            $.each($("#choice-creator fieldset"), function (i) {
                $.each($(this).find("input"), function () {
                    var id = $(this).attr("id");
                    var name = $(this).attr("name");
                    id = id.replace(/WBSCurrencies_\d/g, "WBSCurrencies_" + i);
                    name = name.replace(/WBSCurrencies\[\d/g, "WBSCurrencies[" + i);

                    $(this).attr("id", id);
                    $(this).attr("name", name);
                });

                $.each($(this).find("select"), function () {
                    var id = $(this).attr("id");
                    var name = $(this).attr("name");
                    id = id.replace(/WBSCurrencies_\d/g, "WBSCurrencies_" + i);
                    name = name.replace(/WBSCurrencies\[\d/g, "WBSCurrencies[" + i);

                    $(this).attr("id", id);
                    $(this).attr("name", name);
                });

            });
        });
    }

    $("#btn-create-menu").unbind().click(function (e) {
        e.preventDefault();

        var template = $("#create-roi-template").html();

        var count = $("#choice-creator fieldset").length;

        template = template.replace(/{{counter}}/g, count);

        $("#choice-creator").append(template);

        bindingDeleteMenu();
        //initHarga();
    });

    bindingDeleteMenu();
   
</script>


<script type="text/my-template" id="create-roi-template">
    <fieldset>
        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label">Mata-uang yang tersedia</label>
                <p></p>
                <select class="bs-select form-control" id="WBSCurrencies_{{counter}}__CurrencyId" name="WBSCurrencies[{{counter}}].CurrencyId">
                    <option selected disable>Pilih Mata-uang</option>
                    @foreach (var item in ViewBag.Items)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="col-md-6">
                <label class="control-label">Rate</label>
                <p></p>
                <input type="text" class="form-control numeric" id="WBSCurrencies_{{counter}}__Rate" name="WBSCurrencies[{{counter}}].Rate" data-id="{{counter}}" required />
            </div>
            <div class="col-md-1">
                <p></p>
                <br />
                <a href="javascript:void(0);" class="btn btn-danger mt-repeater-delete delete-menu-creator no-margin" style="margin:7px;">
                    <i class="fa fa-close"></i>
                </a>
            </div>
        </div>
    </fieldset>
</script>
