﻿@model ApplicationUserViewModel
<fieldset>
    <legend>@Localization.GetLocalized("user.management.text.detail.profile")</legend>
    <div class="form-group">
        <label asp-for="UserProfile.Photo" class="control-label col-md-3">
            @Localization.GetLocalized("user.management.text.detail.avatar")
        </label>
        <div class="col-md-9">
            <p class="form-control-static">
                <div class="col-md-2 col-sm-6 row">
                    <img src="@UserHelper.GetAvatar(Model.Id)" class="img-responsive" />
                </div>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="UserProfile.Name" class="control-label col-md-3">
            @Localization.GetLocalized("user.management.text.detail.name")
        </label>
        <div class="col-md-9">
            <p class="form-control-static">
                @Model.UserProfile.Name
            </p>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="UserProfile.Birthplace" class="control-label col-md-3">
            @Localization.GetLocalized("user.management.text.detail.birthplace")
        </label>
        <div class="col-md-9">
            <p class="form-control-static">
                @Model.UserProfile.Birthplace
            </p>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="UserProfile.Birthdate" class="control-label col-md-3">
            @Localization.GetLocalized("user.management.text.detail.birthdate")
        </label>
        <div class="col-md-9">
            <p class="form-control-static">
                @CommonHelper.ToShortString(Model.UserProfile.Birthdate)
            </p>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="UserProfile.Address" class="control-label col-md-3">
            @Localization.GetLocalized("user.management.text.detail.address")
        </label>
        <div class="col-md-9">
            <p class="form-control-static">
                @Model.UserProfile.Address
            </p>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="control-label col-md-3">
            @Localization.GetLocalized("user.management.text.detail.phone")
        </label>
        <div class="col-md-9">
            <p class="form-control-static">
                @Model.Phone
            </p>
        </div>
    </div>
</fieldset>