﻿@model ApplicationUserViewModel

<fieldset>
    <legend>@Localization.GetLocalized("user.management.text.detail.account")</legend>
    <div class="form-group">
        <label asp-for="Username" class="control-label col-md-3">
            @Localization.GetLocalized("user.management.text.detail.username")
        </label>
        <div class="col-md-9">
            <p class="form-control-static">
                @Model.Username
            </p>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label col-md-3">
            @Localization.GetLocalized("user.management.text.detail.email")
        </label>
        <div class="col-md-9">
            <p class="form-control-static">
                @Model.Email
            </p>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Directorat" class="control-label col-md-3">
            @Localization.GetLocalized("user.management.text.create.direktorat")
        </label>
        <div class="col-md-9">
            <p class="form-control-static">
                @Model.Directorat
            </p>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="UnitBisnis" class="control-label col-md-3">
            @Localization.GetLocalized("user.management.text.create.unit.bisnis")
        </label>
        <div class="col-md-9">
            <p class="form-control-static">
                @Model.UnitBisnis
            </p>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="UnitKerja" class="control-label col-md-3">
            @Localization.GetLocalized("user.management.text.create.unit.kerja")
        </label>
        <div class="col-md-9">
            <p class="form-control-static">
                @Model.UnitKerja 
            </p>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Bagian" class="control-label col-md-3">
            @Localization.GetLocalized("user.management.text.create.bagian")
        </label>
        <div class="col-md-9">
            <p class="form-control-static">
                @Model.Bagian
            </p>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Roles" class="control-label col-md-3">
            @Localization.GetLocalized("user.management.text.detail.roles")
        </label>
        <div class="col-md-9 mt-list-container list-simple">
            <ul class="form-control-static">
                @foreach (var role in Model.Roles)
                {
                    <li class="mt-list-item">@role</li>
                }
            </ul>
        </div>
    </div>
</fieldset>