﻿@model ApplicationUserForm
@{
    ViewBag.Title = "User Management Page | Create";
    var roles = (List<ApplicationRole>)ViewBag.Roles;
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("user.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.create")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("user.management.text.user.management"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.create")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" asp-action="Create" method="post" id="UserCreate" class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
                </div>
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })

                <div class="form-group">
                    <div id="nikid">
                        <label class="control-label col-md-3">
                            @Localization.GetLocalized("user.management.text.create.nik")
                            <span class="text-danger"> * </span>
                        </label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="pegawai-lemon" name="pegawai-lemon" />
                        </div>
                    </div>
                    <div id="generikid" class="hidden">
                        <label asp-for="Nik" class="control-label col-md-3">
                            User Generik
                            <span class="text-danger"> * </span>
                        </label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" asp-for="Nik" required>
                            <span asp-validation-for="Nik" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <label class="mt-checkbox">
                            User Generik
                            <input type="checkbox" class="messageCheckbox" id="IsGenerik" />
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label col-md-3">
                        @Localization.GetLocalized("user.management.text.create.name")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="Name" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label col-md-3">
                        @Localization.GetLocalized("user.management.text.create.email")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <input type="text" class="form-control" asp-for="Email" required>
                        </div>
                    </div>
                    <span asp-validation-for="Directorat" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Directorat" class="control-label col-md-3">
                        @Localization.GetLocalized("user.management.text.create.direktorat")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Directorat, new { url = "/admin/api/units/getselectitem/?level=2", required = "required" })
                    </div>

                    <span asp-validation-for="Directorat" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <label asp-for="UnitBisnis" class="control-label col-md-3">
                        @Localization.GetLocalized("user.management.text.create.unit.bisnis")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.UnitBisnis, new { url = "/admin/api/units/getselectitem/?level=3", parents = 2, required = "required" })
                    </div>
                    <span asp-validation-for="UnitBisnis" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UnitKerja" class="control-label col-md-3">
                        @Localization.GetLocalized("user.management.text.create.unit.kerja")
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.UnitKerja, new { url = "/admin/api/units/getselectitem/?level=4", parents = 3 })
                    </div>
                    <span asp-validation-for="UnitKerja" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label col-md-3">
                        @Localization.GetLocalized("user.management.text.create.bagian")
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Bagian, new { url = "/admin/api/units/getselectitem/?level=5", parents = 4 })
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label  class="control-label col-md-3">
                        Privilege
                    </label>
                    <div class="col-md-2">
                        <label class="mt-checkbox">
                            Semua Unit Bisnis
                            <input type="checkbox" class="form-control" asp-for="AllUnit" />
                            <span></span>
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="mt-checkbox">
                            Semua Regional
                            <input type="checkbox" class="form-control" asp-for="AllRegional" />
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Roles" class="control-label col-md-3">
                        @Localization.GetLocalized("user.management.text.create.roles")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <div class="mt-checkbox-list" data-error-container="#roles_error">
                            @foreach (var role in roles)
                            {
                                var isChecked = "";
                                if (Model.Roles.Contains(role.Name))
                                {
                                    isChecked = "checked='checked'";
                                }

                                <label class="mt-checkbox">
                                    <input type="checkbox" value="@role.Name" name="Roles" @isChecked /> @role.Name
                                    <span></span>
                                </label>
                            }
                        </div>
                        <span class="help-block"> @Localization.GetLocalized("common.validation.text.combo.box.required") </span>
                        <div id="roles_error"></div>
                        <span asp-validation-for="Roles" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group last">
                    <div class="col-md-3 col-md-offset-3">
                        <label class="text-danger">* @Localization.GetLocalized("common.text.field.required")</label>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; @Localization.GetLocalized("common.button.save")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section styles{
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/global/plugins/typeahead/typeahead.css" />
}

@section scripts {
    <script src="~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>
    <script src="~/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#IsGenerik").change(function () {
                // access properties using this keyword
                if (this.checked) {
                    $("#Name").val('');
                    $("#Email").val('');
                    $("#Nik").val('');
                    $("#pegawai-lemon").val('');
                    $("#generikid").removeClass("hidden");
                    $("#nikid").addClass("hidden");


                } else {
                    $("#Name").val('');
                    $("#Email").val('');
                    $("#Nik").val('');
                    $("#pegawai-lemon").val('');
                    $("#nikid").removeClass("hidden");
                    $("#generikid").addClass("hidden");


                }
            });
            var custom = new Bloodhound({
                datumTokenizer: function (d) { return d.tokens; },
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: "/admin/api/users/getuserfromlemon" + "?query=%QUERY",
                    wildcard: '%QUERY'
                }
            });
            custom.initialize();
            $("#pegawai-lemon").typeahead({
                hint: true,
                highlight: true,
                minLength: 3,
            },
           {
               name: "nik",
               displayKey: "nik",
               source: custom.ttAdapter(),
               templates: {
                   suggestion: Handlebars.compile([
                     '<div class="media">',
                           '<div class="media-body">',
                               '<h4 class="media-heading"><strong>{{nik}}</strong></h4>',
                               '<p>{{nama}} - {{jabatan}} </p>',
                           '</div>',
                     '</div>',
                   ].join(''))
               }
           });

            if ($("#pegawai-lemon").attr("data-value") != null) {
                var myVal = $("#pegawai-lemon").attr("data-value");
                $("#pegawai-lemon").typeahead('val', myVal);
            }

            $("#pegawai-lemon").bind('typeahead:select', function (ev, suggestion) {
                // var value = suggestion.areaSto + "|" + suggestion.areaKode;
                //$("#Lokasi").val(value);
                $("#Name").val(suggestion.nama);
                $("#Email").val(suggestion.email);
                $("#Nik").val(suggestion.nik);
                console.log(suggestion);
            });

            $common.setMenu("#menu-parents");
            var validationOptions = {
                rules: {
                    Email: {
                        required: true,
                        email: true,
                        remote: {
                            url: "/account/verifyemail",
                            type: "post",
                            data: {
                                Email: function () {
                                    return $("#Email").val();
                                }
                            }
                        }
                    },
                    Roles: {
                        required: true,
                        minlength: 1
                    }
                },

                messages: {
                    Roles: {
                        required: $L.get("user.management.validation.roles.required"),
                        minlength: jQuery.validator.format($L.get("user.management.validation.roles.minlength"))
                    },
                    Email: {
                        remote: $L.get("user.management.validation.email.remote")
                    }
                }
            }

            FormValidation.init("#UserCreate", validationOptions);

        });
    </script>
}
