﻿@model ApplicationUserViewModel
@{
    ViewBag.Title = "User Management Page | Details";
    var masterClaims = (List<MasterClaim>)ViewBag.MasterClaims;
    var modder = 1;
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("user.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.details")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("user.management.text.user.management"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.details")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body tabbable-line">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#personal-info" data-toggle="tab">@Localization.GetLocalized("user.management.text.tab.personal.information")</a>
            </li>
            <li>
                <a href="#manage-claims" data-toggle="tab">@Localization.GetLocalized("user.management.text.tab.manage.claims")</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="personal-info" class="tab-pane active">
                <form class="form-horizontal form-text-left">
                    <div class="form-body">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            @Html.Partial("_DetailAccount", Model)
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            @Html.Partial("_DetailProfile", Model)
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-3">
                                <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp; @Localization.GetLocalized("common.button.edit")</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="manage-claims" class="tab-pane">
                @Html.Partial("_ManageClaims")
            </div>
        </div>
    </div>
</div>

@section styles {
    <style>
        .form-text-left .control-label {
            text-align: left;
        }
    </style>
}

@section scripts {
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-parents");
        });
    </script>
}
