﻿@model ApplicationUserForm
@{
    ViewBag.Title = "User Management Page | Edit";
    var roles = (List<ApplicationRole>)ViewBag.Roles;
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("user.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.edit")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("user.management.text.user.management"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.edit")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" asp-action="Edit" method="post" id="UserEdit" class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
                </div>
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })
                <fieldset>
                    <legend>@Localization.GetLocalized("user.management.text.edit.account")</legend>
                    <div class="form-group">
                        <label asp-for="Nik" class="control-label col-md-3">
                            @Localization.GetLocalized("user.management.text.create.nik")
                            <span class="text-danger"> * </span>
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" asp-for="Nik">
                            <span asp-validation-for="Nik" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label col-md-3">
                            @Localization.GetLocalized("user.management.text.create.name")
                            <span class="text-danger"> * </span>
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" asp-for="Name" required>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label col-md-3">
                            @Localization.GetLocalized("user.management.text.edit.email")
                            <span class="text-danger"> * </span>
                        </label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input type="text" class="form-control" asp-for="Email" required>
                            </div>
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label col-md-3">
                            @Localization.GetLocalized("user.management.text.create.direktorat")
                            <span class="text-danger"> * </span>
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Directorat, new { url = "/admin/api/units/getselectitem/?level=2", item = Model.Directorat, name = ViewBag.DirectoratName, required = "required" })
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label col-md-3">
                            @Localization.GetLocalized("user.management.text.create.unit.bisnis")
                            <span class="text-danger"> * </span>
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.UnitBisnis, new { url = "/admin/api/units/getselectitem/?level=3", parents = 2, item = Model.UnitBisnis, name = ViewBag.UnitBisnisName, required = "required" })
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label col-md-3">
                            @Localization.GetLocalized("user.management.text.create.unit.kerja")
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.UnitKerja, new { url = "/admin/api/units/getselectitem/?level=4", parents = 3, item = Model.UnitKerja, name = ViewBag.UnitKerjaName })
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label col-md-3">
                            @Localization.GetLocalized("user.management.text.create.bagian")
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Bagian, new { url = "/admin/api/units/getselectitem/?level=5", parents = 4, item = Model.Bagian, name = ViewBag.BagianName })
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                        <label asp-for="Disposisi" class="control-label col-md-3">
                            @Localization.GetLocalized("user.management.text.edit.disposisi")
                        </label>
                        <div class="col-md-4">
                            <label class="mt-checkbox">
                                <input type="checkbox" class="form-control" asp-for="Disposisi" />
                                <span></span>
                            </label>
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Privilege
                        </label>
                        <div class="col-md-2">
                            <label class="mt-checkbox">
                                Semua Unit Bisnis
                                <input type="checkbox" class="form-control" asp-for="AllUnit" />
                                <span></span>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label class="mt-checkbox">
                                Semua Regional
                                <input type="checkbox" class="form-control" asp-for="AllRegional" />
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Roles" class="control-label col-md-3">
                            @Localization.GetLocalized("user.management.text.edit.roles")
                            <span class="text-danger"> * </span>
                        </label>
                        <div class="col-md-4">
                            <div class="mt-checkbox-list" data-error-container="#roles_error">
                                @foreach (var role in roles)
                                {
                                    var isChecked = "";
                                    if (Model.Roles.Contains(role.Name))
                                    {
                                        isChecked = "checked='checked'";
                                    }

                                    <label class="mt-checkbox">
                                        <input type="checkbox" value="@role.Name" name="Roles" @isChecked /> @role.Name
                                        <span></span>
                                    </label>
                                }
                            </div>
                            <span class="help-block"> @Localization.GetLocalized("common.validation.text.combo.box.required") </span>
                            <div id="roles_error"></div>
                            <span asp-validation-for="Roles" class="text-danger"></span>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>@Localization.GetLocalized("user.management.text.edit.profile")</legend>
                    <div class="form-group">
                        <label asp-for="Photo" class="control-label col-md-3">
                            @Localization.GetLocalized("user.management.text.edit.avatar")
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Photo, new { @preview = true, @class = "form-control", @accept = "image/*", @extension = ".jpg,.jpeg,.png,.gif", @Ratio = 120.0 / 120.0, required = "required" })
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label col-md-3">
                            @Localization.GetLocalized("user.management.text.edit.name")
                            <span class="text-danger"> * </span>
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" asp-for="Name" required>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Birthplace" class="control-label col-md-3">
                            @Localization.GetLocalized("user.management.text.edit.birthplace")
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" asp-for="Birthplace">
                            <span asp-validation-for="Birthplace" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Birthdate" class="control-label col-md-3">
                            @Localization.GetLocalized("user.management.text.edit.birthdate")
                        </label>
                        <div class="col-md-4">
                            @Html.EditorFor(m => m.Birthdate, "DateTimeShort")
                            <span asp-validation-for="Birthdate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label col-md-3">
                            @Localization.GetLocalized("user.management.text.edit.address")
                        </label>
                        <div class="col-md-4">
                            <textarea class="form-control" asp-for="Address" rows="5"></textarea>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label col-md-3">
                            @Localization.GetLocalized("user.management.text.edit.phone")
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" asp-for="Phone">
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group last">
                    <div class="col-md-3 col-md-offset-3">
                        <label class="text-danger">* @Localization.GetLocalized("common.text.field.required")</label>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; @Localization.GetLocalized("common.button.save")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section styles{
    <link rel="stylesheet" href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.standalone.min.css" />
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-parents");
            var validationOptions = {
                rules: {
                    Email: {
                        required: true,
                        email: true,
                        remote: {
                            url: "/account/verifyemail",
                            type: "post",
                            data: {
                                Email: function () {
                                    return $("#Email").val();
                                },
                                Id: "@ViewBag.Id"
                            }
                        }
                    },
                    Roles: {
                        required: true,
                        minlength: 1
                    }
                },

                messages: {
                    Roles: {
                        required: $L.get("user.management.validation.roles.required"),
                        minlength: jQuery.validator.format($L.get("user.management.validation.roles.minlength"))
                    },
                    Email: {
                        remote: $L.get("user.management.validation.email.remote")
                    }
                }
            }

            FormValidation.init("#UserEdit", validationOptions);
        });

        $('#Birthdate').each(function () {
            var a = $(this).datepicker({
                Format: "dd/mm/yyyy"
            });
        });
    </script>
}
