﻿@{
    ViewData["Title"] = "User Management Page";
}

@section breadcrumb{
    <li>
        <span>@Localization.GetLocalized("user.management.text")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("user.management.text.user.management"))</h1>
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.list")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-success" href="@Url.Action("Create")"><i class="fa fa-plus-circle"></i> @Localization.GetLocalized("common.button.add.new")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <table id="table-user" class="table table-striped" cellspacing="0" width="100%">
            <colgorup>
                <col width="">
                <col width="">
                <col width="">
                <col width="260">
            </colgorup>
            <thead>
                <tr>
                    <th>@Localization.GetLocalized("user.management.text.index.nik")</th>
                    <th>@Localization.GetLocalized("user.management.text.index.nama")</th>
                    <th>@Localization.GetLocalized("user.management.text.index.jabatan")</th>
                    <th>@Localization.GetLocalized("common.text.action")</th>
                </tr>
            </thead>

        </table>
    </div>
</div>

@{
    Html.RenderPartial("_DatatablesAssets");
}

@section scripts{
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-parents");
            var datatableOption = {
                ajaxMethod: "POST",
                listUrl: "/admin/api/users/postdatatables",
                detailUrl: "@Url.Action("Details")/",
                editUrl: "@Url.Action("Edit")/",
                deleteUrl: "/admin/api/users/",
                deleteAlertSuccess: $L.get("user.management.text.delete.success"),
                columnDefs: [
                         {
                             "targets": -1,
                             "data": null,
                             "defaultContent": "<button class='btn btn-success detail' title='" + $L.get("user.management.button.index.detail.title") + "'><i class='fa fa-info'></i></button>" +
                                 "<button class='btn btn-primary edit' title='" + $L.get("user.management.button.index.edit.title") + "'><i class='fa fa-edit'></i></button>" +
                                 "<button class='btn btn-danger remove' title='" + $L.get("user.management.button.index.delete.title") + "'><i class='fa fa-trash'></i></button>",
                             "orderable": false
                         },
                         {
                             "targets": 0,
                             "data": "userName",
                             name: "UserName"
                         },
                         {
                             "targets": 1,
                             "data": "name",
                             name: "name"
                         },
                         {
                             "targets": 2,
                             "data": "jabatan",
                             name: "jabatan"
                         }
                         
                ]
            }

            $datatables.init("#table-user", datatableOption);
        });
    </script>
}