﻿@model JustificationViewModel

<form asp-action="Approval" asp-route-id="@Model.Id" id="approval" method="post" role="form" class="form-approval-button">
    <div class="row">
        <fieldset class="form-body">
            <legend>@Localization.GetLocalized("justification.text.approval.check.budget")</legend>
            <div class="form-group">
                <label for="GLAccount" class="control-label col-md-3">
                    @Localization.GetLocalized("justification.text.approval.gl.account")
                </label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="GLAccount" id="GLAccount">
                </div>
            </div>
            <div class="form-group">
                <label for="CostCenter" class="control-label col-md-3">
                    @Localization.GetLocalized("justification.text.approval.cost.center")
                </label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="CostCenter" id="CostCenter">
                </div>
            </div>
            <div class="form-group">
                <label for="KodeWBSSAP" class="control-label col-md-3">
                    @Localization.GetLocalized("justification.text.approval.kode.wbs.sap")
                </label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="KodeWBSSAP" id="KodeWBSSAP">
                </div>
            </div>
            <div class="form-group">
                <label for="Plant" class="control-label col-md-3">
                    @Localization.GetLocalized("justification.text.approval.kode.wbs.plant")
                </label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="Plant" id="Plant">
                </div>
            </div>
            <div class="form-group">
                <label for="Purgroup" class="control-label col-md-3">
                    @Localization.GetLocalized("justification.text.approval.kode.wbs.purgroup")
                </label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="Purgroup" id="Purgroup">
                </div>
            </div>
            <div class="form-group">
                <label for="Purchorg" class="control-label col-md-3">
                    @Localization.GetLocalized("justification.text.approval.kode.wbs.purchorg")
                </label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="Purchorg" id="Purchorg">
                </div>
            </div>
            <br/>
            <div class="form-group">
                <label class="control-label col-md-3">
                    @Localization.GetLocalized("justification.text.approval.total.kebutuhan")
                </label>
                <div class="col-md-9">
                    <p class="form-control-static">
                        @Model.JumlahAnggaran.ToString("C", new System.Globalization.CultureInfo("id"))
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">
                    @Localization.GetLocalized("justification.text.approval.nilai.alokasi.budget")
                </label>
                <div class="col-md-9">
                    <p class="form-control-static">
                        @Model.JumlahAnggaran.ToString("C", new System.Globalization.CultureInfo("id"))
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">
                    @Localization.GetLocalized("justification.text.approval.total.sppd.lain")
                </label>
                <div class="col-md-9">
                    <p class="form-control-static">
                        @Model.JumlahAnggaran.ToString("C", new System.Globalization.CultureInfo("id"))
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">
                    @Localization.GetLocalized("justification.text.approval.sisa.budget")
                </label>
                <div class="col-md-9">
                    <p class="form-control-static">
                        @Model.JumlahAnggaran.ToString("C", new System.Globalization.CultureInfo("id"))
                    </p>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <input type="hidden" id="Note" name="Note" value="" />
            <input type="hidden" id="Status" name="Status" value="" />
            <button type="button" class="btn btn-primary btn-justification" value="@ViewBag.ApproveFlag" data-title="@Localization.GetLocalized("justification.approval.confirmation.approve")">Submit</button>
            @*<button type="button" class="btn btn-danger btn-reject" value="@ViewBag.RejectFlag" data-title="@Localization.GetLocalized("justification.approval.confirmation.reject")">Revisi</button>*@
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $(".btn-justification").on("click", function (e) {
            $.ajax({
                url: "/admin/api/justifications/justificationPR/" + "@Model.Id",
                data: {
                    GLAccount: $("#GLAccount").val(),
                    CostCenter: $("#CostCenter").val(),
                    KodeWBSSAP: $("#KodeWBSSAP").val(),
                    Plant: $("#Plant").val(),
                    Purgroup: $("#Purgroup").val(),
                    Purchorg: $("#Purchorg").val()
                    },
                type: "POST",
                success: function (response) {
                    $("#form-approve").removeClass("hidden")
                    console.log(response);
                    if (response.messagE_V1 == "") {
                        $alert.warning("Budget Tidak Tersedia");
                    } else {
                        $alert.success(response.message);
                        window.location.href = "/Admin/Justification";
                    }
                    
                   
                    //
                },
                error: function (response) {
                    console.log(response);
                },
                beforeSend: function () {
                    $("#body-overlay").removeClass("hide");
                },
                complete: function () {
                    $("#body-overlay").addClass("hide");
                }
            });

        });
    });
</script>