﻿@model JustificationViewModel

<div class="row">
    <div class="col-md-4 col-md-offset-5">
        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
        @if (Model.CustomField1 == Justification.STATUS_SAP_SUBMIT)
        {
            <a asp-action="GenerateReport" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-print"></i>&nbsp; @Localization.GetLocalized("common.button.print")</a>
        }
        @if (Model.IsJustificationEditableAndSubmitable(UserHelper.GetUserId(User)))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp; @Localization.GetLocalized("common.button.edit")</a>
            <form asp-action="NeedReview" asp-route-id="@Model.Id" role="form" class="form-approval-button" asp-controller="Justification">
                <button type="submit" class="btn btn-primary">Need Review</button>
            </form>
        }
        @if (User.IsPurchaseRequisition())
        {
            if (Model.JustificationStatus != "Approved")
            {
                <button type="button" class="btn btn-danger btn-revisi" data-title="@Localization.GetLocalized("justification.approval.confirmation.reject")">Revisi</button>
                <button type="button" class="btn btn-primary btn-approval" data-title="@Localization.GetLocalized("justification.approval.confirmation.approve")">Approve</button>
            }
        }
    </div>
    <div class="clearfix"></div>
    @if (Model.CustomField1 == Justification.STATUS_SAP_SUBMIT)
    {
        <div class="col-md-12">
            <h4>File Lampiran Pendukung</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nama Lampiran</th>
                        <th>Nama Berkas</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.TOR != null)
                    {
                        <tr>
                            <td>TOR</td>
                            <td>@Model.TOR.ConvertToAttachment().Name</td>
                            <td><a href="/@Model.TOR.ConvertToAttachment().Path" target="_blank">@Localization.GetLocalized("common.button.download")</a></td>
                        </tr>
                    }
                    @if (Model.BasicDesign != null)
                    {
                        <tr>
                            <td>Basic Design</td>
                            <td>@Model.BasicDesign.ConvertToAttachment().Name</td>
                            <td><a href="/@Model.BasicDesign.ConvertToAttachment().Path" target="_blank">@Localization.GetLocalized("common.button.download")</a></td>
                        </tr>
                    }
                   @if (Model.LampiranDasarKebutuhanBarangJasa != null)
                   {
                    <tr>
                        <td>Kebutuhan Barang dan Jasa</td>
                        <td>@Model.LampiranDasarKebutuhanBarangJasa.ConvertToAttachment().Name</td>
                        <td><a href="/@Model.LampiranDasarKebutuhanBarangJasa.ConvertToAttachment().Path" target="_blank">@Localization.GetLocalized("common.button.download")</a></td>
                    </tr>
                   }
                </tbody>
            </table>
        </div>
    }
  

</div>

<script>
    $(document).ready(function () {
        if ("@Model.CustomField1" == "NOT PR" && "@Model.JustificationStatus" == "Approved") {
            $("#form-approve").removeClass("hidden")

        }
        $(".btn-approval").on("click", function (e) {
            $.ajax({
                url: "/admin/api/justifications/justificationApproved/" + "@Model.Id",
                type: "POST",
                success: function (response) {
                    $alert.success("Berhasil melakukan Aproval, Silahkan Submit Ke SAP");
                    $("#form-approve").removeClass("hidden")
                    $(".btn-revisi").addClass("hidden")
                    $(".btn-approval").addClass("hidden")
                },
                error: function (response) {
                    console.log(response);
                },
                beforeSend: function () {
                    $("#body-overlay").removeClass("hide");
                },
                complete: function () {
                    $("#body-overlay").addClass("hide");
                }
            });

        });

        $(".btn-revisi").on("click", function (e) {
            e.preventDefault();// used to stop its default behaviour
            bootbox.confirm("Are you sure revision this item?", function (result) {
                if (result === true) {
                    $.ajax({
                        url: "/admin/api/justifications/justificationRejected/" + "@Model.Id",
                        type: "POST",
                        success: function (response) {
                            $alert.success("Berhasil melakukan revisi submit");
                            window.location.href = "/Admin/Justification"
                        },
                        error: function (response) {
                            console.log(response);
                        },
                        beforeSend: function () {
                            $("#body-overlay").removeClass("hide");
                        },
                        complete: function () {
                            $("#body-overlay").addClass("hide");
                        }
                    });
                };
            });
        });
    });
</script>