﻿@model JustificationViewModel

<div class="border border-dark padding-tb-20 justification-page">
    <div class="justification-page-title">
        JUSTIFIKASI KEBUTUHAN<br />
        BARANG DAN/ATAU JASA<br />
        <small>(disusun dan ditetapkan oleh @Model.Penyusun)</small>
    </div>
    <div class="col-md-12">
        <table class="justification-page-detail-table">
            <tr>
                <td>Nomor DRK</td>
                <td>&nbsp;:&nbsp;</td>
                <td>@Model.NomorDRK</td>
            </tr>
            <tr>
                <td>Jumlah Anggaran</td>
                <td>&nbsp;:&nbsp;</td>
                <td>@Model.JumlahAnggaran.ToString("C", new System.Globalization.CultureInfo("id"))</td>
            </tr>
            <tr>
                <td>Nama Kegiatan</td>
                <td>&nbsp;:&nbsp;</td>
                <td>@Model.NamaKegiatan</td>
            </tr>
            @if (Model.AKIId != null)
            {
                <tr>
                    <td>Nama AKI</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>@Model.AkiName</td>
                </tr>
            }
            <tr>
                <td>Nomor DRP</td>
                <td>&nbsp;:&nbsp;</td>
                <td>@Model.NomorDRP</td>
            </tr>
            <tr>
                <td>Jenis Kebutuhan</td>
                <td>&nbsp;:&nbsp;</td>
                <td>@Model.JenisKebutuhan</td>
            </tr>
            <tr>
                <td>Pusat Pertanggungjawaban</td>
                <td>&nbsp;:&nbsp;</td>
                <td>@Model.PusatPertanggungjawaban</td>
            </tr>
            <tr>
                <td>
                    Kelas Aset<br />
                    <small>(sesuai kelas aset yang berlaku)</small>
                </td>
                <td>&nbsp;:&nbsp;</td>
                <td>@Model.KelasAsset</td>
            </tr>
        </table>
    </div>
    <div class="col-md-12">
        <div class="justification-page-section">
            <div class="justification-page-section-header">
                I. LATAR BELAKANG
            </div>
            @Html.Raw(Model.LatarBelakang)
            @Html.EditorFor(model => model.NoteLatarBelakang, new { id = Model.Id, value = Html.Raw(Model.NoteLatarBelakang) })
        </div>
    </div>
    <div class="justification-page-section">
        <div class="justification-page-section-header">
            II. ASPEK STRATEGIS
        </div>
        @Html.Raw(Model.AspekStrategis)
        @Html.EditorFor(model => model.NoteAspekStrategis, new { id = Model.Id, value = Html.Raw(Model.NoteAspekStrategis) })
    </div>
    <div class="justification-page-section">
        <div class="justification-page-section-header">
            III. ASPEK BISNIS
        </div>
        @Html.Raw(Model.AspekBisnis)
        @Html.EditorFor(model => model.NoteAspekBisnis, new { id = Model.Id, value = Html.Raw(Model.NoteAspekBisnis) })
    </div>
    <div class="justification-page-section">
        <div class="justification-page-section-header">
            IV. SPESIFIKASI TEKNIK
        </div>
        @Html.Raw(Model.SpesifikasiTeknik)
        @Html.EditorFor(model => model.NoteSpesifikasiTeknik, new { id = Model.Id, value = Html.Raw(Model.NoteSpesifikasiTeknik) })
    </div>
    <div class="justification-page-section">
        <div class="justification-page-section-header">
            V. JUMLAH KEBUTUHAN
        </div>
        @Html.Raw(Model.JumlahKebutuhanBarangJasa)
        @Html.Raw(Model.DasarKebutuhanBarangJasa)
        @Html.EditorFor(model => model.NoteJumlahKebutuhan, new { id = Model.Id, value = Html.Raw(Model.NoteJumlahKebutuhan) })
    </div>
    <div class="hidden" id="detailBoq">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-green sbold uppercase">BOQ</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="portlet-body">
            <br />
            <table id="table-justification-perlocationBoq" class="table table-striped" cellspacing="0" width="100%">
                <colgorup>
                    <col width="">
                    <col width="">
                    <col width="">
                    <col width="">
                    <col width="">
                    <col width="">
                    <col width="">
                    <col width="">
                </colgorup>
                <thead>
                    <tr>
                        <th></th>
                        <th>@Localization.GetLocalized("justification.management.text.create.grup")</th>
                        <th>@Localization.GetLocalized("justification.management.text.create.boqitem")</th>
                        <th>@Localization.GetLocalized("justification.management.text.create.currency")</th>
                        <th>@Localization.GetLocalized("justification.management.text.create.qty")</th>
                        <th>@Localization.GetLocalized("justification.management.text.hargajasa")</th>
                        <th>@Localization.GetLocalized("justification.management.text.hargamaterial")</th>
                        <th>@Localization.GetLocalized("justification.management.text.create.total")</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>@Localization.GetLocalized("justification.management.text.create.grup")</th>
                        <th>@Localization.GetLocalized("justification.management.text.create.boqitem")</th>
                        <th>@Localization.GetLocalized("justification.management.text.create.currency")</th>
                        <th>@Localization.GetLocalized("justification.management.text.create.qty")</th>
                        <th>@Localization.GetLocalized("justification.management.text.hargajasa")</th>
                        <th>@Localization.GetLocalized("justification.management.text.hargamaterial")</th>
                        <th>@Localization.GetLocalized("justification.management.text.create.total")</th>

                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="justification-page-section">
        <div class="justification-page-section-header">
            VI. RENCANA PELAKSANAAN
        </div>
        @Html.Raw(Model.RencanaPelaksanaan)
        @Html.EditorFor(model => model.NoteRencanaPelaksanaan, new { id = Model.Id, value = Html.Raw(Model.NoteRencanaPelaksanaan) })
    </div>
    <div class="justification-page-section">
        <div class="justification-page-section-header">
            VII. DISTRIBUSI PENGGUNAAN
        </div>
        @Html.Raw(Model.DistribusiPenggunaan)
        @Html.EditorFor(model => model.NoteDistribusiPenggunaan, new { id = Model.Id, value = Html.Raw(Model.NoteDistribusiPenggunaan) })
    </div>
    <div class="hidden" id="detailKegiatanlokasi">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-green sbold uppercase">Lokasi</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="portlet-body">
            <br />
            <table id="table-justification-perlocation" class="table table-striped" cellspacing="0" width="100%">
                <colgorup>
                    <col width="">
                    <col width="">
                </colgorup>
                <thead>
                    <tr>
                        <th>@Localization.GetLocalized("justification.management.text.create.location")</th>
                        <th></th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>@Localization.GetLocalized("justification.management.text.create.location")</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="justification-page-section">
        <div class="justification-page-section-header">
            VIII. POSISI PERSEDIAAN
        </div>
        @Html.Raw(Model.PosisiPersediaan)
        @Html.EditorFor(model => model.NotePosisiPersediaan, new { id = Model.Id, value = Html.Raw(Model.NotePosisiPersediaan) })
    </div>
    <div class="justification-page-section">
        <div class="justification-page-section-header">
            IX. ANGGARAN
        </div>
        @Html.Raw(Model.Anggaran)
        @Html.EditorFor(model => model.NoteAnggaran, new { id = Model.Id, value = Html.Raw(Model.NoteAnggaran) })
    </div>
    <div class="justification-page-section">
        <div class="justification-page-section-header">
            X. PENUTUP
        </div>
        @Html.Raw(Model.Penutup)
        @Html.EditorFor(model => model.NotePenutup, new { id = Model.Id, value = Html.Raw(Model.NotePenutup) })
    </div>
</div>
<div class="clearfix"></div>
@{
    Html.RenderPartial("_DatatablesAssets");
}

@section styles{

}
<script src="~/assets/global/plugins/jquery.number.min.js"></script>
<script>
    var $tblData = $('#table-justification-perlocationBoq'),
    dtTblData;
    var $tblDataPerLocation = $('#table-justification-perlocation'),
    dtTblDataPerLocation;
    function GenerateDataTablePerLocation(id) {
        dtTblDataPerLocation = $tblDataPerLocation.DataTable({
            "searching": false,
            "rowReorder": true,
            "processing": true,
            "serverSide": true,
            "destroy": true,
            "ajax": {
                url: "/admin/api/wbses/getJustifikasiPerLocation/" + id,
                type: "post",

            },
            "order": [[1, 'asc']],
            "columns": [
                         {
                             "targets": 0,
                             "data": "text",
                             name: "Text",
                             "orderable": false,
                         },
                         {
                             "visible": false,
                             "targets": 1,
                             "data": "header",
                             name: "Header",
                         },

            ],
            "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();
                var last = null;

                api.column(1, { page: 'current' }).data().each(function (group, i) {
                    var row = $('<tr/>', { class: 'group-parent' });
                    if (last !== group) {

                        row.append('<td colspan="6"> <b>' + group + '<b></td>');

                        $(rows).eq(i).before(
                            row
                        );
                        last = group;
                    }
                });
            },
            "stateSave": false
        });
    }
    function GenerateDataTable(id) {
        dtTblData = $tblData.DataTable({
            "searching": false,
            "rowReorder": false,
            "processing": true,
            "serverSide": true,
            "destroy": true,
            "ajax": {
                url: "/admin/api/wbsboqs/getdatatablesboqperwbs/" + id,
                type: "get",

            },
            "order": [[0, 'asc']],
            "columns": [
                         {
                             "visible": false,
                             "targets": 0,
                             "data": "locationName",
                             name: "LocationName",
                             "orderable": false,
                         },
                         {
                             "targets": 1,
                             "data": "grupHarga",
                             name: "GrupHarga",
                             "orderable": false,
                         },
                         {
                             "targets": 2,
                             "data": "designatorDeskripsi",
                             name: "DesignatorDeskripsi",
                             "orderable": false,
                         },
                         {
                             "targets": 3,
                             "data": "currencies",
                             name: "Currencies",
                             "orderable": false,
                         },
                         {
                             "targets": 4,
                             "data": "qty",
                             name: "Qty",
                             "orderable": false

                             //render: function (data) {
                             //    return $.number(data, 2, ',', '.');
                             //},
                         },
                         {
                             "targets": 5,
                             "data": "hargaJasa",
                             name: "HargaJasa",
                             render: function (data) {
                                 return $.number(data, 2, ',', '.');
                             },
                             "orderable": false,

                         },
                         {
                             "targets": 6,
                             "data": "hargaMaterial",
                             name: "HargaMaterial",
                             render: function (data) {
                                 return $.number(data, 2, ',', '.');
                             },
                             "orderable": false,
                         },
                         {
                             "targets": 7,
                             "data": "jumlah",
                             name: "Jumlah",
                             render: function (data) {
                                 return $.number(data, 2, ',', '.');
                             },
                             "orderable": false,
                         },

            ],
            "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();
                var last = null;

                api.column(0, { page: 'current' }).data().each(function (group, i) {
                    var row = $('<tr/>', { class: 'group-parent' });
                    if (last !== group) {

                        row.append('<td colspan="6"><b>Lokasi: ' + group + '</b></td>');

                        $(rows).eq(i).before(
                            row
                        );
                        last = group;
                    }
                });
            },
            "stateSave": false
        });
    }
    $(document).ready(function () {
        var ShowBoQ = "@Model.ShowBoQ";
        if (ShowBoQ == "True") {
            GenerateDataTable("@Model.WBSId");
            $("#detailBoq").removeClass("hidden");
        }
        var Locationnn= "@Model.ShowBoQ";
        if (Locationnn == "True") {
            
            GenerateDataTablePerLocation("@Model.WBSId")
            $("#detailKegiatanlokasi").removeClass("hidden");
        }

    });
</script>
<style>
    .form-horizontal .form-group {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .note {
        border-left: 5px solid red !important;
    }
</style>