﻿@model JustificationJumlahKebutuhanForm
@{
    ViewBag.Title = "Justification Page | Create";
}
@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("justification.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.create")</span>
    </li>
}
<h1 class="page-title">@Html.Raw(Localization.GetLocalized("justification.text.justification"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.create")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" asp-action="CreateJumlahKebutuhan" asp-route-id="@ViewBag.Id" method="post" id="JustificationCreate" class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
                </div>
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })
                <div class="form-group">
                    <label asp-for="JumlahKebutuhanBarangJasa" class="control-label col-md-3">
                        @Localization.GetLocalized("justification.text.create.jumlah.kebutuhan.barang.jasa")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(m => m.JumlahKebutuhanBarangJasa, "TextEditor", new { id = "JumlahKebutuhanBarangJasa" })
                        <span asp-validation-for="JumlahKebutuhanBarangJasa" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="BasicDesign" class="control-label col-md-3">
                        @Localization.GetLocalized("justification.text.create.basic.design")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(m => m.BasicDesign, "SingleFileUploadNJKI", new { id = "BasicDesign" })
                        <span asp-validation-for="BasicDesign" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ShowBoQ" class="control-label col-md-3">
                        @Localization.GetLocalized("justification.text.create.show.boq")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-9">
                        <div class="mt-checkbox-inline">
                            <label class="mt-checkbox">
                                @Html.CheckBoxFor(m => m.ShowBoQ)
                                <span></span>
                            </label>
                        </div>
                        <span asp-validation-for="ShowBoQ" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="TOR" class="control-label col-md-3">
                        @Localization.GetLocalized("justification.text.create.tor")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(m => m.TOR, "SingleFileUploadNJKI", new { id = "TOR" })
                        <span asp-validation-for="TOR" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DasarKebutuhanBarangJasa" class="control-label col-md-3">
                        @Localization.GetLocalized("justification.text.create.dasar.kebutuhan.barang.jasa")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(m => m.DasarKebutuhanBarangJasa, "TextEditor", new { id = "DasarKebutuhanBarangJasa" })
                        <span asp-validation-for="DasarKebutuhanBarangJasa" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LampiranDasarKebutuhanBarangJasa" class="control-label col-md-3">
                        @Localization.GetLocalized("justification.text.create.lampiran.dasar.kebutuhan.barang.jasa")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-9">
                        @Html.EditorFor(m => m.LampiranDasarKebutuhanBarangJasa, "SingleFileUpload", new { id = "LampiranDasarKebutuhanBarangJasa" })
                        <span asp-validation-for="LampiranDasarKebutuhanBarangJasa" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group last">
                    <div class="col-md-3 col-md-offset-3">
                        <label class="text-danger">* @Localization.GetLocalized("common.text.field.required")</label>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-9 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                        <button type="submit" class="btn btn-primary" name="RedirectUrl" value="@Url.Action("Index")"><i class="fa fa-save"></i>&nbsp; @Localization.GetLocalized("common.button.save")</button>
                        <button type="submit" class="btn btn-primary" name="RedirectUrl" value="@Url.Action("CreateUraian", new { id = ViewBag.Id })"><i class="fa fa-arrow-left"></i>&nbsp; Previous</button>
                        <button type="submit" class="btn btn-primary" name="RedirectUrl" value="@Url.Action("CreateRencanaPelaksanaan", new { id = ViewBag.Id })"><i class="fa fa-arrow-right"></i>&nbsp; Next</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-request");

            var validationOptions = {
                rules: {
                    LatarBelakang: {
                        required: true
                    },
                    AspekStrategis: {
                        required: true
                    },
                    AspekBisnis: {
                        required: true
                    },
                    SpesifikasiTeknik: {
                        required: true
                    }
                }
            }

            FormValidation.init("#JustificationCreate", validationOptions);
        });
    </script>
}
