﻿@using App.Domain.Models.App
@model JustificationHeaderForm
@{
    ViewBag.Title = "Justification Page | Create";
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("justification.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.create")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("justification.text.justification"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.create")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" asp-action="Create" method="post" id="JustificationCreate" class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
                </div>
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })
                @Html.HiddenFor(m => m.Id)
                <div class="form-group">
                    <label asp-for="Penyusun" class="control-label col-md-3">
                        @Localization.GetLocalized("justification.text.create.penyusun")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="Penyusun">
                        <span asp-validation-for="Penyusun" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="NomorDRK" class="control-label col-md-3">
                        @Localization.GetLocalized("justification.text.create.nomor.drk")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="NomorDRK">
                        <span asp-validation-for="NomorDRK" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="WBSId" class="control-label col-md-3">
                        @Localization.GetLocalized("justification.text.create.nama.kegiatan")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <select class="form-control" id="WBSId" name="WBSId">
                            <option></option>
                            @if (Model.WBSId != null)
                            {
                                <option value="@Model.WBSId" selected>@ViewBag.KegiatanName</option>
                            }
                        </select>
                        <span asp-validation-for="WBSId" class="text-danger"></span>
                    </div>
                </div>
                <div class="hidden" id="detailKegiatan">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-green sbold uppercase">BOQ</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="portlet-body">
                        <br />
                        <table id="table-justification-perlocation" class="table table-striped" cellspacing="0" width="100%">
                            <colgorup>
                                <col width="">
                                <col width="">
                                <col width="">
                                <col width="">
                                <col width="">
                            </colgorup>
                            <thead>
                                <tr>
                                    <th>@Localization.GetLocalized("justification.management.text.create.location")</th>
                                    <th>@Localization.GetLocalized("wbs.management.text.create.category")</th>
                                    <th>@Localization.GetLocalized("justification.management.text.create.currency")</th>
                                    <th>@Localization.GetLocalized("justification.management.text.create.total")</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>@Localization.GetLocalized("justification.management.text.create.location")</th>
                                    <th>@Localization.GetLocalized("wbs.management.text.create.category")</th>
                                    <th>@Localization.GetLocalized("justification.management.text.create.currency")</th>
                                    <th>@Localization.GetLocalized("justification.management.text.create.total")</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="hidden" id="detailKegiatanGrandTotal">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-green sbold uppercase">Grand Total</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="portlet-body">
                        <br />
                        <table id="table-justification-currency" class="table table-striped" cellspacing="0" width="100%">
                            <colgorup>
                                <col width="">
                                <col width="">
                                <col width="">
                            </colgorup>
                            <thead>
                                <tr>
                                    <th>@Localization.GetLocalized("justification.management.text.create.currency")</th>
                                    <th>@Localization.GetLocalized("justification.management.text.create.wbsid")</th>
                                    <th>@Localization.GetLocalized("justification.management.text.create.grandtotal")</th>

                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>@Localization.GetLocalized("justification.management.text.create.currency")</th>
                                    <th>@Localization.GetLocalized("justification.management.text.create.wbsid")</th>
                                    <th>@Localization.GetLocalized("justification.management.text.create.grandtotal")</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="NomorDRP" class="control-label col-md-3">
                        @Localization.GetLocalized("justification.text.create.nomor.drp")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="NomorDRP">
                        <span asp-validation-for="NomorDRP" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="JenisKebutuhan" class="control-label col-md-3">
                        @Localization.GetLocalized("justification.text.create.jenis.kebutuhan")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="JenisKebutuhan">
                        <span asp-validation-for="JenisKebutuhan" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="JenisPengeluaran" class="control-label col-md-3">
                        @Localization.GetLocalized("justification.text.create.jenis.pengeluaran")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.JenisPengeluaran, Html.GetEnumSelectList<SpendingType>(), new { @class = "form-control" })
                        <span asp-validation-for="JenisPengeluaran" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group hidden" id="AKIContainers">
                    <label asp-for="AKIId" class="control-label col-md-3">
                        @Localization.GetLocalized("justification.text.create.aki")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">

                        <select class="form-control" id="AKIId" name="AKIId">
                            <option></option>
                            @if (Model.AKIId != null)
                            {
                                <option value="@Model.AKIId" selected>@ViewBag.AKIName</option>
                            }
                        </select>

                        <span asp-validation-for="AKIId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PusatPertanggungjawaban" class="control-label col-md-3">
                        @Localization.GetLocalized("justification.text.create.pusat.pertanggungjawaban")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="PusatPertanggungjawaban">
                        <span asp-validation-for="PusatPertanggungjawaban" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="KelasAsset" class="control-label col-md-3">
                        @Localization.GetLocalized("justification.text.create.kelas.asset")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="KelasAsset">
                        <span asp-validation-for="KelasAsset" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group last">
                    <div class="col-md-3 col-md-offset-3">
                        <label class="text-danger">* @Localization.GetLocalized("common.text.field.required")</label>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-4 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                        <button type="submit" class="btn btn-primary" name="RedirectUrl" value="@Url.Action("Index")"><i class="fa fa-save"></i>&nbsp; @Localization.GetLocalized("common.button.save")</button>
                        <button type="submit" class="btn btn-primary" name="RedirectUrl" value="@Url.Action("CreateUraian", new { id = Model.Id })"><i class="fa fa-arrow-right"></i>&nbsp; Next</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@{
    Html.RenderPartial("_DatatablesAssets");
}
@section styles{
    <link rel="stylesheet" href="~/assets/global/plugins/select2/css/select2.css" />
    <link rel="stylesheet" href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.standalone.min.css" />

}

@section Scripts {
    <script src="~/assets/global/plugins/select2/js/select2.min.js"></script>
    <script src="~/assets/global/plugins/jquery.number.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

    <script>
        var $tblData = $('#table-justification-perlocation'),
       dtTblData;
        var $tblDatacurrency = $('#table-justification-currency'),
        dtTblDatacurrency;

        function initializeKegiatan() {
            $("#WBSId").select2({
                placeholder: 'Select Nama Kegiatan',
                ajax: {
                    url: '/admin/api/wbses/getkegiatan',
                    dataType: 'json',
                    type: "POST",
                    quietMillis: 500,
                    data: function (term) {
                        return {
                            query: term.term,
                        };
                    },
                    processResults: function (data) {

                        return {
                            results: $.map(data, function (item) {
                                return {
                                    text: item.text,
                                    id: item.id
                                }
                            })
                        };
                    }
                }
            }).on("change", function () {
                GenerateDataTable($("#WBSId").val())
                GenerateDataTableCurrency($("#WBSId").val())
                $("#detailKegiatan").removeClass("hidden")
                $("#detailKegiatanGrandTotal").removeClass("hidden")
            });
        }

        function GenerateDataTableCurrency(id) {
            dtTblDatacurrency = $tblDatacurrency.DataTable({
                "searching": false,
                "rowReorder": true,
                "processing": true,
                "serverSide": true,
                "destroy": true,
                "ajax": {
                    url: "/admin/api/wbses/getJustifikasiCurrency/" + id,
                    type: "post",

                },
                "columns": [
                             {
                                 "targets": 0,
                                 "data": "currencies",
                                 name: "Currencies",
                             },
                             {
                                 "visible": false,
                                 "targets": 1,
                                 "data": "wbsId",
                                 name: "WbsId",
                             },
                             {
                                 "targets": 2,
                                 "data": "total",
                                 name: "Total",
                                 render: function (data) {
                                     return $.number(data, 2, ',', '.');
                                 },
                             },


                ],
                "stateSave": false
            });
        }


        function GenerateDataTable(id) {
            dtTblData = $tblData.DataTable({
                "searching": false,
                "rowReorder": true,
                "processing": true,
                "serverSide": true,
                "destroy": true,
                "ajax": {
                    url: "/admin/api/wbses/getJustifikasiPerLocationCurrency/" + id,
                    type: "post",

                },
                "order": [[1, 'asc']],
                "columns": [
                             {
                                 "targets": 0,
                                 "data": "text",
                                 name: "Text",
                                 "orderable": false,
                             },
                             {
                                 "targets": 1,
                                 "data": "category",
                                 name: "Category",
                             },
                             {
                                 "targets": 2,
                                 "data": "currencyValue",
                                 name: "CurrencyValue",
                             },
                             {
                                 "targets": 3,
                                 "data": "total",
                                 name: "Total",
                                 "orderable": false,
                                 render: function (data) {
                                     return $.number(data, 2, ',', '.');
                                 },
                             },
                             {
                                 "visible": false,
                                 "targets": 4,
                                 "data": "header",
                                 name: "Header",
                             },

                ],
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(4, { page: 'current' }).data().each(function (group, i) {
                        var row = $('<tr/>', { class: 'group-parent' });
                        if (last !== group) {

                            row.append('<td colspan="6">' + group + '</td>');

                            $(rows).eq(i).before(
                                row
                            );
                            last = group;
                        }
                    });
                },
                "stateSave": false
            });
        }

        $(document).ready(function () {

            $(".number").number(true, 2, ',', '.');
            initializeKegiatan();
            $common.setMenu("#menu-request");

            var validationOptions = {
                rules: {
                    Penyusun: {
                        required: true
                    },
                    NomorDRK: {
                        required: true
                    },
                    NomorDRP: {
                        required: true
                    },
                    JenisKebutuhan: {
                        required: true
                    },
                    JenisPengeluaran: {
                        required: true
                    },
                    PusatPertanggungjawaban: {
                        required: true
                    },
                    KelasAsset: {
                        required: true
                    },
                    Description: {
                        required: true
                    },
                    WBSId: {
                        required: true
                    }
                }
            }

            if ($("#JenisPengeluaran").val() == 1) {
                $("#AKIContainers").removeClass("hidden");
                $("select#AKIId").attr("required", "required");
                initializeAKI();
            }

            $("#JenisPengeluaran").change(function () {
                if ($(this).val() == "1") {
                    $("#AKIContainers").removeClass("hidden");
                    $("select#AKIId").attr("required", "required");
                    initializeAKI();
                } else {
                    $("#AKIContainers").addClass("hidden");
                    $("select#AKIId").removeAttr("required", "");
                }
            });

            function initializeAKI() {
                $("#AKIId").select2({
                    placeholder: 'Select AKI',
                    ajax: {
                        url: '/admin/api/akis/getdataAKI',
                        dataType: 'json',
                        type: "POST",
                        quietMillis: 500,
                        data: function (term) {
                            return {
                                query: term.term,
                            };
                        },
                        processResults: function (data) {
                            return {
                                results: $.map(data, function (item) {
                                    return {
                                        text: item.text,
                                        id: item.id
                                    }
                                })
                            };
                        }
                    }
                });
            }

            FormValidation.init("#JustificationCreate", validationOptions);

            @if (Model.WBSId != null)
	        {
		      <text>
               GenerateDataTable("@Model.WBSId");
               GenerateDataTableCurrency("@Model.WBSId");
               $("#detailKegiatan").removeClass("hidden")
               $("#detailKegiatanGrandTotal").removeClass("hidden")
              </text>
	        }
        });

    </script>
}
