﻿@using App.Web.Helper
@model JustificationViewModel
@{
    ViewBag.Title = "Justification Page | Details";
    //var isCreatorNow = (bool)ViewBag.IsCreatorNow;
    //var isAssignee = (bool)ViewBag.CurrentUserIsAssignee;
    //string viewName = ViewBag.ViewName;
}
@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("justification.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.details")</span>
    </li>
}
<h1 class="page-title">@Html.Raw(Localization.GetLocalized("justification.text.justification"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.details")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <div class="form-horizontal">
            <div class="form-body">
                @Html.Partial("_ReviewJustification", Model)
            </div>
            <div class="form-actions">
                @Html.Partial("_RequesterAction", Model)
            </div>

            @if (User.IsPurchaseRequisition())
            {
                <div class="form-actions hidden" id="form-approve">
                    @Html.Partial("_ApprovalAction", Model)
                </div>
            }
   
        </div>
    </div>
</div>
@section styles{
    <link rel="stylesheet" href="~/assets/pages/css/justification.css" />
    <link href="~/assets/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
}
@section scripts{
    <script src="~/assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-editable/inputs-ext/wysihtml5/wysihtml5.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-justification");
        });
    </script>
}