﻿@using App.Web.Helper
@model JustificationViewModel

@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <environment names="Staging,Production">
        <link href="~/css/admin.min.css" rel="stylesheet" type="text/css" />
        <script src="~/js/admin.core.min.js"></script>
    </environment>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/assets/pages/css/justification.css" />

</head>
<body class="page-header-fixed page-sidebar-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
        <div class="page-container">
            <div class="portlet light portlet-fit portlet-form bordered">
                <div class="portlet-body">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="border border-dark padding-tb-20 justification-page">
                                <div class="justification-page-title">
                                    JUSTIFIKASI KEBUTUHAN<br />
                                    BARANG DAN/ATAU JASA<br />
                                    <small>(disusun dan ditetapkan oleh @Model.Penyusun)</small>
                                </div>
                                <table class="justification-page-detail-table">
                                    <tr>
                                        <td>Nomor DRK</td>
                                        <td>&nbsp;:&nbsp;</td>
                                        <td>@Model.NomorDRK</td>
                                    </tr>
                                    <tr>
                                        <td>Jumlah Anggaran</td>
                                        <td>&nbsp;:&nbsp;</td>
                                        <td>@Model.JumlahAnggaran.ToString("C", new System.Globalization.CultureInfo("id"))</td>
                                    </tr>
                                    <tr>
                                        <td>Nama Kegiatan</td>
                                        <td>&nbsp;:&nbsp;</td>
                                        <td>@Model.NamaKegiatan</td>
                                    </tr>
                                    @if (Model.AKIId != null)
                                    {
                                        <tr>
                                            <td>Nama AKI</td>
                                            <td>&nbsp;:&nbsp;</td>
                                            <td>@Model.AkiName</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td>Nomor DRP</td>
                                        <td>&nbsp;:&nbsp;</td>
                                        <td>@Model.NomorDRP</td>
                                    </tr>
                                    <tr>
                                        <td>Jenis Kebutuhan</td>
                                        <td>&nbsp;:&nbsp;</td>
                                        <td>@Model.JenisKebutuhan</td>
                                    </tr>
                                    <tr>
                                        <td>Pusat Pertanggungjawaban</td>
                                        <td>&nbsp;:&nbsp;</td>
                                        <td>@Model.PusatPertanggungjawaban</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Kelas Aset<br />
                                            <small>(sesuai kelas aset yang berlaku)</small>
                                        </td>
                                        <td>&nbsp;:&nbsp;</td>
                                        <td>@Model.KelasAsset</td>
                                    </tr>
                                </table>
                                <div class="justification-page-section">
                                    <div class="justification-page-section-header">
                                        I. LATAR BELAKANG
                                    </div>
                                    @Html.Raw(Model.LatarBelakang)
                                </div>
                                <div class="justification-page-section">
                                    <div class="justification-page-section-header">
                                        II. ASPEK STRATEGIS
                                    </div>
                                    @Html.Raw(Model.AspekStrategis)
                                </div>
                                <div class="justification-page-section">
                                    <div class="justification-page-section-header">
                                        III. ASPEK BISNIS
                                    </div>
                                    @Html.Raw(Model.AspekBisnis)
                                </div>
                                <div class="justification-page-section">
                                    <div class="justification-page-section-header">
                                        IV. SPESIFIKASI TEKNIK
                                    </div>
                                    @Html.Raw(Model.SpesifikasiTeknik)
                                </div>
                                <div class="justification-page-section">
                                    <div class="justification-page-section-header">
                                        V. JUMLAH KEBUTUHAN
                                    </div>
                                    @Html.Raw(Model.DasarKebutuhanBarangJasa)
                                </div>
                                @if (Model.ShowBoQ == true && Model.ListBoq.Any())
                                {
                                    <div id="detailBoq" style="margin-top:25px">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span class="caption-subject font-green sbold uppercase"><strong>BOQ</strong></span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="portlet-body">
                                            <br />
                                            <table id="table-justification-perlocationBoq" class="table table-striped" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>@Localization.GetLocalized("justification.management.text.create.grup")</th>
                                                        <th>@Localization.GetLocalized("justification.management.text.create.boqitem")</th>
                                                        <th>@Localization.GetLocalized("justification.management.text.create.currency")</th>
                                                        <th>@Localization.GetLocalized("justification.management.text.create.qty")</th>
                                                        <th>@Localization.GetLocalized("justification.management.text.hargajasa")</th>
                                                        <th>@Localization.GetLocalized("justification.management.text.hargamaterial")</th>
                                                        <th>@Localization.GetLocalized("justification.management.text.create.total")</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var item in Model.ListBoq)
                                                    {
                                                        <tr>

                                                            <td>@item.GrupHarga</td>
                                                            <td>@item.DesignatorDeskripsi</td>
                                                            <td>@item.Currencies</td>
                                                            <td>@item.Qty</td>
                                                            <td>@item.HargaJasa</td>
                                                            <td>@item.HargaMaterial</td>
                                                            <td>@item.Jumlah</td>
                                                        </tr>
                                                    }


                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>@Localization.GetLocalized("justification.management.text.create.grup")</th>
                                                        <th>@Localization.GetLocalized("justification.management.text.create.boqitem")</th>
                                                        <th>@Localization.GetLocalized("justification.management.text.create.currency")</th>
                                                        <th>@Localization.GetLocalized("justification.management.text.create.qty")</th>
                                                        <th>@Localization.GetLocalized("justification.management.text.hargajasa")</th>
                                                        <th>@Localization.GetLocalized("justification.management.text.hargamaterial")</th>
                                                        <th>@Localization.GetLocalized("justification.management.text.create.total")</th>

                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                }
                                <div class="justification-page-section">
                                    <div class="justification-page-section-header">
                                        VI. RENCANA PELAKSANAAN
                                    </div>
                                    @Html.Raw(Model.RencanaPelaksanaan)
                                </div>
                                <div class="justification-page-section">
                                    <div class="justification-page-section-header">
                                        VII. DISTRIBUSI PENGGUNAAN
                                    </div>
                                    @Html.Raw(Model.DistribusiPenggunaan)
                                </div>
                                <div id="detailKegiatanlokasi">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <span class="caption-subject font-green sbold uppercase">Lokasi</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="portlet-body">
                                        <br />
                                        <table id="table-justification-perlocation" class="table table-striped" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>@Localization.GetLocalized("justification.management.text.create.location")</th>
                                                    <th></th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model.ListLocation)
                                                {
                                                    <tr>

                                                        <td>@item.Text</td>
                                                    </tr>
                                                }
                                            </tbody>

                                            <tfoot>
                                                <tr>
                                                    <th>@Localization.GetLocalized("justification.management.text.create.location")</th>
                                                    <th></th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="justification-page-section">
                                    <div class="justification-page-section-header">
                                        VIII. POSISI PERSEDIAAN
                                    </div>
                                    @Html.Raw(Model.PosisiPersediaan)
                                </div>
                                <div class="justification-page-section">
                                    <div class="justification-page-section-header">
                                        IX. ANGGARAN
                                    </div>
                                    @Html.Raw(Model.Anggaran)
                                </div>
                                <div class="justification-page-section">
                                    <div class="justification-page-section-header">
                                        X. PENUTUP
                                    </div>
                                    @Html.Raw(Model.Penutup)
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

