﻿@{
    ViewData["Title"] = "Justification Page";
    bool isRead = ClaimHelper.IsRead(User, "claim.justification");
    bool isCreate = ClaimHelper.IsCreate(User, "claim.justification");
    bool isDelete = ClaimHelper.IsDelete(User, "claim.justification");
    bool isEdit = ClaimHelper.IsEdit(User, "claim.justification");
}

@section breadcrumb{
    <li>
        <span>@Localization.GetLocalized("justification.text")</span>
    </li>
}
<h1 class="page-title">@Html.Raw(Localization.GetLocalized("justification.text.justification"))</h1>
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.list")</span>
        </div>
        @if (isCreate)
        {
            <div class="pull-right">
                <a class="btn btn-success" href="@Url.Action("Create")"><i class="fa fa-plus-circle"></i> @Localization.GetLocalized("common.button.add.new")</a>
            </div>
            <div class="clearfix"></div>
        }

    </div>
    <div class="portlet-body">
        <table id="table-justification" class="table table-striped" cellspacing="0" width="100%">
            <colgorup>
                <col width="">
                <col width="">
                <col width="">
                <col width="">
                <col width="">
                <col width="260">
            </colgorup>
            <thead>
                <tr>
                    <th>@Localization.GetLocalized("justification.text.index.name")</th>
                    <th>@Localization.GetLocalized("justification.text.index.created.date")</th>
                    <th>@Localization.GetLocalized("justification.text.index.last.update")</th>
                    <th>@Localization.GetLocalized("justification.text.index.status")</th>
                    <th>@Localization.GetLocalized("justification.text.index.statussap")</th>
                    <th>@Localization.GetLocalized("common.text.action")</th>
                </tr>
            </thead>
           
        </table>
    </div>
</div>
@{
    Html.RenderPartial("_DatatablesAssets");
}
@section scripts{
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-request");
            var btnRead = "<button class='btn btn-success detail' title='" + $L.get("justification.button.index.detail.title") + "'><i class='fa fa-info'></i></button>";
            var btnEdit = "<button class='btn btn-primary edit' title='" + $L.get("justification.button.index.edit.title") + "'><i class='fa fa-edit'></i></button>";
            var btnDelete = "<button class='btn btn-danger remove' title='" + $L.get("justification.button.index.delete.title") + "'><i class='fa fa-trash'></i></button>";
            var content = "";

            if ("@isRead" == "True") {
                content = content + btnRead;
            }
            if ("@isEdit" == "True") {
                content = content + btnEdit;
            }
            if ("@isDelete" == "True") {
                content = content + btnDelete;
            }

            var dateFormat = "@Config.GetConfig("format.datetime.long.moment")";

            var datatableOption = {
                listUrl: "/admin/api/justifications/datatables",
                detailUrl: "@Url.Action("Details")/",
                editUrl: "@Url.Action("Edit")/",
                deleteUrl: "/admin/api/justifications/",
                deleteAlertSuccess: $L.get("justification.text.delete.success"),
                columnDefs: [
                         {
                             "targets": -1,
                             "data": null,
                             "defaultContent": content,
                             "orderable": false,
                         },
                         {
                             "targets": 0,
                             "data": "penyusun",
                             name: "Penyusun"
                         },
                         {
                             "targets": 1,
                             "data": "createdAt",
                             name: "CreatedAt",
                             render: function (data, type, dataObj) {
                                 if (data) {
                                     var date = moment(data);
                                     return date.format(dateFormat);
                                 }

                                 return "";
                             }
                         },
                         {
                             "targets": 2,
                             "data": "lastUpdateTime",
                             render: function (data, type, dataObj) {
                                 if (data) {
                                     var date = moment(data);
                                     return date.format(dateFormat);
                                 }

                                 return "";
                             }
                         },
                         {
                             "targets": 3,
                             "data": "justificationStatus",
                             "orderable": false,
                         },
                         {
                             "targets": 4,
                             "data": "customField1",
                             "orderable": false,
                             render: function (data, type, dataObj) {
                                 var html = "<i class='fa fa-times font-red-intense'></i>";

                                 if (data == "PR") {
                                     html = "<i class='fa fa-check font-green-jungle'></i>";
                                 }

                                 return html;
                             },
                         }
                ]
            }

            $datatables.init("#table-justification", datatableOption);
        });
    </script>
}