﻿﻿@model List<InvestmentCategorySelectorViewModel>

@if (Model.Any())
{
    var selected = ViewBag.Selected ?? "";
    <select class="bs-select form-control" name="@ViewBag.Name" id="@ViewBag.Name">
        <option value="" disabled selected>Select Category Investment</option>
        @foreach (var group in Model)
        {
            <optgroup label="@group.GroupName">
                @foreach (var value in group.Values)
                {
                    var val = value.Replace("|----", "").TrimStart(' ');
                    if (val == selected)
                    {
                        <option value="@val" selected="selected">@value</option>
                    }
                    else
                    {
                        <option value="@val">@value</option>
                    }
                }
            </optgroup>
        }
    </select>
}
else
{
    <span>Failed to convert investment.category format in web setting.</span>
}