﻿@model EventTemplateViewModel
@{
    ViewBag.Title = "Activity Template Management Page | Details";
 
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("ListEvent", new { id = Model.IdActTmp })">@Localization.GetLocalized("activity.template.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.details")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("activity.template.management.text.h1"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.details")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("ListEvent", new { id = Model.IdActTmp })"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label asp-for="NamaAct" class="control-label col-md-3">
                        @Localization.GetLocalized("activity.template.management.text.index.name")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.NamaAct
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ActParent" class="control-label col-md-3">
                    @Localization.GetLocalized("activity.template.management.text.index.parent.activity")
                </label>
                <div class="col-md-9">
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @ViewBag.ActivityParentName
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Bobot" class="control-label col-md-3">
                    @Localization.GetLocalized("activity.template.management.text.index.bobot")
                </label>
                <div class="col-md-9">
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Bobot
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Durasi" class="control-label col-md-3">
                    @Localization.GetLocalized("activity.template.management.text.index.duration")
                </label>
                <div class="col-md-9">
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Durasi
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Predecessor" class="control-label col-md-3">
                    @Localization.GetLocalized("activity.template.management.text.index.predecessor")
                </label>
                <div class="col-md-9">
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Predecessor
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Lagging" class="control-label col-md-3">
                    @Localization.GetLocalized("activity.template.management.text.index.lagging")
                </label>
                <div class="col-md-9">
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Lagging
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Relasi" class="control-label col-md-3">
                    @Localization.GetLocalized("activity.template.management.text.index.relasi")
                </label>
                <div class="col-md-9">
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Relasi
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Urutan" class="control-label col-md-3">
                    @Localization.GetLocalized("activity.template.management.text.index.urutan")
                </label>
                <div class="col-md-9">
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Urutan
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ISLEAF" class="control-label col-md-3">
                    @Localization.GetLocalized("activity.template.management.text.index.is.leaf")
                </label>
                <div class="col-md-9">
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @if (Model.ISLEAF)
	                        {
		                        <i class="fa fa-check"></i>       }
                            else
                            {
                                <i class="fa fa-times"></i>
                            }
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a href="@Url.Action("ListEvent", new { id = Model.IdActTmp })" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>

                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp; @Localization.GetLocalized("common.button.edit")</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-paramter");
        });
    </script>
}
