﻿@model EventTemplateForm
@{
    ViewBag.Title = "Activity Template Management Page | Edit";
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("ListEvent", new { id = Model.IdActTmp })">@Localization.GetLocalized("activity.template.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.edit")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("activity.template.management.text.h1"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.edit")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("ListEvent", new { id = Model.IdActTmp })"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" asp-action="Edit" method="post" id="ActivityTemplateCreate" class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
                </div>
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })
                <input type="hidden" asp-for="IdActTmp"/>
                <div class="form-group">
                    <label asp-for="ActId" class="control-label col-md-3">
                        @Localization.GetLocalized("activity.template.management.text.index.name.activity")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="NamaAct" required>
                        <span asp-validation-for="NamaAct" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ActParent" class="control-label col-md-3">
                        @Localization.GetLocalized("activity.template.management.text.index.parent.activity")
                    </label>
                    <div class="col-md-4">
                        <select asp-for="ActParent" class="form-control parent">
                            <option value="@Model.ActParent">@ViewBag.ActivityParentName</option>
                        </select>
                        <span asp-validation-for="ActParent" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Bobot" class="control-label col-md-3">
                        @Localization.GetLocalized("activity.template.management.text.index.bobot")
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" asp-for="Bobot">
                        <span asp-validation-for="Bobot" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Durasi" class="control-label col-md-3">
                        @Localization.GetLocalized("activity.template.management.text.index.duration")
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" asp-for="Durasi">
                        <span asp-validation-for="Durasi" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Predecessor" class="control-label col-md-3">
                        @Localization.GetLocalized("activity.template.management.text.index.predecessor")
                    </label>
                    <div class="col-md-4">
                        <input type="number" class="form-control" asp-for="Predecessor">
                        <span asp-validation-for="Predecessor" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lagging" class="control-label col-md-3">
                        @Localization.GetLocalized("activity.template.management.text.index.lagging")
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" asp-for="Lagging">
                        <span asp-validation-for="Lagging" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Relasi" class="control-label col-md-3">
                        @Localization.GetLocalized("activity.template.management.text.index.relasi")
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" asp-for="Relasi">
                        <span asp-validation-for="Relasi" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Urutan" class="control-label col-md-3">
                        @Localization.GetLocalized("activity.template.management.text.index.urutan")
                    </label>
                    <div class="col-md-4">
                        <input class="form-control" asp-for="Urutan">
                        <span asp-validation-for="Urutan" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ISLEAF" class="control-label col-md-3">
                        @Localization.GetLocalized("activity.template.management.text.index.is.leaf")
                    </label>
                    <div class="col-md-4">
                        <div class="mt-checkbox-inline">
                            <label class="mt-checkbox">
                                <input type="checkbox" asp-for="ISLEAF"><span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group last">
                    <div class="col-md-3 col-md-offset-3">
                        <label class="text-danger">* @Localization.GetLocalized("common.text.field.required")</label>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a href="@Url.Action("ListEvent", new { id = Model.IdActTmp })" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; @Localization.GetLocalized("common.button.save")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section styles{
    <link rel="stylesheet" href="~/assets/global/plugins/typeahead/typeahead.css" />
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/assets/global/plugins/typeahead/typeahead.bundle.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>
    <script>

        var getterActivity = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/admin/api/eventtemplates/activity?query=%QUERY',
                wildcard: '%QUERY'
            }
        });


        var getterParentActivity = function () {
            $.ajax({
                url: '/admin/api/eventtemplates/parent',
                dataType: 'json',
                success: function (data) {
                    $('select.parent').each(function (i, item) {
                        $(item).select2({
                            data: data,
                            placeholder: "Select parent activity",
                            minimumResultsForSearch: -1,
                            width: '100%'
                        });
                    });
                }
            });
        }

        var initActivity = function () {
            $("#NamaAct").typeahead('destroy');
            $("#NamaAct").typeahead({ hint: false }, {
                name: 'NamaAct',
                source: getterActivity,
                limit: 20
            });
        }

        $(document).ready(function () {
            $common.setMenu("#menu-paramter");

            getterActivity.initialize();

            initActivity();

            getterParentActivity();

            var validationOptions = {
                rules: {
                    Name: {
                        required: true,
                    }
                }
            }

            FormValidation.init("#ActivityTemplateCreate", validationOptions);
        });
    </script>
}
