﻿@{
    ViewData["Title"] = "Activity Template Management Page";
}
@section breadcrumb{
    <li>
        <span>@Localization.GetLocalized("activity.template.management.text")</span>
    </li>
}
<h1 class="page-title">@Html.Raw(Localization.GetLocalized("activity.template.management.text.h1"))</h1>
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.list")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-success" href="@Url.Action("Create", new { ActivityId = ViewBag.IdActivity })"><i class="fa fa-plus-circle"></i> @Localization.GetLocalized("common.button.add.new")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <table id="table-activity-template" class="table table-striped" cellspacing="0" width="100%">
            <colgorup>
                <col width="">
                <col width="">
                <col width="">
                <col width="">
                <col width="">
                <col width="200">
            </colgorup>
            <thead>
                <tr>
                    <th>@Localization.GetLocalized("activity.template.management.text.index.name")</th>
                    <th>@Localization.GetLocalized("activity.template.management.text.index.bobot")</th>
                    <th>@Localization.GetLocalized("activity.template.management.text.index.durations")</th>
                    <th>@Localization.GetLocalized("activity.template.management.text.index.predecessor")</th>
                    <th>@Localization.GetLocalized("activity.template.management.text.index.urutan")</th>
                    <th>@Localization.GetLocalized("common.text.action")</th>
                </tr>
            </thead>
            
        </table>
    </div>
</div>
@{
    Html.RenderPartial("_DatatablesAssets");
}
@section scripts{
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-paramter");

            var datatableOption = {
                ajaxMethod: "POST",
                listUrl: "/admin/api/eventtemplates/PostDatatables/" + "@ViewBag.IdActivity",
                detailUrl: "@Url.Action("Details")/",
                editUrl: "@Url.Action("Edit")/",
                deleteUrl: "/admin/api/eventtemplates/",
                deleteAlertSuccess: $L.get("activity.template.management.text.delete.success"),
                columnDefs: [
                         {
                             "targets": -1,
                             "data": null,
                             "defaultContent": "<button class='btn btn-success detail' title='" + $L.get("activity.template.management.button.index.detail.title") + "'><i class='fa fa-info'></i></button>" +
                                 "<button class='btn btn-primary edit' title='" + $L.get("activity.template.management.button.index.edit.title") + "'><i class='fa fa-edit'></i></button>" +
                                 "<button class='btn btn-danger remove' title='" + $L.get("activity.template.management.button.index.delete.title") + "'><i class='fa fa-trash'></i></button>",
                             "orderable": false
                         },
                         {
                             "targets": 0,
                             "data": "namaAct",
                             name: "NamaAct"
                         },
                         {
                             "targets": 1,
                             "data": "bobot",
                             name: "Bobot"
                         },
                         {
                             "targets": 2,
                             "data": "durasi",
                             name: "Durasi"
                         },
                         {
                             "targets": 3,
                             "data": "predecessor",
                             name: "Predecessor"
                         },
                         {
                             "targets": 4,
                             "data": "urutan",
                             name: "Urutan"
                         },
                ]
            }

            $datatables.init("#table-activity-template", datatableOption);
        });
    </script>
}