﻿@model PageForm
@{
    ViewBag.Title = "Page Management | Create";
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("cms.page")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.create")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("cms.page.title"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.create")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" asp-action="Create" method="post" id="PageCreate" class="form-horizontal">
            <div class="form-body tabbable-line">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
                </div>
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#page-content" data-toggle="tab">@Localization.GetLocalized("cms.page.content")</a>
                    </li>
                    <li>
                        <a href="#page-seo" data-toggle="tab">@Localization.GetLocalized("cms.page.seo.management")</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="page-content" class="tab-pane active">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label col-md-3">
                                @Localization.GetLocalized("cms.page.page.name")
                                <span class="text-danger"> * </span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" asp-for="Name" required>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="SeoTitle" class="control-label col-md-3">
                                @Localization.GetLocalized("cms.page.url")
                                <span class="text-danger"> * </span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" asp-for="SeoTitle" required>
                                <span asp-validation-for="SeoTitle" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Body" class="control-label col-md-3">
                                @Localization.GetLocalized("cms.page.body")
                                <span class="text-danger"> * </span>
                            </label>
                            <div class="col-md-9">
                                @Html.EditorFor(m => m.Body, "TextEditor")
                                <span asp-validation-for="SeoTitle" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div id="page-seo" class="tab-pane">
                        <div class="form-group">
                            <label asp-for="MetaTitle" class="control-label col-md-3">
                                @Localization.GetLocalized("cms.page.meta.title")
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" asp-for="MetaTitle">
                                <span asp-validation-for="MetaTitle" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="MetaKeywords" class="control-label col-md-3">
                                @Localization.GetLocalized("cms.page.meta.keywords")
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" asp-for="MetaKeywords">
                                <span asp-validation-for="MetaKeywords" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="MetaDescription" class="control-label col-md-3">
                                @Localization.GetLocalized("cms.page.meta.description")
                            </label>
                            <div class="col-md-4">
                                <textarea class="form-control" asp-for="MetaDescription" rows="5"></textarea>
                                <span asp-validation-for="MetaDescription" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group last">
                    <div class="col-md-3 col-md-offset-3">
                        <label class="text-danger">* @Localization.GetLocalized("common.text.field.required")</label>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; @Localization.GetLocalized("common.button.save")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-content-management", "#menu-page");

            var formOption = {
                rules: {
                    Body: {
                        required: true
                    }
                }
            }

            FormValidation.init("#PageCreate", formOption);
        });
    </script>
}
