﻿@model PageViewModel
@{
    ViewBag.Title = "Page Management | Details";
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("cms.page")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.details")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("cms.page.title"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.details")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" class="form-horizontal">
            <div class="form-body tabbable-line">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#page-content" data-toggle="tab">@Localization.GetLocalized("cms.page.content")</a>
                    </li>
                    <li>
                        <a href="#page-seo" data-toggle="tab">@Localization.GetLocalized("cms.page.seo.management")</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="page-content" class="tab-pane active">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label col-md-3">
                                @Localization.GetLocalized("cms.page.page.name")
                            </label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                    @Model.Name
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="SeoTitle" class="control-label col-md-3">
                                @Localization.GetLocalized("cms.page.url")
                            </label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                    @Model.SeoTitle
                                </p>
                            </div>
                        </div>
                        <div class="form-group last">
                            <label asp-for="Body" class="control-label col-md-3">
                                @Localization.GetLocalized("cms.page.body")
                            </label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                    @Html.Raw(Model.Body)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="page-seo" class="tab-pane">
                        <div class="form-group">
                            <label asp-for="MetaTitle" class="control-label col-md-3">
                                @Localization.GetLocalized("cms.page.meta.title")
                            </label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                    @Model.MetaTitle
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="MetaKeywords" class="control-label col-md-3">
                                @Localization.GetLocalized("cms.page.meta.keywords")
                            </label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                    @Model.MetaKeywords
                                </p>
                            </div>
                        </div>
                        <div class="form-group last">
                            <label asp-for="MetaDescription" class="control-label col-md-3">
                                @Localization.GetLocalized("cms.page.meta.description")
                            </label>
                            <div class="col-md-9">
                                <p class="form-control-static">
                                    @Model.MetaDescription
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp; @Localization.GetLocalized("common.button.edit")</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-content-management", "#menu-page");
        });
    </script>
}