﻿@{
    ViewData["Title"] = "Page Management";
}

@section breadcrumb{
    <li>
        <span>@Localization.GetLocalized("cms.page")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("cms.page.title"))</h1>
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.list")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-success" href="@Url.Action("Create")"><i class="fa fa-plus-circle"></i> @Localization.GetLocalized("common.button.add.new")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <table id="table-page" class="table table-striped" cellspacing="0" width="100%">
            <colgorup>
                <col width="">
                <col width="">
                <col width="100">
                <col width="150">
            </colgorup>
            <thead>
                <tr>
                    <th>@Localization.GetLocalized("cms.page.page.name")</th>
                    <th>@Localization.GetLocalized("cms.page.url")</th>
                    <th>@Localization.GetLocalized("cms.page.is.published")</th>
                    <th>@Localization.GetLocalized("common.text.action")</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>@Localization.GetLocalized("cms.page.page.name")</th>
                    <th>@Localization.GetLocalized("cms.page.url")</th>
                    <th>@Localization.GetLocalized("cms.page.is.published")</th>
                    <th>@Localization.GetLocalized("common.text.action")</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@{
    Html.RenderPartial("_DatatablesAssets");
}

@section scripts{
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-content-management", "#menu-page");

            var datatableOption = {
                listUrl: "/admin/api/pages/datatables",
                detailUrl: "@Url.Action("Details")/",
                editUrl: "@Url.Action("Edit")/",
                deleteUrl: "/admin/api/pages/",
                deleteAlertSuccess: $L.get("cms.page.text.delete.success"),
                columnDefs: [
                         {
                             "targets": -1,
                             "data": null,
                             "defaultContent": "<button class='btn btn-success detail' title='" + $L.get("cms.page.button.detail.title") + "'><i class='fa fa-info'></i></button>" +
                                 "<button class='btn btn-primary edit' title='" + $L.get("cms.page.button.edit.title") + "'><i class='fa fa-edit'></i></button>" +
                                 "<button class='btn btn-danger remove' title='" + $L.get("cms.page.button.delete.title") + "'><i class='fa fa-trash'></i></button>",
                             "orderable": false
                         },
                         {
                             "targets": 0,
                             "data": "name",
                             name: "Name"
                         },
                         {
                             "targets": 1,
                             "data": "seoTitle",
                             name: "SeoTitle"
                         },
                         {
                             "targets": 2,
                             "data": "isPublished",
                             name: "IsPublished",
                             render: function (data, type, dataObj) {
                                 if(data)
                                     return "<i class='fa fa-check font-green-jungle'></i>"

                                 return "<i class='fa fa-times font-red-intense'></i>";
                             },
                         }
                ]
            }

            $datatables.init("#table-page", datatableOption);
        });
    </script>
}