﻿@model ActivityTemplateViewModel
@{
    ViewBag.Title = "Activity Template Management Page | Details";
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("activity.template.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.details")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("activity.template.management.text.h1"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.details")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label asp-for="Name" class="control-label col-md-3">
                        @Localization.GetLocalized("activity.template.management.text.index.name")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Name
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label col-md-3">
                        @Localization.GetLocalized("activity.template.management.text.index.duration")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Durasi
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Directorat" class="control-label col-md-3">
                        @Localization.GetLocalized("activity.template.text.create.direktorat")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Directorat
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="UnitBisnis" class="control-label col-md-3">
                       @Localization.GetLocalized("activity.template.text.create.unit.bisnis")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.UnitBisnis
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="UnitKerja" class="control-label col-md-3">
                       @Localization.GetLocalized("activity.template.text.create.unit.kerja")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.UnitKerja
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Bagian" class="control-label col-md-3">
                        @Localization.GetLocalized("activity.template.text.create.bagian")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Bagian
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp; @Localization.GetLocalized("common.button.edit")</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-paramter");
        });
    </script>
}
