﻿@model ActivityTemplateForm
@{
    ViewBag.Title = "Activity Template Management Page | Edit";
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("activity.template.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.edit")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("activity.template.management.text.h1"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.edit")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" asp-action="Edit" method="post" id="ActivityTemplateEdit" class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
                </div>
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })
                <div class="form-group">
                    <label asp-for="Name" class="control-label col-md-3">
                        @Localization.GetLocalized("activity.template.management.text.index.name")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="Name" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Durasi" class="control-label col-md-3">
                        @Localization.GetLocalized("activity.template.management.text.index.duration")
                    </label>
                    <div class="col-md-4">
                        <input type="number" class="form-control" asp-for="Durasi">
                        <span asp-validation-for="Durasi" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Directorat" class="control-label col-md-3">
                        @Localization.GetLocalized("activity.template.text.create.direktorat")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Directorat, new { url = "/admin/api/units/getselectitem/?level=2", item = Model.Directorat, name = ViewBag.DirectoratName, required = "required" })
                    </div>
                    <span asp-validation-for="Directorat" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UnitBisnis" class="control-label col-md-3">
                        @Localization.GetLocalized("activity.template.text.create.unit.bisnis")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.UnitBisnis, new { url = "/admin/api/units/getselectitem/?level=3", parents = 2, item = Model.UnitBisnis, name = ViewBag.UnitBisnisName, required = "required" })
                    </div>
                    <span asp-validation-for="UnitBisnis" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UnitKerja" class="control-label col-md-3">
                        @Localization.GetLocalized("activity.template.text.create.unit.kerja")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.UnitKerja, new { url = "/admin/api/units/getselectitem/?level=4", parents = 3, item = Model.UnitKerja, name = ViewBag.UnitKerjaName, required = "required" })
                    </div>
                    <span asp-validation-for="UnitKerja" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bagian" class="control-label col-md-3">
                        @Localization.GetLocalized("activity.template.text.create.bagian")
                    </label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Bagian, new { url = "/admin/api/units/getselectitem/?level=5", parents = 4, item = Model.Bagian, name = ViewBag.BagianName })
                    </div>
                    <span asp-validation-for="Bagian" class="text-danger"></span>
                </div>
                <div class="form-group last">
                    <div class="col-md-3 col-md-offset-3">
                        <label class="text-danger">* @Localization.GetLocalized("common.text.field.required")</label>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; @Localization.GetLocalized("common.button.save")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section styles{
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-paramter");

            var validationOptions = {
                rules: {
                    Name: {
                        required: true,
                    }
                }
            }

            FormValidation.init("#ActivityTemplateEdit", validationOptions);
        });
    </script>
}
