﻿@{
    ViewData["Title"] = "Home Page";
}

@section breadcrumb{
    <li>
        <span>@Localization.GetLocalized("backadmin.home.text.dashboard")</span>
    </li>
}

<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">
    @Localization.GetLocalized("backadmin.home.text.dashboard")
    <small>@Localization.GetLocalized("backadmin.home.text.dashboard.detail")</small>
</h1>
<!-- END PAGE TITLE-->


@section scripts{
    <script>
        $common.setMenu("#menu-home");
        $.ajax({
            url: "http://localhost:8080/jw/web/json/directory/admin/user/group/list?j_username=admin&j_password=admin",
            method: "POST",
            success: function (resp) {
                console.log(resp);
            },
            error: function (resp) {
                console.log(resp);
            }
        });
    </script>
}