﻿@model WBSTreeForm

@{
    Layout = null;
}


<form id="WBSTreeCreate" role="form" asp-action="Create" method="post" asp-controller="WBSTree">
    <div class="role-body">
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
        </div>
        <div class="alert alert-success display-hide">
            <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger" id="validation-summary"></div>
        <div class="form-group">
            <label asp-for="Lokasi" class="control-label">
                @Localization.GetLocalized("resource.text.create.wbs.areastoname")
                <span class="text-danger"> * </span>
            </label>
            <div>
                @Html.EditorFor(model => model.NamaLokasi, new { url = "/admin/api/stos/autocomplete", displayKey = "areaKode" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HasKHS" class="control-label">
                @Localization.GetLocalized("resource.text.create.wbs.has.khs")
                <span class="text-danger"> * </span>
            </label>
            <div>
                <div class="mt-checkbox-list" data-error-container="#roles_error">
                    <label class="mt-checkbox">
                        <input asp-for="HasKHS" />
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group hidden" id="Harga">
            <label asp-for="GrupHarga" class="control-label">
                @Localization.GetLocalized("resource.text.create.wbs.grupharga")
                <span class="text-danger"> * </span>
            </label>
            <div>
                <select asp-for="GrupHarga" class="form-control">
                    <option value="@Model.GrupHarga" selected>@Model.GrupHarga</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label">
                @Localization.GetLocalized("resource.text.create.wbs.name")
                <span class="text-danger"> * </span>
            </label>
            <div>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger" />
                <input asp-for="ParentId" class="form-control" type="hidden" />
                <input asp-for="IdWBS" class="form-control" type="hidden" />
                <input asp-for="Type" class="form-control" type="hidden" />
                <input asp-for="Lokasi" class="form-control" type="hidden" />
            </div>
        </div>
        <hr />
        <div class="form-actions pull-right">
            <input type="submit" value="@Localization.GetLocalized("common.button.save")" class="btn blue" />
            <button type="button" class="btn default bootbox-close-button">@Localization.GetLocalized("common.button.cancel")</button>
        </div>
        <div class="clearfix"></div>
    </div>
</form>

<script>
    $(document).ready(function () {

        $("#HasKHS").change(function () {
            if (this.checked) {
                $("#Harga").removeClass("hidden");
            } else {
                $("#Harga").addClass("hidden");
            }
           
        });

        $("#GrupHarga").select2({
            width: "100%",
            ajax: {
                url: '/admin/api/designators/grup',
                dataType: 'json',
                type: "GET",
                quietMillis: 500,
                data: function (term) {
                    return {
                        query: term.term
                    };
                },
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {
                                text: item,
                                id: item
                            }
                        })
                    };
                }
            }
        });
    });
</script>