﻿
@model WBSTreeForm

@{
    Layout = null;
}


<form id="WBSTreeCreate" role="form" asp-action="Create" method="post" asp-controller="WBSTree">
    <div class="role-body">
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
        </div>
        <div class="alert alert-success display-hide">
            <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger" id="validation-summary"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label">
                @Localization.GetLocalized("wbstree.text.create.name")
                <span class="text-danger"> * </span>
            </label>
            <div>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger" />
                <input asp-for="ParentId" class="form-control" type="hidden" />
                <input asp-for="IdWBS" class="form-control" type="hidden" />
                <input asp-for="Type" class="form-control" type="hidden" />
            </div>
        </div>
        <hr />
        <div class="form-actions pull-right">
            <input type="submit" value="@Localization.GetLocalized("common.button.save")" class="btn blue" />
            <button type="button" class="btn default bootbox-close-button">@Localization.GetLocalized("common.button.cancel")</button>
        </div>
        <div class="clearfix"></div>
    </div>
</form>