﻿@{
    ViewData["Title"] = "AppAction Management Page";
}
@section breadcrumb{
    <li>
        <span>@Localization.GetLocalized("appaction.management.text")</span>
    </li>
}
<h1 class="page-title">@Html.Raw(Localization.GetLocalized("appaction.management.text.appaction.management"))</h1>
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.list")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-success" href="@Url.Action("Create")"><i class="fa fa-plus-circle"></i> @Localization.GetLocalized("common.button.add.new")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <table id="table-appaction" class="table table-striped" cellspacing="0" width="100%">
            <colgorup>
                <col width="">
                <col width="260">
            </colgorup>
            <thead>
                <tr>
                    <th>@Localization.GetLocalized("appaction.management.text.index.name")</th>
                    <th>@Localization.GetLocalized("common.text.action")</th>
                </tr>
            </thead>
           
        </table>
    </div>
</div>
@{
    Html.RenderPartial("_DatatablesAssets");
}
@section scripts{
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-parents");
            var datatableOption = {
                listUrl: "/admin/api/appactions/datatables",
                detailUrl: "@Url.Action("Details")/",
                editUrl: "@Url.Action("Edit")/",
                deleteUrl: "/admin/api/appactions/",
                deleteAlertSuccess: $L.get("appaction.management.text.delete.success"),
                columnDefs: [
                         {
                             "targets": -1,
                             "data": null,
                             "defaultContent": "<button class='btn btn-success detail' title='" + $L.get("appaction.management.button.index.detail.title") + "'><i class='fa fa-info'></i></button>" +
                                 "<button class='btn btn-primary edit' title='" + $L.get("appaction.management.button.index.edit.title") + "'><i class='fa fa-edit'></i></button>" +
                                 "<button class='btn btn-danger remove' title='" + $L.get("appaction.management.button.index.delete.title") + "'><i class='fa fa-trash'></i></button>",
                             "orderable": false
                         },
                         {
                             "targets": 0,
                             "data": "name",
                             name: "Name"
                         }
                ]
            }

            $datatables.init("#table-appaction", datatableOption);
        });
    </script>
}