﻿@using App.Web.Models.ViewModels
@model GroupWfForm
@{
    ViewBag.Title = "Unit Workflow Management Page | Create";
    //  Model.ListGrupName = ViewBag.Gruplist;
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("groupwf.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.create")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("groupwf.management.text.groupwf.management"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.create")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" asp-action="Create" method="post" id="GrupCreate" class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
                </div>
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })

                <div class="form-group">
                    <label asp-for="Nik" class="control-label col-md-3">
                        @Localization.GetLocalized("groupwf.group.name")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <select class="form-control" id="select-listUser" asp-for="Nik" required>
                            <option value=""></option>
                        </select>
                        <span asp-validation-for="Nik" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="GrupName" class="control-label col-md-3">
                        @Localization.GetLocalized("groupwf.group.grup")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <select class="bs-select form-control" asp-for="GrupName" asp-items="@ViewBag.Gruplist" required><option selected disabled> Select Level</option></select>
                        <span asp-validation-for="GrupName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Localization.GetLocalized("groupwf.group.parent")
                    </label>
                    <div class="col-md-2">
                        <label class="mt-checkbox-inline">

                            <input type="checkbox" class="form-md-checkboxes" asp-for="isApprover">
                        </label>

                    </div>
                </div>
                <div class="form-group last">
                    <div class="col-md-3 col-md-offset-3">
                        <label class="text-danger">* @Localization.GetLocalized("common.text.field.required")</label>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; @Localization.GetLocalized("common.button.save")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section styles{
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/js/eonasdan/css/bootstrap-datetimepicker.min.css">
}


@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>
    <script src="~/assets/global/plugins/jquery-repeater/jquery.repeater.js"></script>
    <script src="~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js"></script>
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-parents");
            var validationOptions = {
                rules: {
                    GrupName: {
                        required: true
                    },
                    Nik: {
                        required: true
                    }
                }
            }

            FormValidation.init("#GrupCreate", validationOptions);

            $("#select-listUser").select2({
                allowClear: true,
                placeholder: "Select User",
                ajax: {
                    url: "/admin/api/users/useraprovalTelkom",
                    dataType: 'json',
                    type: "GET",
                    data: function (params) {
                        return {
                            term: params.term, // search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    }
                }
            });
        });
    </script>
}
