﻿@{
    ViewData["Title"] = "Grup Workflow Management Page";
    bool isRead = ClaimHelper.IsRead(User, "claim.aki-management");
    bool isCreate = ClaimHelper.IsCreate(User, "claim.aki-management");
    bool isDelete = ClaimHelper.IsDelete(User, "claim.aki-management");
    bool isEdit = ClaimHelper.IsEdit(User, "claim.aki-management");
}
@section breadcrumb{
    <li>
        <span>@Localization.GetLocalized("groupwf.management.text")</span>
    </li>
}
<h1 class="page-title">@Html.Raw(Localization.GetLocalized("groupwf.management.text"))</h1>
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.list")</span>
        </div>
        @if (isCreate)
        {
            <div class="pull-right">
                <a class="btn btn-success" href="@Url.Action("Create")"><i class="fa fa-plus-circle"></i> @Localization.GetLocalized("common.button.add.new")</a>
            </div>
            <div class="clearfix"></div>
        }
    </div>
    <div class="portlet-body">
        <table id="table-groupwf" class="table table-striped" cellspacing="0" width="100%">
            <colgorup>
                <col width="">
                <col width="">
                <col width="">
                <col width="260">
            </colgorup>
            <thead>
                <tr>
                    <th>@Localization.GetLocalized("groupwf.management.text.index.user")</th>
                    <th>@Localization.GetLocalized("groupwf.management.text.index.grup")</th>
                    <th>@Localization.GetLocalized("groupwf.management.text.index.isapprover")</th>
                    <th>@Localization.GetLocalized("common.text.action")</th>
                </tr>
            </thead>

        </table>
    </div>
</div>
@{
    Html.RenderPartial("_DatatablesAssets");
}
<script src="~/js/autoNumeric.js" type="text/javascript"></script>
<script src="~/assets/global/plugins/jquery.number.min.js"></script>
@section scripts{
    <script>
        $(document).ready(function () {
            var btnRead = "<button class='btn btn-success detail' title='" + $L.get("aki.button.index.detail.title") + "'><i class='fa fa-info'></i></button>";
            var btnPDF = "<button class='btn btn white-meadow viewpdf' title='" + $L.get("aki.button.index.pdf.title") + "'><i class='fa fa-file-pdf-o'></i></button>";
            var btnExcel = "<button class='btn btn green-meadow viewexcel' title='" + $L.get("aki.button.index.excel.title") + "'><i class='fa fa-file-excel-o'></i></button>";
            var btnEdit = "<button class='btn btn-primary edit' title='" + $L.get("aki.button.index.edit.title") + "'><i class='fa fa-edit'></i></button>";
            var btnDelete = "<button class='btn btn-danger remove' title='" + $L.get("aki.button.index.delete.title") + "'><i class='fa fa-trash'></i></button>";

            $("span.numeric").autoNumeric('init', { aSep: '.', aDec: ',', mDec: 0, vMin: '-9999999999999999.99' })
            var datatableOption = {
                listUrl: "/admin/api/groupWf/datatables",
                deleteUrl: "/admin/api/groupWf/",
                deleteAlertSuccess: $L.get("aki.management.text.delete.success"),
                columnDefs: [
                    {
                        "targets": -1,
                        "data": null,
                        "defaultContent": "",
                        "orderable": false,
                        "render": function (data, type, full, row) {
                            content = "";
                            content = content + btnRead; //+ btnExcel + btnPDF;
                                if ("@isDelete" == "True") {
                                    content = content + btnDelete;
                                }
                          

                            return content
                        }
                    },
                         {
                             "targets": -1,
                             "data": null,
                             "defaultContent": "",
                             "orderable": false,

                         },
                          {
                              "targets": 0,
                              "data": "nik",
                              name: "nik"
                          },
                         {
                             "targets": 1,
                             "data": "grupName",
                             name: "grupName"
                         },
                         {
                             "targets": 2,
                             "data": "isApprover",
                             render: function (data, type, dataObj) {
                                 var html = "<i class='fa fa-times font-red-intense'></i>";

                                 if (data == "true") {
                                     html = "<i class='fa fa-check font-green-jungle'></i>";
                                 }

                                 return html;
                             }

                         }
                ]
            }

            $datatables.init("#table-groupwf", datatableOption);
        });
    </script>
}