﻿@{
    ViewData["Title"] = "Email Page";
}

@section breadcrumb{
    <li>
        <span>@Localization.GetLocalized("email.archieve.text")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("email.archieve.text.email.archieve"))</h1>
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.list")</span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <table id="table-email" class="table table-striped" cellspacing="0" width="100%">
            <colgorup>
                <col width="">
                <col width="">
                <col width="">
                <col width="">
                <col width="">
                <col width="200">
            </colgorup>
            <thead>
                <tr>
                    <th>@Localization.GetLocalized("email.archieve.text.index.from")</th>
                    <th>@Localization.GetLocalized("email.archieve.text.index.tos")</th>
                    <th>@Localization.GetLocalized("email.archieve.text.index.subject")</th>
                    <th>@Localization.GetLocalized("email.archieve.text.index.is.sent")</th>
                    <th>@Localization.GetLocalized("email.archieve.text.index.sent.date")</th>
                    <th>@Localization.GetLocalized("common.text.action")</th>
                </tr>
            </thead>

          
        </table>
    </div>
</div>

@{
    Html.RenderPartial("_DatatablesAssets");
}

@section scripts{
    <script src="~/assets/pages/scripts/email-archieve/app.js"></script>
    <script>
        $(document).ready(function () {
            EmailArchieves.init("@Url.Action("Details")", "@Config.GetConfig("format.datetime.long.moment")");
            $common.setMenu("#menu-websetting", "#menu-email");
        });
    </script>
}