﻿@using App.Web.Models.ViewModels.App
@model UserMediaForm

@{
    Layout = null;
}

<form id="UserMediaCreate" role="form" action="/admin/api/usermedias/createmedia" method="post">
    <div class="role-body">
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
        </div>
        <div class="alert alert-success display-hide">
            <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger" id="validation-summary"></div>
        <div class="form-group">
            <label asp-for="MediaDirectory" class="control-label">
                @Localization.GetLocalized("image.text.create.name")
                <span class="text-danger"> * </span>
            </label>
            <div>
                @Html.EditorFor(model => model.MediaDirectory, new { @preview = true, @class = "form-control", @accept = "image/*", @extension = ".jpg,.jpeg,.png,.gif", @Ratio = 120.0 / 120.0, required = "required" })
                <span asp-validation-for="MediaDirectory" class="text-danger" />
            </div>
        </div>
        <hr />
        <div class="form-actions pull-right">
            <input type="submit" value="@Localization.GetLocalized("common.button.save")" class="btn btn-primary" />
            <button type="button" class="btn default bootbox-close-button">@Localization.GetLocalized("common.button.cancel")</button>
        </div>
        <div class="clearfix"></div>
    </div>
</form>