﻿@model List<UserMediaViewModel>
@using App.Helper
@{
    Layout = "_LayoutMedia";
    ViewData["Title"] = "File Browser";
    var itemCount = 0;

}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Thumbnail Gallery</h1>
    </div>
    <div class="col-md-12">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail btn-embedd" href="/@item.MediaDirectory.ConvertToAttachment().CropedPath">
                        <img class="img-responsive" src="/@item.MediaDirectory.ConvertToAttachment().CropedPath" alt="@item.MediaDirectory.ConvertToAttachment().Name">
                    </a>
                    <a href="#" data-id="@item.Id" class="btn btn-danger btn-block btn-remove"><i class="fa fa-trash"></i> Hapus Gambar</a>
                </div>

            }
            itemCount++;
        }

    </div>
</div>

<div class="form-actions">
    <div class="row">
        <div class="col-md-12">
            <div class="custom" style="float:right !important;">
                <a href="#" class="btn btn-primary btn-add"><i class="fa fa-save"></i>&nbsp; @Localization.GetLocalized("common.button.upload")</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>
    <script>

        var ajaxCall = function (form, text, elementId) {
            var $this = $(form);

            var validationContainer = $this.find('#validation-summary');
            var data = {};

            $.each($this.serializeArray(), function (index, item) {
                data[item.name] = item.value;
            });

            $.ajax({
                url: $this.attr("action"),
                method: $this.attr("method"),
                data: data,
                success: function (resp) {
                    validationContainer.hide();
                    $this.closest(".bootbox.modal").find(".bootbox-close-button").trigger("click");
                    $alert.success($L.getFormated("category.text.form.success", [data.Name, text]));
                    window.location.reload();
                },
                error: function (resp) {
                    validationContainer.html("");
                    validationContainer.addClass("alert alert-danger");
                    if (resp.responseJSON) {
                        var obj = resp.responseJSON;
                        var html = "";

                        $.each(obj, function (i, item) {
                            $.each(item, function (index, text) {
                                html += text + "<br/>";
                            });
                        });

                        validationContainer.html(html);
                    } else {
                        validationContainer.html(resp.responseText);
                    }
                }
            });
        }

        $('.btn-add').on('click', function (e) {
            e.preventDefault();

            var uri = "/Admin/UserMedia/Create";

            var modal = bootbox.dialog({
                title: $L.get("category.text.create"),
                message: '<p><i class="fa fa-spin fa-spinner"></i> ' + $L.get("common.text.loading") + '</p>'
            });

            modal.init(function () {
                $.ajax({
                    url: uri,
                    success: function (resp) {
                        modal.find('.bootbox-body').html(resp);
                        var options = {
                            success: function (form) {
                                ajaxCall(form, $L.get("category.text.create.success"), "#UserMediaCreate");
                            }
                        }

                        var validationOptions = {
                            rules: {
                                MediaDirectory: {
                                    required: true
                                },
                            }
                        }

                        FormValidation.init("#UserMediaCreate", validationOptions);
                    }
                });
            });
        });

        var $btnRemove = $(".btn-remove");
        var $btnembedd = $(".btn-embedd");

        $btnembedd.click(function (e) {

            var url = $(this).attr("href");

            e.preventDefault();
            window.top.opener.CKEDITOR.dialog.getCurrent().setValueOf('info', 'txtUrl', encodeURI(url));
            window.top.close();
            window.top.opener.focus();
        });

        $btnRemove.click(function (e) {

            e.preventDefault();// used to stop its default behaviour
            var id = $(this).attr("data-id");
            bootbox.confirm($L.get("common.text.remove.item.confirmation"), function (result) {
                if (result === true) {
                    $.ajax({
                        url: "/admin/api/usermedias/" + id,
                        type: "DELETE",
                        timeout: 60000,
                        dataType: "json",
                        contentType: "application/json",
                        success: function (response) {
                            $alert.success("Gambar berhasil dihapus");
                            window.location.reload();
                        },
                        error: function (response) {
                            console.log(response);
                        },
                        beforeSend: function () {
                            $("#body-overlay").removeClass("hide");
                        },
                        complete: function () {
                            $("#body-overlay").addClass("hide");
                        }
                    });
                };
            });
        });

    </script>
}

<style>
    .display-hide, .display-none {
        display: none;
    }

    .col-lg-3.col-md-4.col-xs-6.thumb {
        margin-bottom: 20px;
    }
</style>