﻿@model List<SliderItem>
@{ 
    var counter = 0;
}

<div id="widget_slider" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        @foreach (var item in Model.OrderBy(x => x.Order))
        {
            var active = counter == 0 ? "active" : "";
            <li data-target="#@item.Name" data-slide-to="@counter" class="@active"></li>
            counter++;

            if (counter == Model.Count)
            {
                counter = 0;
            }
        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @foreach (var item in Model.OrderBy(x => x.Order))
        {
            var active = counter == 0 ? "active" : "";
            var url = string.IsNullOrWhiteSpace(item.Link) ? "#" : item.Link;
            <div class="item @active">
                <a href="@url">
                    <img src="@item.Attachment.CropedPath" alt="@item.Name" style="width:100%" />
                    <div class="carousel-caption" role="option">
                        <p>
                            @item.Caption
                        </p>
                    </div>
                </a>
            </div>
            counter++;
        }
    </div>
    <a class="left carousel-control" href="#widget_slider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#widget_slider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>