﻿@using App.Web.Models.ViewModels.App
@model CategoryForm

@{
    Layout = null;
}

<form id="CategoryCreate" role="form" action="/admin/api/categories/edit/@Model.Id" method="PUT">
    <div class="role-body">
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
        </div>
        <div class="alert alert-success display-hide">
            <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger" id="validation-summary"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label">
                @Localization.GetLocalized("resource.text.create.name")
                <span class="text-danger"> * </span>
            </label>
            <div>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger" />
                <input asp-for="ParentId" class="form-control" type="hidden" />
            </div>
        </div>
        <hr />
        <div class="form-actions pull-right">
            <input type="submit" value="@Localization.GetLocalized("common.button.save")" class="btn blue" />
            <button type="button" class="btn default bootbox-close-button">@Localization.GetLocalized("common.button.cancel")</button>
        </div>
        <div class="clearfix"></div>
    </div>
</form>
@section scripts{

    <script>
        $(document).ready(function () {
            var url = "/admin/api/categories/gettree"
            UITree.init("#category-treeview", url);
        });
        $common.setMenu("#menu-paramter");

    </script>
}