﻿@{
    ViewData["Title"] = "Category Management Page";
}

@section breadcrumb{
    <li>
        <span>@Localization.GetLocalized("backadmin.menu.category.management")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("category.management.text"))</h1>
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.list")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-success btn-add" href="#"><i class="fa fa-plus-circle"></i> @Localization.GetLocalized("common.button.add.new")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <div id="category-treeview" class="tree-demo"> </div>
    </div>
</div>

@section styles{
    <link href="~/assets/global/plugins/jstree/dist/themes/default/style.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/assets/global/plugins/jstree/dist/jstree.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>
    <script src="~/assets/pages/scripts/category/category-page.js"></script>
    <script>
        $(document).ready(function () {
            var url = "/admin/api/categories/gettree"
            UITree.init("#category-treeview", url);
        });
        $common.setMenu("#menu-paramter");
        Category.init("@Url.Action("Create")");

    </script>
}