﻿.justification-page {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px 20px;
}

.justification-page-title {
    text-align: center;
    padding: 30px 0;
    font-size: 18px;
}

.justification-page-title small {
    font-size: 70%;
}

table.justification-page-detail-table {
    border: none;
}

table.justification-page-detail-table td {
    vertical-align: top;
    padding-top:5px;
}

.justification-page-section {
    padding-top: 20px;
    font-size: 14px;
}

.justification-page-section:first-child {
    padding-top:30px;
}

.justification-page-section-header {
    font-size: 16px;
    padding-bottom:5px;
}

form.form-approval-button{
    display: inline;
}