﻿@model LogViewModel
@{
    ViewBag.Title = "Log Page | Details";
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("log.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.details")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("log.text.log"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.details")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label asp-for="Id" class="control-label col-md-3">
                        @Localization.GetLocalized("log.text.detail.id")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Id
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Application" class="control-label col-md-3">
                        @Localization.GetLocalized("log.text.detail.application")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Application
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CallSite" class="control-label col-md-3">
                        @Localization.GetLocalized("log.text.detail.call.site")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.CallSite
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Exception" class="control-label col-md-3">
                        @Localization.GetLocalized("log.text.detail.exception")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Exception
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Level" class="control-label col-md-3">
                        @Localization.GetLocalized("log.text.detail.level")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Level
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Logged" class="control-label col-md-3">
                        @Localization.GetLocalized("log.text.detail.logged")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Logged
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Logger" class="control-label col-md-3">
                        @Localization.GetLocalized("log.text.detail.logger")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Logger
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Message" class="control-label col-md-3">
                        @Localization.GetLocalized("log.text.detail.message")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Message
                        </p>
                    </div>
                </div>

            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-log");
        });
    </script>
}