﻿@{
    ViewData["Title"] = "Log Page";
}

@section breadcrumb{
    <li>
        <span>@Localization.GetLocalized("log.text")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("log.text.log"))</h1>
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.list")</span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <table id="table-log" class="table table-striped" cellspacing="0" width="100%">
            <colgorup>
                <col width="">
                <col width="">
                <col width="">
                <col width="">
                <col width="100">
            </colgorup>
            <thead>
                <tr>
                    <th>@Localization.GetLocalized("log.text.index.application")</th>
                    <th>@Localization.GetLocalized("log.text.index.message")</th>
                    <th>@Localization.GetLocalized("log.text.index.level")</th>
                    <th>@Localization.GetLocalized("log.text.index.logged")</th>
                    <th>@Localization.GetLocalized("common.text.action")</th>
                </tr>
            </thead>

        </table>
    </div>
</div>

@{
    Html.RenderPartial("_DatatablesAssets");
}

@section scripts{
    <script src="~/assets/pages/scripts/log/app.js"></script>
    <script>
        $(document).ready(function () {
            Log.init("@Url.Action("Details")", "@Config.GetConfig("format.datetime.long.moment")");
            $common.setMenu("#menu-websetting", "#menu-log");
        });
    </script>
}