﻿@model SeedingViewModel
@{
    ViewBag.Title = "Seeding | Index";
}

@section breadcrumb{
    <li>
        <span>Seed Data</span>
    </li>
}

<h1 class="page-title">Seed <small>Data</small></h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">Select Data To Seed</span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" asp-action="Seed" method="post" class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label asp-for="WebSetting" class="control-label col-md-3">
                        Web Setting
                    </label>
                    <div class="col-md-4">
                        <div class="mt-checkbox-inline">
                            <label class="mt-checkbox">
                                @Html.EditorFor(m => m.WebSetting)
                                <span></span>
                            </label>
                        </div>
                        <span asp-validation-for="WebSetting" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Locale" class="control-label col-md-3">
                        Locale
                    </label>
                    <div class="col-md-4">
                        <div class="mt-checkbox-inline">
                            <label class="mt-checkbox">
                                @Html.EditorFor(m => m.Locale)
                                <span></span>
                            </label>
                        </div>
                        <span asp-validation-for="Locale" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; Seed Data</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section styles{
    <link rel="stylesheet" href="~/assets/global/plugins/icheck/skins/all.css" />
}

@section scripts {
    <script src="~/assets/global/plugins/icheck/icheck.min.js"></script>
}
