﻿@model WBSUnit

<div class="form-horizontal">
    <input type="hidden" asp-for="KodeUnit" />
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Direktorat" class="control-label col-md-3">
                    @Localization.GetLocalized("user.management.text.create.direktorat")
                </label>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="Direktorat" readonly>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UnitBisnis" class="control-label col-md-3">
                    @Localization.GetLocalized("user.management.text.create.unit.bisnis")
                </label>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="UnitBisnis" readonly>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UnitKerja" class="control-label col-md-3">
                    @Localization.GetLocalized("user.management.text.create.unit.kerja")
                </label>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="UnitKerja" readonly>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Bagian" class="control-label col-md-3">
                    @Localization.GetLocalized("user.management.text.create.bagian")
                </label>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for="Bagian" readonly>
                </div>
            </div>
        </div>
    </div>
</div>
