﻿﻿@model List<LanguageViewModel>

<li class="dropdown dropdown-language dropdown-dark">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <span class="langname">@Localization.GetLocalized("language.selector.text.language")</span>
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-default">
        @foreach (var item in Model)
            {
            <li><a href="#" class="language-select" data-culture="@item.LanguageCulture"><img src="@item.Flag" alt="@item.Name" /> @item.Name</a></li>
        }
    </ul>
    <form id="selectLanguage" asp-controller="Home"
          asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path"
          asp-route-area=""
          method="post" class="form-horizontal" role="form">
        <input type="hidden" name="culture" />
    </form>
</li>

<script>
    $(".language-select").on("click", function (e) {
        e.preventDefault();
        var culture = $(this).data("culture");
        $("input[name='culture']").val(culture);
        $("#selectLanguage").trigger("submit");
    });
</script>