﻿﻿@model List<LanguageViewModel>

<ul class="nav navbar-nav navbar-nav-bordered navbar-nav-margin-right h-50 main-colour-bg" style="margin-top:-1px">
    <li class="dropdown language active h-50 main-colour-bg no-border">
        <a href="#" class="dropdown-toggle h-50 main-colour-bg text-white" data-toggle="dropdown" style="line-height:50px !important">
            @Localization.GetLocalized("language.selector.text.language")<span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" style="height:inherit">
            @foreach (var item in Model)
            {
                <li><a href="#" class="language-select" data-culture="@item.LanguageCulture"><img src="/@item.Flag" alt="@item.Name" /> @item.Name</a></li>
            }
        </ul>
        <form id="selectLanguage" asp-controller="Home"
              asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path"
              method="post" class="form-horizontal" role="form">
            <input type="hidden" name="culture" />
        </form>
    </li>
</ul>

<script>
    $(".language-select").on("click", function (e) {
        e.preventDefault();
        var culture = $(this).data("culture");
        $("input[name='culture']").val(culture);
        $("#selectLanguage").trigger("submit");
    });
</script>