﻿@{
    ViewData["Title"] = "Confirm Email";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<div class="content">

    <h3 class="form-title font-green">Email Confirmation</h3>
    <p>
        Terimakasih Telah Melakukan konfirmasi email.
        Please <a asp-controller="Account" asp-action="Login">Klik disini untuk login</a>.
    </p>
</div>