﻿@using System.Collections.Generic
@using System.Threading.Tasks
@using App.Domain.Models.Identity
@using App.Web.Models.ViewModels.Identity.AccountViewModels
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@model ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<div class="content">
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form class="forget-form" asp-action="ForgotPassword" method="post">
        <h3 class="font-green">Forget Password ?</h3>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <button class="close" data-close="alert"></button>
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        }
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span>Enter valid e-mail address. </span>
        </div>
        <p> Enter your e-mail address below to reset your password. </p>
        <div class="form-group">
            <input asp-for="Email" class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-actions">
            <a href="@Url.Action("Login")" id="back-btn" class="btn green btn-outline">Back</a>
            <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
        </div>
    </form>
    <!-- END FORGOT PASSWORD FORM -->
</div>

@section scripts{
    <script src="~/assets/pages/scripts/account/forgot-password.js"></script>
}