﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<div class="content">
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form class="login-form">
        <h3 class="font-green">Forgot Password Confirmation</h3>
        <p>
            Please check your email to reset your password.
        </p>
        <div class="form-actions">
            <a href="@Url.Action("Login")" id="back-btn" class="btn green btn-outline">Back to Login</a>
        </div>
    </form>
    <!-- END FORGOT PASSWORD FORM -->
</div>