﻿@{
    ViewData["Title"] = "Locked out";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<div class="content">
    <form class="form">
        <h3 class="text-danger">Locked Out</h3>
        <p class="text-danger">This account has been locked out, please try again later.</p>
    </form>
</div>
