@using System.Threading.Tasks
@using App.Web.Models.ViewModels.Identity.AccountViewModels
@model RegisterViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
    var logo = Config.GetConfig("back.admin.logo");
    logo = string.IsNullOrWhiteSpace(logo) ? "/assets/layouts/layout/img/logo.png" : logo;
}

<div class="content">
    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="register-form">
        <div class="logo-container">
            <img src="@logo" alt="logo" class="logo-default" />
        </div>
        <p class="hint">Enter your personal details below:</p>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <button class="close" data-close="alert"></button>
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        }
        @if (TempData.ContainsKey("Success"))
        {
            <div class="alert alert-success">
                <i class="fa fa-exclamation-circle"></i><small> @TempData["Success"]</small>
                <button type="button" class="close" data-dismiss="alert">
                    ?
                </button>
            </div>
            TempData.Remove("message");
            TempData.Remove("cls");
        }
         <div class="form-group">
            <input asp-for="Nik" class="form-control" placeholder="Nik" />
            <span asp-validation-for="Nik" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Name" class="form-control" placeholder="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <p class="hint">Enter your account details below:</p>
        <div class="form-group">
            <input asp-for="Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Re-type Your Password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-actions margin-bottom-25">
            <button type="submit" class="btn green btn-block uppercase">Register</button>
        </div>
        <div class="create-account">
            <p>
                <a asp-controller="Account" asp-action="Login">Already Have Account? Sign In Here</a>
            </p>
        </div>
    </form>
</div>

@section Styles{
    <style>
        .register-form{
            display: block !important;
        }
    </style>
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
