﻿@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<div class="content">
    <form class="form">
        <h3>Reset Password Confirmation</h3>
        <hr />
        <p>
            @TempData["Message"] Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
        </p>
    </form>
</div>