﻿@using System.Threading.Tasks
@model App.Web.Models.ViewModels.Identity.AccountViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form reset-form">
        <h3>Reset your password</h3>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Code" type="hidden" />
        <div class="form-group">
            <input asp-for="Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <p class="hint">Enter new password below:</p>
        <div class="form-group">
            <input asp-for="Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Passsword" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
        </div>
    </form>
    <div class="create-account">
        <p>
            <a asp-action="Login" asp-controller="Account">Already have an Account? Sign In</a>
        </p>
    </div>
</div>

@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/assets/pages/scripts/account/reset-password.js"></script>
}