﻿@{
    ViewData["Title"] = "Confirm Email";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<div class="content ">

    <h3 class="form-title font-green">Registrasi </h3>
    <p class="center-align">
        Anda telah berhasil melakukan registrasi.
        Silahkan lakukan konfimasi Email
        <a asp-controller="Account" asp-action="Login">Klik disini untuk login</a>
    </p>
</div>