﻿@{
    var additionalData = (Dictionary<string, string>)ViewBag.AdditionalData;
}

<div id=":12d" class="a3s aXjCH m15498a338b3c3c2a">
    <u>
    </u>
    <div bgcolor="#FFFFFF" style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;width:100%!important;min-height:100%;font-size:14px;color:#404040;margin:0;padding:0">
        <table style="max-width:100%;border-collapse:collapse;border-spacing:0;width:100%;background-color:transparent;margin:0;padding:0" bgcolor="transparent">
            <tbody>
                <tr style="margin:0;padding:0">
                    <td style="margin:0;padding:0"></td>
                    <td style="display:block!important;max-width:600px!important;clear:both!important;margin:0 auto;padding:0">
                        <div style="max-width:600px;display:block;border-collapse:collapse;margin:0 auto;padding:0;border:0 solid #e7e7e7">
                            <table bgcolor="#fff" style="max-width:100%;border-collapse:collapse;border-spacing:0;width:100%;background-color:transparent;margin:0;padding:0">
                                <tbody>
                                    <tr style="margin:0;padding:0">
                                        <td height="4" bgcolor="#eeb211" style="background-color:#86ec6a!important;line-height:4px;font-size:4px;margin:0;padding:0">&nbsp;</td>
                                        <td height="4" bgcolor="#d50f25" style="background-color:#7cd55f!important;line-height:4px;font-size:4px;margin:0;padding:0">&nbsp;</td>
                                        <td height="4" bgcolor="#3369E8" style="background-color:#42b549!important;line-height:4px;font-size:4px;margin:0;padding:0">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td style="margin:0;padding:0"></td>
                </tr>
            </tbody>
        </table>
        <table style="max-width:100%;border-collapse:collapse;border-spacing:0;width:100%;background-color:transparent;margin:0;padding:0" bgcolor="transparent">
            <tbody>
                <tr style="margin:0;padding:0">
                    <td style="margin:0;padding:0"></td>
                    <td bgcolor="#FFFFFF" style="display:block!important;max-width:600px!important;clear:both!important;margin:0 auto;padding:0">
                        <div style="max-width:600px;display:block;border-collapse:collapse;margin:0 auto;padding:30px 15px;border:1px solid #e7e7e7">
                            <table style="max-width:100%;border-collapse:collapse;border-spacing:0;width:100%;background-color:transparent;margin:0;padding:0" bgcolor="transparent">
                                <tbody>
                                    <tr style="margin:0;padding:0">
                                        <td style="margin:0;padding:0">
                                            <h5 style="line-height:24px;color:#000;font-weight:900;font-size:17px;margin:0 0 20px;padding:0">Forgot your password? Reset it below:</h5>
                                            <div style="margin-bottom:20px">
                                                <br />
                                                <p style="font-weight:normal;font-size:14px;line-height:1.6;margin:0 0 20px;padding:0">Please reset your password by clicking this <a style="color:#0f990f;text-decoration:none;margin: 0;padding: 0;" rel="nofollow" href="@additionalData["CallbackUrl"]">link</a></p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td style="margin:0;padding:0"></td>
                </tr>
            </tbody>
        </table>
        <table style="max-width:100%;border-collapse:collapse;border-spacing:0;width:100%;clear:both!important;background-color:transparent;margin:0 0 60px;padding:0" bgcolor="transparent">
            <tbody>
                <tr style="margin:0;padding:0">
                    <td style="margin:0;padding:0"></td>
                    <td style="display:block!important;max-width:600px!important;clear:both!important;margin:0 auto;padding:0">
                        <div style="max-width:600px;display:block;border-collapse:collapse;background-color:#fff;margin:0 auto;padding:20px 15px;border-color:#e7e7e7;border-style:solid;border-width:0 1px 1px">
                            <table width="100%" style="max-width:100%;border-collapse:collapse;border-spacing:0;width:100%;background-color:transparent;margin:0;padding:0" bgcolor="transparent">
                                <tbody style="margin:0;padding:0">
                                    <tr style="margin:0;padding:0">
                                        <td valign="middle" style="margin:0;padding:0">
                                            <p style="color:#91908e;font-size:10px;line-height:150%;font-weight:normal;margin:0px;padding-left:200px">
                                                Copyright  &copy;  @DateTime.Now.Year <strong>Sangkuriang</strong>. All rights reserved
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td style="margin:0;padding:0"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="yj6qo"></div>
    <div class="adL">

    </div>
</div>
