﻿@model dynamic

<div>
    <h1>Anda mempunyai dokumen baru untuk di approve.</h1>

    <p style="font-weight:normal;font-size:14px;line-height:1.6;margin:0 0 20px;padding:0">Klik <a style="color:#0f990f;text-decoration:none;margin: 0;padding: 0;" rel="nofollow" href="@Model.CallbackUrl">disini</a> untuk melakukan approval </p>
</div>