﻿@{
    ViewData["Title"] = "Transformer Period Management Page";
}

@section breadcrumb{
    <li>
        <span>@Localization.GetLocalized("backadmin.menu.transformer.periode.management")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("transformer.periode.management.text"))</h1>
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.list")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-success" href="#"><i class="fa fa-refresh"></i> @Localization.GetLocalized("transformer.button.reindexing")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <table id="table-transformer-periode" class="table table-striped" cellspacing="0" width="100%">
            <colgorup>
                <col width="">
                <col width="">
             </colgorup>
            <thead>
                <tr>
                    <th>@Localization.GetLocalized("transformer.periode.management.text.index.periode.id")</th>
                    <th>@Localization.GetLocalized("transformer.periode.management.text.index.periode.name")</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>@Localization.GetLocalized("transformer.periode.management.text.index.periode.id")</th>
                    <th>@Localization.GetLocalized("transformer.periode.management.text.index.periode.name")</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


@{
    Html.RenderPartial("_DatatablesAssets");
}

@section scripts{
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-sto-management");
            var datatableOption = {
                ajaxMethod: "POST",
                listUrl: "/admin/api/transformers/postdatatables",
                columnDefs: [
                          {
                              "targets": 0,
                              "data": "period",
                              name: "Period"
                          },
                         {
                             "targets": 1,
                             "data": "display_name",
                             name: "Display_name"
                         },
                ]
            }
            $datatables.init("#table-transformer-periode", datatableOption);
        });
    </script>
}