﻿@using Newtonsoft.Json
@model string

@{
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;

    Dictionary<string, string> dictionary = null;

    if (!string.IsNullOrWhiteSpace(Model))
    {
        dictionary = JsonConvert.DeserializeObject<Dictionary<string, string>>(Model);
    }
}

<div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @if (dictionary != null && dictionary.Any())
            {
                @foreach (var item in dictionary)
                {
                    <tr>
                        <td>@item.Key</td>
                        <td>@item.Value</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>