﻿@model List<HargaViewModel>

@{
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
}

<div>
    <table class="table table-bordered table-stripped">
        <thead>
            <tr>
                <th>Mata Uang</th>
                <th>Harga Material</th>
                <th>Harga Jasa</th>
                <th>Lokasi</th>
            </tr>
        </thead>
        @if (Model != null)
        {
            var counter = 0;
            foreach (var item in Model.OrderBy(x => x.Lokasi))
            {
                <tbody>
                    <tr>
                        <td>
                            @item.MataUang
                        </td>
                        <td class="display-number">
                            @item.HargaMaterial
                        </td>
                        <td class="display-number">
                            @item.HargaJasa
                        </td>
                        <td>
                            @item.Lokasi
                        </td>
                    </tr>
                </tbody>
                counter++;
            }
        }
    </table>
</div>

<script>
    $(document).ready(function () {
        $('.display-number').number(true, 2, ',', '.');
    });
</script>
