﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<p>Use this area to provide additional information.</p>
@* Url(http://minerba-service.sangkuriang.co.id/nitip/AKI_Telkom_ERP.xlsx) file bisa dinamais
    -Dokumentasi https://gist.github.com/tzmartin/1cf85dc3d975f94cfddc04bc0dd399b *@

<iframe src='https://view.officeapps.live.com/op/view.aspx?src=http://minerba-service.sangkuriang.co.id/nitip/AKI_Telkom_ERP.xlsx' width='1200px' height='700px' frameborder='0'></iframe>