﻿@model WfActivityViewViewModel
@{
    ViewBag.Title = "Wf Activity View Management Page | Details";
}
@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("wfactivityview.management.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.details")</span>
    </li>
}
<h1 class="page-title">@Html.Raw(Localization.GetLocalized("wfactivityview.management.text.wfactivityview.management"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.details")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label asp-for="Id" class="control-label col-md-3">
                        @Localization.GetLocalized("wfactivityview.management.text.detail.activity.name")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Id
                        </p>
                    </div>
                </div>
                <div class="form-group last">
                    <label asp-for="ViewName" class="control-label col-md-3">
                        @Localization.GetLocalized("wfactivityview.management.text.detail.view.name")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.ViewName
                        </p>
                    </div>
                </div>
                <div class="form-group last">
                    <label asp-for="VariableDict" class="control-label col-md-3">
                        @Localization.GetLocalized("wfactivityview.management.text.detail.variables")
                    </label>
                    <div class="col-md-6">
                        @Html.DisplayFor(m => m.Variables, "DictionaryStringString")
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp; @Localization.GetLocalized("common.button.edit")</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-wfactivityview-management");
        });
    </script>
}