﻿<link rel="stylesheet" href="~/assets/global/plugins/datatables/datatables.min.css" />
<link rel="stylesheet" href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" />
<link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

<script src="~/assets/global/plugins/datatables/datatables.min.js"></script>
<script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>
<script src="~/assets/apps/scripts/datatables.js"></script>