﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - App.Web(Admin Page) </title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <environment names="Development">
        <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />

        <!--Theme Global Styles-->
        <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />

        <!--Theme Layout Styles-->
        <link href="~/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/layouts/layout/css/themes/telkom.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="~/assets/layouts/layout/css/custom.css" rel="stylesheet" type="text/css" />
        <script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/jquery.debounce.min.js"></script>    
    </environment>
    
    <environment names="Staging,Production">
        <link href="~/css/admin.min.css" rel="stylesheet" type="text/css" />
        <script src="~/js/admin.core.min.js"></script>
    </environment>

    <!-- Global Mandatory Styles -->

    @RenderSection("styles", false)

    <link rel="shortcut icon" href="/favicon.ico" />


</head>
<body class="page-header-fixed page-sidebar-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
        @Html.Partial("_TopbarPartial", new { area = "Admin" })

        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            @Html.Partial("_MenuPartial", new { area = "Admin" })
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content @ViewBag.ContentBg">
                    <!-- BEGIN PAGE BAR -->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="/admin">@Localization.GetLocalized("backadmin.menu.home")</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            @RenderSection("breadcrumb", false)
                        </ul>
                    </div>
                    <!-- END PAGE BAR -->
                    @RenderBody()
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
            <br /><br />
        </div>

        <div class="page-footer">
            @*<div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>*@
            <div class="page-footer-inner">
                <a href="#">Support</a> &nbsp;|&nbsp;
                <a href="#">Terms of use</a> &nbsp;|&nbsp;
                <a href="#">Privacy Policy</a>
            </div>
            <div class="page-footer-inner pull-right">
                @DateTime.Now.Year &copy; App.Web (Telkom Indonesia)
            </div>

        </div>
        <!-- END FOOTER -->
    </div>
    <script src="~/resources/@(Localization.GetCulture()).js" type="text/javascript"></script>

    <environment names="Development">
        <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

        <!--Core Pluggins-->
        <script src="~/assets/apps/scripts/localization.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
        <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
        @*<script src="~/assets/global/plugins/bootstrap-sessiontimeout/bootstrap-session-timeout.min.js" type="text/javascript"></script>
        <script src="~/assets/apps/scripts/session-handler.js" type="text/javascript"></script>*@
        <!--Theme Global Scripts-->
        <script src="~/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <script src="~/assets/pages/scripts/common.js" type="text/javascript"></script>
        <script src="~/assets/apps/scripts/alert.js" type="text/javascript"></script>

        <!--Theme Layout Scipts-->
        <script src="~/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
        <script src="~/js/site.js"></script>

        <!--Custom Scripts-->
        <script src="~/js/ckeditor/ckeditor.js"></script>
        <script src="~/js/ckeditor/samples/js/sample.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/admin.plugin.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
