﻿@using System.Security.Claims

@{
    var masterClaims = (List<MasterClaim>)ViewBag.MasterClaims;
    var currentClaims = (List<Claim>)ViewBag.CurrentClaims;
    var modder = 1;
}

<form class="form-horizontal" method="post" id="FormManageClaims">
    <div class="form-body">
        <fieldset>
            <legend>@Localization.GetLocalized("master.claim.management.text.assign.claims")</legend>
            @foreach (var claim in masterClaims.OrderBy(x => x.Name))
            {
                <div class="form-group col-md-6">
                    <label class="control-label col-md-6">
                        @claim.Type (@claim.Name)
                    </label>
                    <div class="col-md-6">
                        <div class="mt-checkbox-list">
                            @foreach (var value in claim.Values)
                            {
                                var isChecked = "";
                                if (currentClaims.Any(x => x.Type == claim.Name && x.Value == value))
                                {
                                    isChecked = "checked='checked'";
                                }

                                <label class="mt-checkbox">
                                    <input type="checkbox" value="@value" name="@claim.Name" @isChecked /> @value
                                    <span></span>
                                </label>
                            }
                        </div>
                    </div>
                </div>
                if (modder % 2 == 0)
                {
                    <div class="clearfix"></div>
                }
                modder++;
            }
        </fieldset>
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; @Localization.GetLocalized("common.button.save")</button>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("#FormManageClaims").on("submit", function (e) {
            e.preventDefault();
            var data = {
                Id: "@ViewBag.ClaimId",
                Type: "@((int)ViewBag.ClaimType)",
                Claims: []
            };

            $.each($(this).find("input[type=checkbox]"), function (i, item) {
                if ($(item).is(":checked")) {
                    data.Claims.push({
                        Type: $(item).attr("name"),
                        Value: $(item).val()
                    });
                }
            });

            $.ajax({
                url: "/admin/api/claims/assignclaim",
                data: data,
                method: "POST",
                success: function (resp) {
                    if (resp.assign == "success") {
                        $alert.success($L.get("master.claim.text.assign.claim.success"));
                    } else {
                        $alert.error($L.get("master.claim.text.assign.claim.failed"));                        
                    }
                },
                error: function (resp) {
                    $alert.error($L.get("master.claim.text.assign.claim.failed"));
                },
                beforeSend: function () {
                    App.blockUI();
                },
                complete: function () {
                    App.unblockUI();
                }
            });
        });
    });
</script>