﻿@using App.Web.Helper
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px;">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <!-- END SIDEBAR TOGGLER BUTTON -->
            <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
            @*<li class="sidebar-search-wrapper">
                    <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                    <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
                    <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
                    <form class="sidebar-search  " action="page_general_search_3.html" method="POST">
                        <a href="javascript:;" class="remove">
                            <i class="icon-close"></i>
                        </a>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="@Localization.GetLocalized("common.text.search")...">
                            <span class="input-group-btn">
                                <a href="javascript:;" class="btn submit">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
                        </div>
                    </form>
                    <!-- END RESPONSIVE QUICK SEARCH FORM -->
                </li>*@
            <li class="heading">
                <h3 class="uppercase">Base Project</h3>
            </li>
            <li class="nav-item" id="menu-home">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">@Localization.GetLocalized("backadmin.menu.home")</span>
                </a>
            </li>
            @if (User.IsAdministrator() || User.IsCategoryManagement() || User.IsSTOManagement())
            {
                <li class="nav-item" id="menu-paramter">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-check"></i>
                        <span class="title">@Localization.GetLocalized("backadmin.menu.parameter")</span>
                    </a>
                    <ul class="sub-menu">
                        @if (User.IsAdministrator() || User.IsSTOManagement())
                        {
                            <li class="nav-item" id="menu-sto-management">
                                <a asp-area="Admin" asp-controller="Sto" asp-action="Index" class="nav-link nav-toggle">
                                    <i class="fa fa-map-marker"></i>
                                    <span class="title">@Localization.GetLocalized("backadmin.menu.sto.management")</span>
                                </a>
                            </li>
                        }
                        @if (User.IsAdministrator() || User.IsCategoryManagement())
                        {
                            <li class="nav-item" id="menu-category-management">
                                <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="nav-link nav-toggle">
                                    <i class="fa fa-briefcase"></i>
                                    <span class="title">@Localization.GetLocalized("backadmin.menu.category.management")</span>
                                </a>
                            </li>
                        }

                        @if (User.IsAdministrator() || User.IsAdminRegional())
                        {
                            <li class="nav-item" id="menu-activity-template-management">
                                <a asp-area="Admin" asp-controller="ActivityTemplate" asp-action="Index" class="nav-link nav-toggle">
                                    <i class="fa fa-line-chart"></i>
                                    <span class="title">@Localization.GetLocalized("backadmin.menu.activity.template")</span>
                                </a>
                            </li>
                        }
                        @if (User.IsAdministrator() || User.IsAdminRegional())
                        {
                            <li class="nav-item" id="menu-currency-management">
                                <a asp-area="Admin" asp-controller="Currency" asp-action="Index" class="nav-link nav-toggle">
                                    <i class="fa fa-money"></i>
                                    <span class="title">@Localization.GetLocalized("backadmin.menu.currency.management")</span>
                                </a>
                            </li>
                        }
                        @if (User.IsAdministrator() || User.IsAdminRegional())
                        {
                            <li class="nav-item" id="menu-referensiharga-management">
                                <a asp-area="Admin" asp-controller="Designator" asp-action="Index" class="nav-link nav-toggle">
                                    <i class="fa fa-cubes"></i>
                                    <span class="title">@Localization.GetLocalized("backadmin.menu.referensiharga.management")</span>
                                </a>
                            </li>
                        }

                    </ul>
                </li>
            }

            <li class="nav-item" id="menu-request">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-map"></i>
                    <span class="title">@Localization.GetLocalized("backadmin.menu.wbsmanagement")</span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item" id="menu-request">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="icon-map"></i>
                            <span class="title">@Localization.GetLocalized("backadmin.menu.aki.management")</span>
                        </a><ul class="sub-menu">
                            <li class="nav-item" id="menu-aki-management">
                                <a asp-area="Admin" asp-controller="Aki" asp-action="Index" class="nav-link nav-toggle">
                                    <i class="fa fa-file-excel-o"></i>
                                    <span class="title">@Localization.GetLocalized("backadmin.menu.aki.pengajuan")</span>
                                </a>
                                <a asp-area="Admin" asp-controller="Aki" asp-action="MyTask" class="nav-link nav-toggle">
                                    <i class="fa fa-inbox"></i>
                                    <span class="title">@Localization.GetLocalized("backadmin.menu.aki.pekerjaansaya")</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" id="menu-wbs-management">
                        <a asp-area="Admin" asp-controller="WBS" asp-action="Index" class="nav-link nav-toggle">
                            <i class="fa fa-briefcase"></i>
                            <span class="title">@Localization.GetLocalized("backadmin.menu.wbs.management")</span>
                        </a>
                    </li>

                    <li class="nav-item" id="menu-justification">
                        <a asp-area="Admin" asp-controller="Justification" asp-action="Index" class="nav-link nav-toggle">
                            <i class="fa fa-file-word-o"></i>
                            <span class="title">@Localization.GetLocalized("backadmin.menu.justification.management")</span>
                        </a>
                    </li>
                </ul>

            </li>

            @if (User.IsAdministrator() || User.IsAdminRegional())
            {
                <li class="nav-item" id="menu-parents">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-user-following"></i>
                        <span class="title">@Localization.GetLocalized("backadmin.menu.use.parents")</span>
                    </a>
                    <ul class="sub-menu">
                        @if (User.IsAdminRegional() || User.IsAdministrator())
                        {
                           
                            <li class="nav-item" id="menu-user-management">
                                <a asp-area="Admin" asp-controller="UserManagement" asp-action="Index" class="nav-link nav-toggle">
                                    <i class="icon-user"></i>
                                    <span class="title">@Localization.GetLocalized("backadmin.menu.user.management")</span>
                                </a>
                            </li>
                            <li class="nav-item" id="menu-grupwf-management">
                                <a asp-area="Admin" asp-controller="GroupWf" asp-action="Index" class="nav-link nav-toggle">
                                    <i class="icon-graduation"></i>
                                    <span class="title">@Localization.GetLocalized("backadmin.menu.grupwf.management")</span>
                                </a>
                            </li>
                        }
                        @if (User.IsAdministrator())
                        {
                            <li class="nav-item" id="menu-role-management">
                                <a asp-area="Admin" asp-controller="RoleManagement" asp-action="Index" class="nav-link nav-toggle">
                                    <i class="icon-users"></i>
                                    <span class="title">@Localization.GetLocalized("backadmin.menu.role.management")</span>
                                </a>
                            </li>

                            <li class="nav-item" id="menu-unit-management">
                                <a asp-area="Admin" asp-controller="Unit" asp-action="Index" class="nav-link nav-toggle">
                                    <i class="fa fa-user-md"></i>
                                    <span class="title">@Localization.GetLocalized("backadmin.menu.unit.management")</span>
                                </a>
                            </li>
                            <li class="nav-item" id="menu-appaction-management">
                                <a asp-area="Admin" asp-controller="AppAction" asp-action="Index" class="nav-link nav-toggle">
                                    <i class="icon-paper-plane"></i>
                                    <span class="title">@Localization.GetLocalized("backadmin.menu.appaction.management")</span>
                                </a>
                            </li>
                            <li class="nav-item" id="menu-master-claim">
                                <a asp-area="Admin" asp-controller="MasterClaim" asp-action="Index" class="nav-link nav-toggle">
                                    <i class="icon-lock"></i>
                                    <span class="title">@Localization.GetLocalized("backadmin.menu.master.claim")</span>
                                </a>
                            </li>
                        }

                    </ul>
                </li>
            }

            @if (User.IsAdministrator())
            {
                <li class="nav-item" id="menu-websetting">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-cursor"></i>
                        <span class="title">@Localization.GetLocalized("backadmin.menu.web.setting")</span>
                    </a>
                    <ul class="sub-menu">

                        <li class="nav-item" id="menu-language">
                            <a asp-area="Admin" asp-controller="Language" asp-action="Index" class="nav-link nav-toggle">
                                <i class="icon-flag"></i>
                                <span class="title">@Localization.GetLocalized("backadmin.menu.globalization.language")</span>
                            </a>
                        </li>
                        <li class="nav-item" id="menu-locale-resource">
                            <a asp-area="Admin" asp-controller="LocaleResource" asp-action="Index" class="nav-link nav-toggle">
                                <i class="icon-doc"></i>
                                <span class="title">@Localization.GetLocalized("backadmin.menu.globalization.resource")</span>
                            </a>
                        </li>

                        <li class="nav-item" id="menu-web-setting">

                            <a asp-area="Admin" asp-controller="WebSetting" asp-action="Index" class="nav-link nav-toggle">
                                <i class="icon-wrench"></i>
                                <span class="title">@Localization.GetLocalized("backadmin.menu.web.setting")</span>
                            </a>
                        </li>
                        <li class="nav-item" id="menu-email">
                            <a asp-area="Admin" asp-controller="Email" asp-action="Index" class="nav-link nav-toggle">
                                <i class="icon-envelope"></i>
                                <span class="title">@Localization.GetLocalized("backadmin.menu.email.archieve")</span>
                            </a>
                        </li>
                        <li class="nav-item" id="menu-log">
                            <a asp-area="Admin" asp-controller="Log" asp-action="Index" class="nav-link nav-toggle">
                                <i class="icon-notebook"></i>
                                <span class="title">@Localization.GetLocalized("backadmin.menu.log")</span>
                            </a>
                        </li>
                    </ul>
                </li>
            }


            @*@if (GlobalConfiguration.ModuleMenus.Any())
                {
                    <li class="heading">
                        <h3 class="uppercase">Installed Modules</h3>
                    </li>

                }
                @foreach (var menu in GlobalConfiguration.ModuleMenus.OrderBy(x => x.Order))
                {
                    if (menu.Children != null && menu.Children.Any())
                    {
                        var text = menu.UseDictionary ? Localization.GetLocalized(menu.Text) : menu.Text;
                        <li class="nav-item" id="@menu.Id">
                            <a href="#" class="nav-link nav-toggle">
                                <i class="@menu.Icon"></i>
                                <span class="title">@text</span>
                            </a>
                            <ul class="sub-menu">
                                @foreach (var child in menu.Children)
                                {
                                    var childText = child.UseDictionary ? Localization.GetLocalized(child.Text) : child.Text;
                                    <li class="nav-item" id="@child.Id">
                                        <a asp-area="@child.Area" asp-controller="@child.Controller" asp-action="@child.Action" class="nav-link nav-toggle">
                                            <span class="title">@childText</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        var text = menu.UseDictionary ? Localization.GetLocalized(menu.Text) : menu.Text;
                        <li class="nav-item" id="@menu.Id">
                            <a asp-area="@menu.Area" asp-controller="@menu.Controller" asp-action="@menu.Action" class="nav-link nav-toggle">
                                <i class="@menu.Icon"></i>
                                <span class="title">@text</span>
                            </a>
                        </li>
                    }
                }*@
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
<!-- BEGIN CONTENT -->