﻿@{ 
    var logo = Config.GetConfig("back.admin.logo");
    logo = string.IsNullOrWhiteSpace(logo) ? "/assets/layouts/layout/img/logo.png" : logo;
}

<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="@Url.Action("Index", "Home", new { area = "Admin" })">
                <img src="@logo" alt="logo" class="logo-default" />
            </a>
            <div class="menu-toggler sidebar-toggler">
                <span></span>
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span></span>
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                @(await Component.InvokeAsync("LanguageSelector", new { backAdmin = true }))
                <li class="dropdown dropdown-user dropdown-dark">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" class="img-circle" src="@(UserHelper.GetAvatar(User))" />
                        <span class="username username-hide-on-mobile">@(UserHelper.GetCache(User)?.UserProfile?.Name)</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="@Url.Action("Index", "Profile")">
                                <i class="icon-user"></i> @Localization.GetLocalized("common.text.my.profile")
                            </a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()">
                                <i class="icon-key"></i> @Localization.GetLocalized("common.text.logout")
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
    <form asp-action="LogOff" asp-controller="Account" asp-area="" method="post" id="logoutForm">
        @Html.AntiForgeryToken()
    </form>
</div>
<!-- END HEADER -->