﻿@using App.Web.Models.ViewModels
@model UnitViewModel
    @{
        ViewBag.Title = "Unit Management Page | Details";
    }

    @section breadcrumb{
        <li>
            <a href="@Url.Action("Index")">@Localization.GetLocalized("unit.management.text")</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>@Localization.GetLocalized("common.text.details")</span>
        </li>
    }

    <h1 class="page-title">@Html.Raw(Localization.GetLocalized("unit.management.text.unit.management"))</h1>
    <div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.details")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label asp-for="Id" class="control-label col-md-3">
                        @Localization.GetLocalized("unit.index.grup.id")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Id
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="NamaUnit" class="control-label col-md-3">
                        @Localization.GetLocalized("unit.group.name")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.NamaUnit
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="NamaSingkat" class="control-label col-md-3">
                        @Localization.GetLocalized("unit.group.nick.name")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.NamaSingkat
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ParentId" class="control-label col-md-3">
                        @Localization.GetLocalized("unit.group.parent")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.ParentId
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="STLevel" class="control-label col-md-3">
                        @Localization.GetLocalized("unit.stlevel")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.STLevel
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp; @Localization.GetLocalized("common.button.edit")</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
        @section Scripts {
            <script>
                $(document).ready(function () {
                    $common.setMenu("#menu-parents");
                });
            </script>
        }
