﻿@{
    ViewData["Title"] = "Unit Management Page";
}
@section breadcrumb{
    <li>
        <span>@Localization.GetLocalized("unit.management.text")</span>
    </li>
}
<h1 class="page-title">@Html.Raw(Localization.GetLocalized("unit.management.text.unit.management"))</h1>
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.list")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-success" href="@Url.Action("Create")"><i class="fa fa-plus-circle"></i> @Localization.GetLocalized("common.button.add.new")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <table id="table-unit" class="table table-striped" cellspacing="0" width="100%">
            <colgorup>
                <col width="10">
                <col width="250">
                <col width="50">
                <col width="50">
                <col width="150">
            </colgorup>
            <thead>
                <tr>
                    <th>@Localization.GetLocalized("unit.index.grup.id")</th>
                    <th>@Localization.GetLocalized("unit.group.name")</th>
                    <th>@Localization.GetLocalized("unit.group.parent")</th>
                    <th>@Localization.GetLocalized("unit.stlevel")</th>
                    <th>@Localization.GetLocalized("common.text.action")</th>
                </tr>
            </thead>
          
        </table>
    </div>
</div>
@{
    Html.RenderPartial("_DatatablesAssets");
}
@section scripts{
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-parents");
            var datatableOption = {
                listUrl: "/admin/api/units/datatables",
                detailUrl: "@Url.Action("Details")/",
                editUrl: "@Url.Action("Edit")/",
                deleteUrl: "/admin/api/units/",
                deleteAlertSuccess: $L.get("units.management.text.delete.success"),
                columnDefs: [
                         {
                             "targets": -1,
                             "data": null,
                             "defaultContent": "<button class='btn btn-success detail' title='" + $L.get("unit.management.button.index.detail.title") + "'><i class='fa fa-info'></i></button>" +
                                 "<button class='btn btn-primary edit' title='" + $L.get("unit.management.button.index.edit.title") + "'><i class='fa fa-edit'></i></button>" +
                                 "<button class='btn btn-danger remove' title='" + $L.get("unit.management.button.index.delete.title") + "'><i class='fa fa-trash'></i></button>",
                             "orderable": false
                         },
                         {
                             "targets": 0,
                             "data": "id",
                             name: "Id"
                         },
                         {
                             "targets": 1,
                             "data": "namaUnit",
                             name: "NamaUnit"
                         },
                         {
                             "targets": 2,
                             "data": "parentId",
                             name: "ParentId"
                         },
                         {
                             "targets": 3,
                             "data": "stLevel",
                             name: "STLevel"
                         },
                ]
            }

            $datatables.init("#table-unit", datatableOption);
        });
    </script>
}