﻿@{
    ViewData["Title"] = "Web Setting Page";
}

@section breadcrumb{
    <li>
        <span>@Localization.GetLocalized("web.setting.text")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("web.setting.text.web.setting.management"))</h1>
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.list")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-success" href="@Url.Action("Create")"><i class="fa fa-plus-circle"></i> @Localization.GetLocalized("common.button.add.new")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <table id="table-web-setting" class="table table-striped" cellspacing="0" width="100%">
            <colgorup>
                <col width="">
                <col width="">
                <col width="150">
            </colgorup>
            <thead>
                <tr>
                    <th>@Localization.GetLocalized("web.setting.text.index.name")</th>
                    <th>@Localization.GetLocalized("web.setting.text.index.value")</th>
                    <th>@Localization.GetLocalized("common.text.action")</th>
                </tr>
            </thead>

           
        </table>
    </div>
</div>

@{
    Html.RenderPartial("_DatatablesAssets");
}

@section scripts{
    <script>
        $(document).ready(function () {
            
            $common.setMenu("#menu-websetting", "#menu-web-setting");
            var datatableOption = {
                listUrl: "/admin/api/websettings/datatables",
                detailUrl: "@Url.Action("Details")/",
                editUrl: "@Url.Action("Edit")/",
                deleteUrl: "/admin/api/websettings/",
                deleteAlertSuccess: $L.get("web.setting.text.delete.success"),
                columnDefs: [
                         {
                             "targets": -1,
                             "data": null,
                             render: function (data, type, dataObj) {
                                 var html = "<button class='btn btn-success detail' title='" + $L.get("web.setting.button.detail.text") + "'><i class='fa fa-info'></i></button>" +
                                 "<button class='btn btn-primary edit' title='" + $L.get("web.setting.button.edit.text") + "'><i class='fa fa-edit'></i></button>";
                                 if (!dataObj.systemSetting)
                                     html += "<button class='btn btn-danger remove' title='" + $L.get("web.setting.button.delete.text") + "'><i class='fa fa-trash'></i></button>";

                                 return html;
                             },
                             "orderable": false
                         },
                         {
                              "targets": -2,
                              "data": "value",
                              name: "Value"
                         },
                         {
                             "targets": 0,
                             "data": "name",
                             name: "Name"
                         }
                ]
            }

            $datatables.init("#table-web-setting", datatableOption);
        });
    </script>
}