﻿@model IList<SliderItem>
@{
    ViewData["Title"] = "Slider";
}

@section breadcrumb{
    <li>
        <span>@Localization.GetLocalized("slider.text")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("slider.text.slider.management"))</h1>
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.list")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-primary btn-reorder" href="@Url.Action("Reorder")"><i class="fa fa-sort"></i> @Localization.GetLocalized("common.button.reorder")</a>
            <a class="btn btn-success" href="@Url.Action("Create")"><i class="fa fa-plus-circle"></i> @Localization.GetLocalized("common.button.add.new")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <table id="table-slider" class="table table-striped" cellspacing="0" width="100%">
            <colgorup>
                <col width="250">
                <col width="">
                <col width="">
                <col width="">
                <col width="150">
            </colgorup>
            <thead>
                <tr>
                    <th data-sortable="false">@Localization.GetLocalized("slider.text.image")</th>
                    <th data-sortable="false">@Localization.GetLocalized("slider.text.caption")</th>
                    <th data-sortable="false">@Localization.GetLocalized("slider.text.link.to")</th>
                    <th>@Localization.GetLocalized("slider.text.order")</th>
                    <th data-sortable="false">@Localization.GetLocalized("common.text.action")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="/@item.Attachment.CropedPath" alt="@item.Name" class="img-responsive" />
                        </td>
                        <td>
                            @item.Caption
                        </td>
                        <td>
                            @item.Link
                        </td>
                        <td>
                            @item.Order
                        </td>
                        <td>
                            <a href="@Url.Action("Edit")?name=@item.Name" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                            <a href="#" class="btn btn-danger btn-delete" data-id="@item.Name"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th data-sortable="false">@Localization.GetLocalized("slider.text.image")</th>
                    <th data-sortable="false">@Localization.GetLocalized("slider.text.caption")</th>
                    <th data-sortable="false">@Localization.GetLocalized("slider.text.link.to")</th>
                    <th>@Localization.GetLocalized("slider.text.order")</th>
                    <th data-sortable="false">@Localization.GetLocalized("common.text.action")</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@{
    Html.RenderPartial("_DatatablesAssets");
}

@section styles{
    <link href="~/assets/global/plugins/jquery-nestable/jquery.nestable.css" rel="stylesheet" type="text/css" />
    <link href="~/Slider/css/style.css" rel="stylesheet" type="text/css" />
}

@section scripts{
    <script src="~/assets/global/plugins/jquery-nestable/jquery.nestable.js" type="text/javascript"></script>
    <script src="~/Slider/scripts/app.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            Slider.init();
        });
    </script>
}