﻿@model List<SliderItem>
@{
    ViewBag.Title = "Slider Page | Edit";
    Layout = null;
}

<form id="SliderReorder" role="form" action="@Url.Action("Reorder", "Slider")" method="post">
    <div class="role-body">
        <p>@Localization.GetLocalized("slider.text.drag.and.drop")</p>
        <div class="dd">
            <ol class="dd-list">
                @foreach (var item in Model.OrderBy(x => x.Order))
                {
                    <li class="dd-item" data-id="@item.Name">
                        <div class="dd-handle">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="/@item.Attachment.CropedPath" alt="@item.Name" class="img-responsive" />
                                </div>
                                <div class="col-md-9">
                                    @item.Caption
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ol>
        </div>
        <hr />
        <div class="form-actions pull-right">
            <input type="submit" value="@Localization.GetLocalized("common.button.save")" class="btn blue" />
            <button type="button" class="btn default bootbox-close-button">@Localization.GetLocalized("common.button.cancel")</button>
        </div>
        <div class="clearfix"></div>
    </div>
</form>
