﻿@model LanguageViewModel
@{
    ViewBag.Title = "Language Page | Details";
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("language.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.details")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("language.text.language.management"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.details")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label asp-for="Name" class="control-label col-md-3">
                        @Localization.GetLocalized("language.text.detail.name")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.Name
                        </p>
                    </div>
                </div>
                <div class="form-group last">
                    <label asp-for="LanguageCulture" class="control-label col-md-3">
                        @Localization.GetLocalized("language.text.detail.language.culture")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.LanguageCulture
                        </p>
                    </div>
                </div>
                <div class="form-group last">
                    <label asp-for="UniqueSeoCode" class="control-label col-md-3">
                        @Localization.GetLocalized("language.text.detail.unique.seo.code")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @Model.UniqueSeoCode
                        </p>
                    </div>
                </div>
                <div class="form-group last">
                    <label asp-for="Flag" class="control-label col-md-3">
                        @Localization.GetLocalized("language.text.detail.flag")
                    </label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            <img src="@Model.Flag" />
                        </p>
                    </div>
                </div>
                <div class="form-group last">
                    <label asp-for="DefaultLanguage" class="control-label col-md-3"></label>
                    <div class="col-md-9">
                        <p class="form-control-static">
                            @if (Model.DefaultLanguage)
                            {
                                <i class="fa fa-check font-green-jungle"></i>
                            }
                            else
                            {
                                <i class="fa fa-times font-red-intense"></i>
                            }
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp; @Localization.GetLocalized("common.button.edit")</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-websetting", "#menu-language");
        });
    </script>
}