﻿@model LanguageForm
@{
    ViewBag.Title = "Language Page | Edit";
    var flagImages = (List<string>)ViewBag.FlagImages;
}

@section breadcrumb{
    <li>
        <a href="@Url.Action("Index")">@Localization.GetLocalized("language.text")</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>@Localization.GetLocalized("common.text.edit")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("language.text.language.management"))</h1>
<div class="portlet light portlet-fit portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.edit")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("Index")"><i class="fa fa-arrow-circle-left"></i> @Localization.GetLocalized("common.button.return.to.index")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <form role="form" asp-action="Edit" method="post" id="LanguageEdit" class="form-horizontal">
            <div class="form-body">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.error")
                </div>
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button> @Localization.GetLocalized("common.validation.text.success")
                </div>
                @Html.ValidationSummary(true, "Failed to submit", new { @class = "alert alert-danger" })
                <div class="form-group">
                    <label asp-for="Name" class="control-label col-md-3">
                        @Localization.GetLocalized("language.text.edit.name")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="Name" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LanguageCulture" class="control-label col-md-3">
                        @Localization.GetLocalized("language.text.edit.language.culture")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="LanguageCulture" required>
                        <span asp-validation-for="LanguageCulture" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="UniqueSeoCode" class="control-label col-md-3">
                        @Localization.GetLocalized("language.text.edit.unique.seo.code")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" asp-for="UniqueSeoCode" required>
                        <span asp-validation-for="UniqueSeoCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Flag" class="control-label col-md-3">
                        @Localization.GetLocalized("language.text.edit.flag")
                        <span class="text-danger"> * </span>
                    </label>
                    <div class="col-md-4">
                        <select asp-for="Flag" class="bs-select form-control" data-show-subtext="true" required>
                            @foreach (var item in flagImages)
                            {
                                var selected = item == Model.Flag ? "selected='selected'" : "";
                                <option value="@item"
                                        data-content="<img src='@item'class='img-flag'/>&nbsp;@item.GetFilename()"
                                        @selected>
                                    @item
                                </option>
                            }
                        </select>
                        <span asp-validation-for="Flag" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DefaultLanguage" class="control-label col-md-3">
                        @Localization.GetLocalized("language.text.edit.is.default")
                    </label>
                    <div class="col-md-4">
                        <div class="mt-checkbox-inline">
                            <label class="mt-checkbox">
                                @Html.EditorFor(m => m.DefaultLanguage)
                                <span></span>
                            </label>
                        </div>
                        <span asp-validation-for="DefaultLanguage" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group last">
                    <div class="col-md-3 col-md-offset-3">
                        <label class="text-danger">* @Localization.GetLocalized("common.text.field.required")</label>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp; @Localization.GetLocalized("common.button.back")</a>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; @Localization.GetLocalized("common.button.save")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section styles{
    <link rel="stylesheet" href="~/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" />
}

@section Scripts {
    <script src="~/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/pages/scripts/form-validation.js"></script>
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-websetting", "#menu-language");
            FormValidation.init("#LanguageEdit");
            $('.bs-select').selectpicker({
                size: 4,
                liveSearch: true
            });
        });
    </script>
}
