﻿@{
    ViewData["Title"] = "Language Page";
}

@section breadcrumb{
    <li>
        <span>@Localization.GetLocalized("language.text")</span>
    </li>
}

<h1 class="page-title">@Html.Raw(Localization.GetLocalized("language.text.language.management"))</h1>
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green sbold uppercase">@Localization.GetLocalized("common.text.list")</span>
        </div>
        <div class="pull-right">
            <a class="btn btn-primary btn-update" href="@Url.Action("Update")"><i class="fa fa-refresh"></i> @Localization.GetLocalized("language.button.update.resources")</a>
            <a class="btn btn-success" href="@Url.Action("Create")"><i class="fa fa-plus-circle"></i> @Localization.GetLocalized("common.button.add.new")</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
        <table id="table-language" class="table table-striped" cellspacing="0" width="100%">
            <colgorup>
                <col width="">
                <col width="">
                <col width="">
                <col width="100">
                <col width="100">
                <col width="150">
            </colgorup>
            <thead>
                <tr>
                    <th>@Localization.GetLocalized("language.text.index.name")</th>
                    <th>@Localization.GetLocalized("language.text.index.language.culture")</th>
                    <th>@Localization.GetLocalized("language.text.index.unique.seo.code")</th>
                    <th>@Localization.GetLocalized("language.text.index.flag")</th>
                    <th>@Localization.GetLocalized("language.text.index.is.default")</th>
                    <th>@Localization.GetLocalized("common.text.action")</th>
                </tr>
            </thead>

         
        </table>
    </div>
</div>

@{
    Html.RenderPartial("_DatatablesAssets");
}

@section scripts{
    <script>
        $(document).ready(function () {
            $common.setMenu("#menu-websetting", "#menu-language");

            var datatableOption = {
                ajaxMethod: "POST",
                listUrl: "/admin/api/languages/postdatatables",
                detailUrl: "@Url.Action("Details")/",
                editUrl: "@Url.Action("Edit")/",
                deleteUrl: "/admin/api/languages/",
                deleteAlertSuccess: $L.get("language.text.delete.success"),
                columnDefs: [
                         {
                             "targets": -1,
                             "data": null,
                             "defaultContent": "<button class='btn btn-success detail' title='" + $L.get("language.button.index.detail.title") + "'><i class='fa fa-info'></i></button>" +
                                 "<button class='btn btn-primary edit' title='" + $L.get("language.button.index.edit.title") + "'><i class='fa fa-edit'></i></button>" +
                                 "<button class='btn btn-danger remove' title='" + $L.get("language.button.index.delete.title") + "'><i class='fa fa-trash'></i></button>",
                             "orderable": false
                         },
                         {
                             "targets": 0,
                             "data": "name",
                             name: "Name"
                         },
                         {
                             "targets": 1,
                             "data": "languageCulture",
                             name: "LanguageCulture"
                         },
                         {
                             "targets": 2,
                             "data": "uniqueSeoCode",
                             name: "UniqueSeoCode"
                         },
                         {
                             "targets": 3,
                             "data": "flag",
                             name: "Flag",
                             "orderable": false,
                             render: function (data, type, dataObj) {
                                 var html = "<img src='" + data + "' alt='" + dataObj.name + "' class='img-flag'/>";
                                 return html;
                             }
                         },
                         {
                             "targets": 4,
                             "data": "defaultLanguage",
                             name: "DefaultLanguage",
                             render: function (data, type, dataObj) {
                                 if(data)
                                     return "<i class='fa fa-check font-green-jungle'></i>"

                                 return "<i class='fa fa-times font-red-intense'></i>";
                             },
                             "className": "dt-body-center",
                         }
                ]
            }

            $datatables.init("#table-language", datatableOption);

            $(".btn-update").on("click", function (e) {
                e.preventDefault();
                var uri = $(this).attr("href");
                $.ajax({
                    url: uri,
                    method: "POST",
                    success: function (resp) {
                        if (resp) {
                            $alert.success($L.get("language.text.update.resource.success"));
                        } else {
                            $alert.error($L.get("language.text.update.resource.failed"));
                        }
                    },
                    error: function (resp) {
                        $alert.error($L.get("language.text.update.resource.error"));
                    }
                })
            });
        });
    </script>
}